<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="advertise:adPlaybill:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="advertise:adPlaybill:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('advertise:adPlaybill:edit')}]];
        var removeFlag = [[${@permission.hasPermi('advertise:adPlaybill:remove')}]];
        var prefix = ctx + "advertise/adPlaybill"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "节目单",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'playbillId', 
					title : '节目单ID' 
				},
				{
					field : 'playbillNo', 
					title : '节目单编号' 
				},
				{
					field : 'playbillName', 
					title : '节目单名称' 
				},
				{
					field : 'status', 
					title : '节目单状态1:未完成";2:待审核";3:审核不通过";4:审核通过"' 
				},
				{
					field : 'flag', 
					title : '标识(0:有效，1:终止)' 
				},
				{
					field : 'publisher', 
					title : '节目单负责人' 
				},
				{
					field : 'begindate', 
					title : '节目单开始日期(格式:yyyy-MM-dd)
' 
				},
				{
					field : 'enddate', 
					title : '节目单结束日期(格式:yyyy-MM-dd)
' 
				},
				{
					field : 'screentype', 
					title : '适合播放的屏幕类型(0:横屏;1:竖屏)
' 
				},
				{
					field : 'flowid', 
					title : '节目单工作流ID' 
				},
				{
					field : 'remark', 
					title : '备注' 
				},
				{
					field : 'xmlpath', 
					title : '节目单的生成xml路径(审核成功后才有的)' 
				},
				{
					field : 'totallen', 
					title : '总时长(单位:分钟)' 
				},
				{
					field : 'checkmannames', 
					title : '指定初审人名称' 
				},
				{
					field : 'checkmanids', 
					title : '指定初审人empcode' 
				},
				{
					field : 'checkmannames2', 
					title : '指定终审人名称' 
				},
				{
					field : 'checkmanids2', 
					title : '指定终审人empcode' 
				},
				{
					field : 'isinsertplay', 
					title : '插播标识 1是插播的单子' 
				},
				{
					field : 'checkmannames3', 
					title : '插播审核人名称' 
				},
				{
					field : 'checkmanids3', 
					title : '插播审核人empcode' 
				},
				{
					field : 'fpid', 
					title : '插播单指向原节目单pid' 
				},
				{
					field : 'ftpid', 
					title : '节目单生成的FTP服务器id' 
				},
				{
					field : 'psize', 
					title : '节目单的大小' 
				},
				{
					field : 'themetemplateId', 
					title : '模版ID' 
				},
				{
					field : 'cid', 
					title : '栏目ID' 
				},
				{
					field : 'begintime', 
					title : '播放开始时间' 
				},
				{
					field : 'endtime', 
					title : '播放结束时间' 
				},
				{
					field : 'switchtype', 
					title : '切换策略的值' 
				},
				{
					field : 'isloop', 
					title : '是否重复播放' 
				},
				{
					field : 'isdel', 
					title : '是否已删除（0：删除，其他都是正常）' 
				},
				{
					field : 'resolpower', 
					title : '分辨率' 
				},
				{
					field : 'islayout', 
					title : '0内容模版，1页面布局' 
				},
				{
					field : 'createBy', 
					title : '' 
				},
				{
					field : 'createTime', 
					title : '' 
				},
				{
					field : 'updateBy', 
					title : '' 
				},
				{
					field : 'updateTime', 
					title : '' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.playbillId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.playbillId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>