<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
  .address-simple{
    display: none;
    position: absolute;
    top: 1px;
    left: 16px;
    height: 30px;
    line-height: 26px;
    padding: 3px 3px 3px 12px;
    font-size: 0;
    background-color: #eeeeee;
  }

  .address-simple span{
    font-size: 14px;
  }
</style>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-place-add">
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>场所名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">场所简拼：</label>
				<div class="col-sm-8">
					<input id="sname" name="sname" class="form-control" type="text">
				</div>
			</div>
      <!-- <div class="form-group">
            <label class="col-sm-3 control-label">场所类型：</label>
            <div class="col-sm-8">
              <select
                name="placeType"
                id="placeType"
                data-live-search="true"
                class="form-control block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="0">自营</option>
                <option value="1">代理</option>
                <option value="2">自购</option>
              </select>
           </div>
       </div> -->
      <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>场景：</label>
            <div class="col-sm-8">
              <select
                id="scene"
                name="scene"
                th:with="type=${@dict.getType('place_type')}"
                data-live-search="true"
                class="form-control block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">---请选择---</option>
                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
              </select>
            </div>
          </div>
      <div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>省份：</label>
				<div class="col-sm-8">
					<select
						name="province"
						id="province"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
                       	<option value="">---请选择---</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>城市：</label>
				<div class="col-sm-8">
					<select
						name="city"
						id="city"
            data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
                        <option value="">---请选择---</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>区县：</label>
				<div class="col-sm-8">
					<select
						name="county"
						id="county"
            data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
                        <option value="">---请选择---</option>
                    </select>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">父级场所：</label>
				<div class="col-sm-8">
					<select class="form-control" name="parentPlaceId" id="parentPlaceId">
                        <option value="">---请选择---</option>
                    </select>
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">详细地址：</label>
				<div class="col-sm-8">
          <button class="pwd-eye input-addon"
                  type="button"
                  title="点击获取经纬度"
                  style="font-size: 20px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="addressResolutionThrottle(addressResolution, 1000)">
            <span class="glyphicon glyphicon-map-marker"></span>
          </button>
          <textarea id="address" name="address" class="form-control" type="text" placeholder="填写详细地址（需包含省、市、区县）" rows="3" onblur="addressResolutionThrottle(addressResolution, 1000)"></textarea>
				</div>
			</div>
          <div class="form-group">
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-8">
					<input id="lon" name="lon" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
          <div class="form-group">
				<label class="col-sm-3 control-label">纬度：</label>
				<div class="col-sm-8">
					<input id="lat" name="lat" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-8">
					<input id="lon" name="lon" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">纬度：</label>
				<div class="col-sm-8">
					<input id="lat" name="lat" class="form-control" type="text">
				</div>
			</div> -->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">扫码套餐（备用）：</label>
				<div class="col-sm-8">
					<input id="packet" name="packet" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">出纸价格：</label>
				<div class="col-sm-8">
					<input id="tissuePrice" name="tissuePrice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">出纸长度：</label>
				<div class="col-sm-8">
					<select
		                id="tissueLen"
		                name="tissueLen"
		                th:with="type=${@dict.getType('tissue_len')}"
		                data-live-search="true"
		                class="form-control block-plugin__select-picker selectpicker"
		                data-style="btn-white btn-sm">
		                <option value="">---请选择---</option>
		                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	              	</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>服务网点：</label>
				<div class="col-sm-8">
					<select
						id="servicePoint"
						name="servicePoint"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>维修员：</label>
				<div class="col-sm-8">
					<select
						id="repairId"
						name="repairId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>送纸员：</label>
				<div class="col-sm-8">
					<select
						id="supplyId"
						name="supplyId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
					</select>
				</div>
			</div>
			<!-- 
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>经办人：</label>
				<div class="col-sm-8">
					<select
						id="operatorId"
						name="operatorId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
						<option th:each="c:${userListAll}"  th:value="${c.userId}" th:text="${c.userName}"/>
					</select>
				</div>
			</div>
			-->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>机主：</label>
				<div class="col-sm-8">
					<select id="ownerId" name="ownerId" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="c:${userListAll}"  th:value="${c.userId}" th:text="${c.userName}"/>
					</select>
				</div>
			</div> -->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">投放设备数量：</label>
				<div class="col-sm-8">
					<input id="deviceCount" name="deviceCount" class="form-control" type="text">
				</div>
			</div> -->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">开户行（合同收款方）：</label>
				<div class="col-sm-8">
					<input id="ctBank" name="ctBank" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收款账号：</label>
				<div class="col-sm-8">
					<input id="ctAccount" name="ctAccount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收款人：</label>
				<div class="col-sm-8">
					<input id="ctReceiver" name="ctReceiver" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收款人联系电话：</label>
				<div class="col-sm-8">
					<input id="ctPhone" name="ctPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收款人身份证：</label>
				<div class="col-sm-8">
					<input id="ctIdentity" name="ctIdentity" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">商家分成比例：</label>
				<div class="col-sm-8">
					<input id="ctRate" name="ctRate" class="form-control" type="text">
				</div>
			</div> -->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">场所状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="note" name="note" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">

      $('[data-toggle="tooltip"]').tooltip('show');

      // 节流
      var addressResolutionThrottleLastTime = null;
      function addressResolutionThrottle (fn, time) {
        return (function () {
          var nowTime = +new Date();
          if (nowTime - addressResolutionThrottleLastTime > time) {
            fn();
            addressResolutionThrottleLastTime = nowTime;
          }
        }())
      }

      // 腾讯地图api获取经纬度
      function addressResolution () {
        var province = $("#province ~ button[data-id=\"province\"] .filter-option-inner-inner").html();
        var city = $("#city ~ button[data-id=\"city\"] .filter-option-inner-inner").html();
        var county = $("#county ~ button[data-id=\"county\"] .filter-option-inner-inner").html();
        var address = document.getElementById("address");
        var lon = $("#lon");
        var lat = $("#lat");

        // if (!address.value) return $.modal.alert("请先选择省份、城市、区县");
        if (!(address.value && address.value.indexOf(province) > -1 && address.value.indexOf(city)  > -1 && address.value.indexOf(county)  > -1)) {
          lon.val("");
          lat.val("");
         return $.modal.alert("请填写省市县详细（详细地址需包含省份、城市、区县）");
        }

        $.ajax({
          url: "https://apis.map.qq.com/ws/geocoder/v1/",
          type: "GET",
          dataType: "jsonp",
          jsonpCallback: "addressResolutionJsonp",
          data: {
            address: address.value,
            key: "34RBZ-FDK3O-JL5WH-S5EUP-UD5HQ-O3FF7",
            output: "jsonp"
          }
        });
      }

      // 腾讯地图api返回方法
      function addressResolutionJsonp(data){
        var lat = document.getElementById('lat');//需要用数据库字段才会保存,lat纬度，lon经度
        var lng = document.getElementById('lon');
        if(data.status === 0){
          lat.value =  data.result.location.lat;
          lng.value =  data.result.location.lng;
        }else{
          lat.value = lng.value = "";
          console.error(data.message);
        }
      }

      // 省、市、区设置地址
      $("#province, #city, #county").on("changed.bs.select", function (e, clickedIndex, isSelected, previousValue) {
        var province = $("#province ~ button[data-id=\"province\"] .filter-option-inner-inner").html();
        var city = $("#city ~ button[data-id=\"city\"] .filter-option-inner-inner").html();
        var county = $("#county ~ button[data-id=\"county\"] .filter-option-inner-inner").html();
        var address = $("#address");
        var lon = $("#lon");
        var lat = $("#lat");

        if ((province && province !== "---请选择---")
          && (city && city !== "---请选择---")
          && (county && county !== "---请选择---")
          && !address.val()) {
          address.val(province + city + county);
          addressResolution();
        }else{
          address.val("");
          lon.val("");
          lat.val("");
        }
      });

	    $(function () {
	        //默认绑定省
	        proviceBind();
	        //绑定事件
	        $("#province").change( function () {
	            cityBind();
	        })

	        $("#city").change(function () {
	        	countyBind();
	        })

	        $("#county").change(function () {
	        	//获取服务网点
	        	getServicePointList();
	        })
	        
	        $("#servicePoint").change(function () {
	        	//根据服务商选择维修人员选择范围
	        	getRepairUserListByRepairId();
	        })

	        var placeList = selectPlaceList();
	    	$.each(placeList, function (i) {
            	$('#parentPlaceId').append("<option value=" + placeList[i].placeId + ">" + placeList[i].name + "</option>");
            });
	    })

	    function proviceBind() {
	        //清空下拉数据
	        $("#province").html("");
	        var str = "<option value=''>---请选择---</option>";

	        var provinceAreaList = selectAreaListByPid("0");
	        $.each(provinceAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到省份这个下拉框里面
            $("#province").append(str).selectpicker("refresh");
	    }
	    function cityBind() {
	        var provice = $("#province option:selected").val();
	        //判断省份这个下拉框选中的值是否为空
	        if (provice == "") {
	            return;
	        }
	        $("#city").html("");
	        var str = "<option value=''>---请选择---</option>";

	        var cityAreaList = selectAreaListByPid(provice);
	        $.each(cityAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到市这个下拉框里面
            $("#city").append(str).selectpicker("refresh");
	    }
	    function countyBind() {
	        var provice = $("#city option:selected").val();
	        //判断市这个下拉框选中的值是否为空
	        if (provice == "") {
	            return;
	        }
	        $("#county").html("");
	        var str = "<option value=''>---请选择---</option>";

	        var countyAreaList = selectAreaListByPid(provice);
	        $.each(countyAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到区县这个下拉框里面
            $("#county").append(str).selectpicker("refresh");
	    }

	  	//通过选择的区域获取服务网点，再根据服务网点获取维修员送纸员
	    function getServicePointList() {
	    	var city = $("#city option:selected").val();
	        var county = $("#county option:selected").val();
	        //判断区县这个下拉框选中的值是否为空
	        if (county == "") {
	            return;
	        }
	        $("#servicePoint").html("");
	        var servicePoint = "<option value=''>---请选择---</option>";

	        var servicePointList = selectservicePointBycounty(city,county);
	        $.each(servicePointList, function (i, item) {
	        	servicePoint += "<option value=" + item.repairId + ">" + item.repairName + "</option>";
            })
            //将数据添加到服务网点这个下拉框里面
            $("#servicePoint").append(servicePoint).selectpicker("refresh");;
	    }
	  	//通过服务商获取维修员及送纸员
	    function getRepairUserListByRepairId() {
	    	var servicePoint = $("#servicePoint option:selected").val();
	        //判断区县这个下拉框选中的值是否为空
	        if (servicePoint == "") {
	            return;
	        }
	        $("#repairId").html("");
	        var repairStr = "<option value=''>---请选择---</option>";
	        $("#supplyId").html("");
	        var supplyStr = "<option value=''>---请选择---</option>";

	        var repairUserList = selectUserByRepairId(servicePoint);
	        $.each(repairUserList, function (i, item) {
	        	repairStr += "<option value=" + item.userId + ">" + item.userName + "</option>";
	        	supplyStr += "<option value=" + item.userId + ">" + item.userName + "</option>";
            })
            //将数据添加到区县这个下拉框里面
            $("#repairId").append(repairStr).selectpicker("refresh");;
	        $("#supplyId").append(supplyStr).selectpicker("refresh");;
	    }
	    //通过选择的区域获取维修员及送纸员
	    function getRepairUserList() {
	    	var city = $("#city option:selected").val();
	        var county = $("#county option:selected").val();
	        //判断区县这个下拉框选中的值是否为空
	        if (county == "") {
	            return;
	        }
	        $("#repairId").html("");
	        var repairStr = "<option value=''>---请选择---</option>";
	        $("#supplyId").html("");
	        var supplyStr = "<option value=''>---请选择---</option>";

	        var repairUserList = selectUserBycounty(city,county);
	        $.each(repairUserList, function (i, item) {
	        	repairStr += "<option value=" + item.userId + ">" + item.userName + "</option>";
	        	supplyStr += "<option value=" + item.userId + ">" + item.userName + "</option>";
            })
            //将数据添加到区县这个下拉框里面
            $("#repairId").append(repairStr).selectpicker("refresh");;
	        $("#supplyId").append(supplyStr).selectpicker("refresh");;
	    }

		var prefix = ctx + "business/place"
		$("#form-place-add").validate({
			rules:{
				placeCode:{
					required:true,
					remote: {
                        url: prefix + "/checkPlaceCodeUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                        	name : function() {
                                return $.common.trim($("#placeCode").val());
                            }
                        },
                        dataFilter: function(data, type) {
                        	return $.validate.unique(data);
                        }
                    }
				},
				name:{
					required:true,
				},
				province:{
					required:true,
				},
				city:{
					required:true,
				},
				county:{
					required:true,
				},
				repairId:{
					required:true,
				},
				supplyId:{
					required:true,
				},
				operatorId:{
					required:true,
				},
				ownerId:{
					required:true,
				},
				scene:{
					required:true,
				},
				tissuePrice:{
					number:true,
					min:0
				},
				tissueLen:{
					digits:true,
					min:0,
					max:100000
				},
				servicePoint:{
					required:true,
				},
			},
			messages: {
                "placeCode": {
                    remote: "场所编号已存在!"
                }
            },
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-place-add').serialize());
			}
		});
	</script>
</body>
</html>
