<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-place-edit" th:object="${place}">
            <input id="placeId" name="placeId" th:field="*{placeId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>场所名称：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">场所简拼：</label>
                <div class="col-sm-8">
                    <input id="sname" name="sname" th:field="*{sname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">省份：</label>
                <div class="col-sm-8">
                    <!-- <select id="province" name="province" class="form-control">
						<option th:each="province:${provinceDropBoxList}" th:value="${province.id}"
						 th:text="${province.pname}" th:field="*{province}"></option>
					</select> -->
					<input id="province" name="province" th:field="*{province}"  type="hidden">
					<input id="provinceName" name="provinceName" th:field="*{provinceName}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">城市：</label>
                <div class="col-sm-8">
					<input id="city" name="city" th:field="*{city}"  type="hidden">
					<input id="cityName" name="cityName" th:field="*{cityName}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">区县：</label>
                <div class="col-sm-8">
					<input id="county" name="county" th:field="*{county}"  type="hidden">
					<input id="countyName" name="countyName" th:field="*{countyName}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
            <!-- <div class="form-group">	
                <label class="col-sm-3 control-label">父级场所：</label>
                <div class="col-sm-8">
                    <select id="parentPlaceId" name="parentPlaceId" class="form-control">
                    	<option value=""></option>
						<option th:each="place:${placeDropBoxList}" th:value="${place.placeId}"
						 th:text="${place.name}" th:field="*{parentPlaceId}"></option>
					</select>
                </div>
            </div> -->
            <div class="form-group">	
                <label class="col-sm-3 control-label">场所编号：</label>
                <div class="col-sm-8">
                    <input id="placeCode" name="placeCode" th:field="*{placeCode}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">场所类型：</label>
                <div class="col-sm-8">
                    <select id="placeType" name="placeType" class="form-control">
						<option value="0" th:selected="${place.placeType=='0'}">自营</option>
                        <option value="1" th:selected="${place.placeType=='1'}">代理</option>
                        <option value="2" th:selected="${place.placeType=='2'}">自购</option>
					</select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>场景：</label>
                <div class="col-sm-8">
                    <select id="scene" name="scene"  class="form-control m-b" th:with="type=${@dict.getType('place_type')}">
	                    <option value="">---请选择---</option>
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{scene}"></option>
	                </select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">详细地址：</label>
                <div class="col-sm-8">
                    <input id="address" name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
           <!--  <div class="form-group">	
                <label class="col-sm-3 control-label">经度：</label>
                <div class="col-sm-8">
                    <input id="lon" name="lon" th:field="*{lon}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">纬度：</label>
                <div class="col-sm-8">
                    <input id="lat" name="lat" th:field="*{lat}" class="form-control" type="text">
                </div>
            </div> -->
           <!--  <div class="form-group">	
                <label class="col-sm-3 control-label">扫码套餐（备用）：</label>
                <div class="col-sm-8">
                    <input id="packet" name="packet" th:field="*{packet}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">出纸价格（以设备为准，设备没有以场所为准）：</label>
                <div class="col-sm-8">
                    <input id="tissuePrice" name="tissuePrice" th:field="*{tissuePrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">每次出纸长度：</label>
                <div class="col-sm-8">
                    <input id="tissueLen" name="tissueLen" th:field="*{tissueLen}" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>维修员：</label>
                <div class="col-sm-8">
                    <select id="repairId" name="repairId" class="form-control">
						<option value=""></option>
						<option th:each="user:${userListRepair}" th:value="${user.userId}"
						 th:text="${user.userName}" th:field="*{repairId}"></option>
					</select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>送纸员：</label>
                <div class="col-sm-8">
                    <select id="supplyId" name="supplyId" class="form-control">
                    	<option value=""></option>
						<option th:each="user:${userListRepair}" th:value="${user.userId}"
						 th:text="${user.userName}" th:field="*{supplyId}"></option>
					</select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>经办人：</label>
                <div class="col-sm-8">
                    <select id="operatorId" name="operatorId" class="form-control">
                    	<option value=""></option>
						<option th:each="user:${userListAll}" th:value="${user.userId}"
						 th:text="${user.userName}" th:field="*{operatorId}"></option>
					</select>
                </div>
            </div>
            <!-- <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>机主：</label>
                <div class="col-sm-8">
                    <select id="ownerId" name="ownerId" class="form-control">
                    	<option value=""></option>
						<option th:each="user:${userListAll}" th:value="${user.userId}"
						 th:text="${user.userName}" th:field="*{ownerId}"></option>
					</select>
                </div>
            </div> -->
            <!-- <div class="form-group">	
                <label class="col-sm-3 control-label">投放设备数量：</label>
                <div class="col-sm-8">
                    <input id="deviceCount" name="deviceCount" th:field="*{deviceCount}" class="form-control" type="text">
                </div>
            </div> -->
           <!--  <div class="form-group">	
                <label class="col-sm-3 control-label">开户行（合同收款方）：</label>
                <div class="col-sm-8">
                    <input id="ctBank" name="ctBank" th:field="*{ctBank}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款账号：</label>
                <div class="col-sm-8">
                    <input id="ctAccount" name="ctAccount" th:field="*{ctAccount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款人：</label>
                <div class="col-sm-8">
                    <input id="ctReceiver" name="ctReceiver" th:field="*{ctReceiver}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款人联系电话：</label>
                <div class="col-sm-8">
                    <input id="ctPhone" name="ctPhone" th:field="*{ctPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款人身份证：</label>
                <div class="col-sm-8">
                    <input id="ctIdentity" name="ctIdentity" th:field="*{ctIdentity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">商家分成比例：</label>
                <div class="col-sm-8">
                    <input id="ctRate" name="ctRate" th:field="*{ctRate}" class="form-control" type="text">
                </div>
            </div> -->
           <!--  <div class="form-group">	
                <label class="col-sm-3 control-label">场所状态：</label>
                <div class="col-sm-8">
                    <input id="status" name="status" th:field="*{status}" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">	
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="note" name="note" th:field="*{note}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
	    $(function () {
	        //绑定事件
	        $("#province").change( function () {
	            cityBind();
	        })
	        
	        $("#city").change(function () {
	        	countyBind();
	        })
	    })
	    
	    function cityBind() {
	        var provice = $("#province option:selected").val();
	        //判断省份这个下拉框选中的值是否为空
	        if (provice == "") {
	            return;
	        }
	        $("#city").html("");
	        var str = "<option>---请选择---</option>";
	       
	        var cityAreaList = selectAreaListByPid(provice);
	        $.each(cityAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到市这个下拉框里面
            $("#city").append(str);
	    }
	    function countyBind() {
	        var provice = $("#city option:selected").val();
	        //判断市这个下拉框选中的值是否为空
	        if (provice == "") {
	            return;
	        }
	        $("#county").html("");
	        var str = "<option>---请选择---</option>";
	        
	        var countyAreaList = selectAreaListByPid(provice);
	        $.each(countyAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到区县这个下拉框里面
            $("#county").append(str);
	    }	
    
		var prefix = ctx + "business/place"
		$("#form-place-edit").validate({
			rules:{
				name:{
					required:true,
				},
				province:{
					required:true,
				},
				city:{
					required:true,
				},
				county:{
					required:true,
				},
				repairId:{
					required:true,
				},
				supplyId:{
					required:true,
				},
				operatorId:{
					required:true,
				},
				/* ownerId:{
					required:true,
				}, */
				scene:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-place-edit').serialize());
			}
		});
	</script>
</body>
</html>
