<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="terminal-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">场所名称：</span>
              <input type="text" name="name" id="name"/>
            </li>
            <li class="select-time">
              <label class="select-item-name">创建时间： </label>
              <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
              <span>-</span>
              <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
            </li>
            <li class="select-cascade">
              <!-- 投放地区：<input type="text" name="areaId"/> -->
              <span class="select-item-name">省：</span>
              <select
                name="province"
                id="province"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
              <span class="select-item-name">市：</span>
              <select
                name="city"
                id="city"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
              <span class="select-item-name">区县：</span>
              <select
                name="county"
                id="county"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
              <option value="">全部</option>
            </select>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="exportExcel()">
                <i class="fa fa-download"></i>&nbsp;导出
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="btn-group hidden-xs" id="toolbar" role="group">
      <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="business:place:add">
        <i class="fa fa-plus"></i> 新增
      </a>
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:place:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
    <script th:inline="javascript">
      var editFlag = [[${@permission.hasPermi('business:place:edit')}]];
      var removeFlag = [[${@permission.hasPermi('business:place:remove')}]];
      var prefix = ctx + 'business/place';

      $(function () {
        var placeList = selectPlaceList();
        $.each(placeList, function (i) {
          $('#name').append('<option value=' + placeList[i].placeId + '>' + placeList[i].name + '</option>');
        });
        //默认绑定省
        proviceBind();
        //绑定事件
        $('#province').change(function () {
          cityBind();
        });

        $('#city').change(function () {
          countyBind();
        });

        var options = {
          url      : prefix + '/list',
          createUrl: prefix + '/add',
          updateUrl: prefix + '/edit/{id}',
          removeUrl: prefix + '/remove',
          modalName: '场所管理',
          search   : false,
          showExport: false,
          columns  : [
            {
              checkbox: true
            },
            {
              field : 'placeId',
              title : '场所ID',
              hidden: true
            },
            {
              field: 'name',
              title: '场所名称'
            },
            {
              field: 'placeCode',
              title: '场所编号'
            },
            {
              field: 'sname',
              title: '场所简拼'
            },
            {
              field: 'parentPlaceName',
              title: '父级场所名称'
            },
            {
              field: 'placeType',
              title: '场所类型',
              formatter: function (value) {
                if (value === '0') {
                  return '自营';
                } else if (value === '1') {
                  return '代理';
                } else if (value === '2') {
                  return '自购';
                } else {
                  return '-';
                }
              }
            },
            {
              field: 'sceneName',
              title: '场景'
            },
            {
              field: 'address',
              title: '详细地址'
            },
            {
              field: 'provinceName',
              title: '省份'
            },
            {
              field: 'cityName',
              title: '城市'
            },
            {
              field: 'countyName',
              title: '地区'
            },
            {
                field: 'servicePointName',
                title: '服务网点'
            },
            {
              field: 'tissuePrice',
              title: '出纸价格'
            },
            {
              field: 'tissueLen',
              title: '每次出纸长度'
            },
            {
              field: 'agentLevel1',
              title: '地级市代'
            },
            {
              field: 'agentLevel2',
              title: '区县代理'
            },
            {
              field: 'repairName',
              title: '维修员'
            },
            {
              field: 'supplyName',
              title: '送纸员'
            },
            {
              field: 'operatorName',
              title: '经办人'
            },
            {
              field: 'deviceCount',
              title: '投放数量'
            },
            {
              field: 'status',
              title: '场所状态'
            },
            {
              field: 'note',
              title: '备注'
            },
            {
              title    : '操作',
              align    : 'center',
              formatter: function (value, row, index) {
                var actions = [];
                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' +
                  row.placeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                actions.push(
                  '<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' +
                  row.placeId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                actions.push(
                    	'<a class="btn btn-info btn-xs" href="#" onclick="placeDetail(\'' + row.placeId +
                    	'\')"><i class="fa fa-edit"></i>详情</a> ');
                return actions.join('');
              }
            }]
            };
        //表单加载后隐藏部分字段不展示在列表中，可在页面重新选择展示
        $.table.init(options);
        $('#bootstrap-table').bootstrapTable('hideColumn', 'placeId');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'sname');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'lon');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'lat');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'packet');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'operatorName');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'parentPlaceName');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'tissuePrice');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'tissueLen');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'ctBank');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'ctAccount');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'ctPhone');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'ctIdentity');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'serviceId');

        $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
      });
      function proviceBind () {
        //清空下拉数据
        $('#province').html('');
         var str = "<option value=''>全部</option>";

         var provinceAreaList = selectAreaListByPid("0");
         $.each(provinceAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到省份这个下拉框里面
            $("#province").append(str).selectpicker("refresh");
     }
     function cityBind() {
       var provice = $('#province option:selected').val();
       //判断省份这个下拉框选中的值是否为空
       if (provice == '') {
         return;
       }
       $('#city').html('');
         $("#county").html("<option value=''>全部</option>");
         var str = "<option value=''>全部</option>";

         var cityAreaList = selectAreaListByPid(provice);
         $.each(cityAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到市这个下拉框里面
            $("#city").append(str).selectpicker("refresh");
     }
     function countyBind() {
         var provice = $("#city option:selected").val();
         //判断市这个下拉框选中的值是否为空
         if (provice == "") {
             return;
         }
         $("#county").html("");
         var str = "<option value=''>全部</option>";

         var countyAreaList = selectAreaListByPid(provice);
         $.each(countyAreaList, function (i, item) {
                str += "<option value=" + item.id + ">" + item.pname + "</option>";
            })
            //将数据添加到区县这个下拉框里面
            $("#county").append(str).selectpicker("refresh");
     }

 	 //场所详情
     function placeDetail(placeId) {
 		var url = prefix + '/placeDetail/' + placeId;
 		$.modal.open("场所信息详情", url);
   	 }
 	 
   	 //导出Excel
     function exportExcel(){
     	$.modal.confirm("确认导出？", function() {
     		var name = $("#name").val();
    		var province = $("#province").val();
    		var city = $("#city").val();
    		var county = $("#county").val();
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();
    		
 			location.href = prefix + "/excelExport?name="+name+'&province='+province+'&city='+city
 					+'&county='+county+'&startTime='+startTime+'&endTime='+endTime
     		//$.modal.alert("导出成功!");
 		});
     }
   
    </script>
</body>
</html>