<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="change-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">店主名称：</span>
              <input type="text" name="shopperName" id="shopperName"/>
            </li>
            <li>
              <span class="select-item-name">管理者电话：</span>
              <input type="text" name="managerPhone" id="managerPhone"/>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="btn-group hidden-xs" id="toolbar" role="group">
      <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="client:shopper:add">
        <i class="fa fa-plus"></i> 新增
      </a>
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="client:shopper:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
      <a class="btn btn-outline btn-info btn-rounded" onclick="salesmanList()" shiro:hasPermission="client:shopper:salesman">
        <i class="fa fa-list-ul"></i> 员工管理
      </a>
      <a class="btn btn-outline btn-danger btn-rounded" onclick="fundDetail()" shiro:hasPermission="client:fundLog:list">
        <i class="fa fa-usd"></i> 资金流水
      </a>
      <a class="btn btn-outline btn-success btn-rounded" onclick="batchParamSet()" shiro:hasPermission="client:shopper:batchParamSet">
        <i class="fa fa-plus"></i> 批量参数设置
      </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('client:shopper:edit')}]];
    var removeFlag = [[${@permission.hasPermi('client:shopper:remove')}]];
    var editParamFlag = [[${@permission.hasPermi('client:shopper:params')}]];
    var depositFlag = [[${@permission.hasPermi('client:withdraw:deposit')}]];
    var prefix = ctx + 'client/shopper';

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                editParamUrl: prefix + "/editParam/{id}",
                removeUrl: prefix + "/remove",
                modalName: "店主",
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'shopperId', 
					title : '店主ID' 
				},
				{
					field : 'shopperName', 
					title : '店主名称' 
				},
				{
					field : 'managerName', 
					title : '管理者' 
				},
				{
					field : 'managerPhone', 
					title : '管理者电话' 
				},
				{
					field : 'deviceNum', 
					title : '投放设备数量', visible: false 
				},
				{
					field : 'bankAccount', 
					title : '收款账号' 
				},
				{
					field : 'bankReceiver', 
					title : '收款人' 
				},
				{
					field : 'bankName', 
					title : '开户行' 
				},
				{field : 'status',title : '状态',formatter: function(value, row, index) {
					if(value == 0) {return "无效"}
					if(value == 1) {return "有效"}
					return "-";
	            } },
				{
					field : 'promotionRate', 
					title : '推广收益' ,
					visible: false
				},
				{
					field : 'adRate', 
					title : '广告收益' ,
					visible: false
				},
				{
					field : 'scanRate', 
					title : '扫码收益' ,
					visible: false
				},
				{field : 'balance', title : '余额'},
				{field : 'frozenBalance', title : '冻结余额'},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-primary	 btn-xs '+depositFlag+'" href="#" onclick="getMoney(\'' + row.shopperId +'\',\''+row.bankAccount+'\',\''+row.bankReceiver +'\',\''+row.bankName + '\')"><i class="glyphicon glyphicon-yen"></i> 提现</a>');
		            	actions.push(' <a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.shopperId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
//                         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.joinId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        actions.push(' <a class="btn btn-info btn-xs ' + editParamFlag + '" href="#" onclick="editParam(\'' + row.shopperId + '\')"><i class="fa fa-edit"></i> 参数</a>');
                        return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'joinId');
            
        });
        function editParam(id) {
        	var url = $.table._option.editParamUrl.replace("{id}", id);
        	$.modal.open($.table._option.modalName + "参数配置", url,800,500);
        }
        function salesmanList(cliendId) {
        	var rowsData = $("#bootstrap-table").bootstrapTable('getSelections', function (row) {
        		return row;
	  		});
        	if(rowsData.length == 0 || rowsData.length > 1){
        		$.modal.alertWarning("请选择一条记录");
    			return;
        	}
    		var url = ctx + "client/salesman/06/"+rowsData[0].shopperId;
            createMenuItem(url, $.table._option.modalName+'员工管理');
        }
        function fundDetail() {
        	var rowsData = $("#bootstrap-table").bootstrapTable('getSelections', function (row) {
        		return row;
	  		});
        	if(rowsData.length == 0 || rowsData.length > 1){
        		$.modal.alertWarning("请选择一条记录");
    			return;
        	}
    		var url = ctx + "client/fundLog/06/"+rowsData[0].joinId;
            createMenuItem(url, $.table._option.modalName+'资金流水管理');
        }
        function getMoney(clientId,bankAccount,bankReceiver,bankName){
        	if(bankAccount == null || bankAccount == '' || bankAccount == 'null'){
        		$.modal.alertWarning("请填写收款帐号"); return;
        	}
        	if(bankReceiver == null || bankReceiver == '' || bankReceiver == 'null'){
        		$.modal.alertWarning("请填写收款人姓名"); return;
        	}
        	if(bankName == null || bankName == '' || bankName == 'null'){
        		$.modal.alertWarning("请填写开户行"); return;
        	}
        	$.modal.open("提现", ctx +"client/fundLog/getMoney/06/"+clientId, 500, 450);
        }
        function batchParamSet(){
        	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
    		if (rows.length == 0) {
    			$.modal.alertWarning("请至少选择一条记录");
    			return;
    		}
    		var idds = rows.join(",");
    		$.modal.open("批量参数设置", ctx +"client/shopper/toBatchEditParam/06?ids="+idds,800,550);
        }
    </script>
</body>
</html>