<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    	<div class="col-sm-12 select-info">
	      <form id="change-form">
	        <div class="select-list">
	          <ul>
	            <li>
	              <span class="select-item-name">商户订单号：</span>
	              <input type="text" name="outTradeOrder" id="outTradeOrder"/>
	            </li>
	            <li>
	                <span class="select-item-name">订单类型：</span>
	                <select
										name="orderType"
										data-live-search="true"
										class="block-plugin__select-picker selectpicker"
										data-style="btn-white btn-sm">
		                <option value="">所有</option>
		                <option value="1">购机订单</option>
		                <option value="2">广告订单</option>
		            </select>
	            </li>
	            <li>
	                <span class="select-item-name">订单状态：</span>
	                <select
										name="orderStatus"
										data-live-search="true"
										class="block-plugin__select-picker selectpicker"
										data-style="btn-white btn-sm">
		                <option value="">所有</option>
		                <option value="0">待支付</option>
		                <option value="1">已支付</option>
		                <option value="2">支付失败</option>
		                <option value="3">已退款</option>
		                <option value="4">退款失败</option>
		            </select>
	            </li>
	            <li class="select-btns">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
	              </a>
	              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
	              </a>
	            </li>
	          </ul>
	        </div>
	      </form>
	    </div>
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="record:tradeOrder:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="record:tradeOrder:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
			<a class="btn btn-outline btn-success btn-rounded" onclick="detail()">
		        <i class="fa fa-list-ul"></i> 子订单列表
		      </a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('record:tradeOrder:edit')}]];
        var removeFlag = [[${@permission.hasPermi('record:tradeOrder:remove')}]];
        var listFlag = [[${@permission.hasPermi('record:tradeOrder:list')}]] ;
//         +" "+[[${@permission.hasPermi('record:scheduleOrder:list')}]];
        var prefix = ctx + "record/tradeOrder"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "订单",
                search: false,
              sortOrder:"desc",
              sortName:"createTime",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'tradeOrderId',
					title : '主键' ,
					visible: false
				},
				{
					field : 'transactionId',
					title : '交易订单号',
					visible: false
				},
				{
					field : 'outTradeOrder',
					title : '商户订单号',
		            formatter: function (value, row, index) {
		                return '<a href="#" onclick="detail(\'' + row.outTradeOrder+"\',\'"+row.orderType + '\')">' + value + '</a>';
		              }
				},
				{
					field : 'openId',
					title : '机主微信账号' ,
					visible: false
				},
				{
					field : 'userName',
					title : '机主'
				},
				{
					field : 'totalFee',
					title : '支付金额'
				},
				{
					field : 'totalCnt',
					title : '订单数量'
				},
				{
					field : 'orderType',
					title : '订单类型' ,formatter: function(value, row, index) {
						if(value == '1') {return "购机订单"}
						if(value == '2') {return "广告订单"}
						return "-";
		            }
				},
				{
					field : 'orderStatus',
					title : '订单状态' ,formatter: function(value, row, index) {
						if(value == '0') {return " 待支付"}
						if(value == '1') {return "已支付"}
						if(value == '2') {return "支付失败"}
						if(value == '3') {return "已退款"}
						if(value == '4') {return "退款失败"}
						return "-";
		            }
				},
				{
					field : 'sendStatus',
					title : '发货状态' ,formatter: function(value, row, index) {
						if(value == '0') {return "未发货"}
						if(value == '1') {return "已发货"}
						if(value == '2') {return "部分发货"}
						return "-";
		            }
				},
				{
					field : 'refundId',
					title : '退款订单号',
					visible: false
				},
				{
					field : 'remark',
					title : '订单备注',
					visible: false
				},
				{
					field : 'payTime',
					title : '支付时间' ,formatter: function(value, row, index) {
						if(value == null || value == '') {return "-"}

						return value;
		            }
				},
				{
					field : 'createBy',
					title : '创建者' ,
					visible: false
				},
				{
					field : 'createTime',
					title : '创建时间'
				},
				{
					field : 'updateBy',
					title : '更新者' ,
					visible: false
				},
				{
					field : 'updateTime',
					title : '更新时间' ,
					visible: false
				}]
            };
            $.table.init(options);
        });
        function detail (orderId,orderType) {
        	if(orderId == undefined || orderType == undefined){
	        	var rowsData = $("#bootstrap-table").bootstrapTable('getSelections', function (row) {
	        		return row;
		  		});
	        	if(rowsData.length == 0 || rowsData.length > 1){
	        		$.modal.alertWarning("请选择一条记录");
	    			return;
	        	}
	       		orderId = rowsData[0].outTradeOrder;
	        	orderType = rowsData[0].orderType;
        	}
        	if(orderType == '1') {
        		 var url = '/record/deviceOrder/'+orderId;
                 createMenuItem(url, '设备销售订单');
        	}else if(orderType == '2') {
        		var url = '/record/scheduleOrder/'+orderId;
                createMenuItem(url, '广告订单');
			}
        }
    </script>
</body>
</html>