<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
  .bootstrap-table__tool{
    overflow: auto;
  }

  .bootstrap-table__tool-total {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .bootstrap-table__tool-total > a {
    padding: 8px 14px
  }

  .bootstrap-table__tool-total .glyphicon {
    font-size: 13px;
  }

  .bootstrap-table__tool-total strong {
    font-size: 16px;
  }
</style>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="tissue-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">代理商户：</span><!-- <input type="text" name="agent"/> -->
              <select
                id="agentId"
                name="agentId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">服务网点：</span><!-- <input type="text" name="service"/> -->
              <select
                id="repairId"
                name="repairId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">机主户：</span><!-- <input type="text" name="joiner"/> -->
              <select
                id="joinId"
                name="joinId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">出纸设备：</span>
              <input type="text" name="deviceSn" id="deviceSn"/>
            </li>
            <li class="select-time">
              <label>出纸时间： </label>
              <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
              <span>-</span>
              <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="tissueSearch()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="exportExcel()">
                <i class="fa fa-download"></i>&nbsp;导出
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="btn-group hidden-xs" id="toolbar" role="group">
      <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="business:tissueRecord:add">
        <i class="fa fa-plus"></i> 新增
      </a>
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:tissueRecord:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <div class="bootstrap-table__tool">
        <div class="bootstrap-table__tool-total btn-group" role="group">
          <a class="btn btn-white btn-outline">
            <i class="glyphicon glyphicon-save-file"></i> 出纸数量： <strong id="paperSum"></strong> 
          </a>
          <a class="btn btn-white btn-outline">
            <i class="glyphicon glyphicon-yen"></i> 出纸金额： <strong id="moneySum"></strong> 元
          </a>
        </div>
      </div>
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:tissueRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:tissueRecord:remove')}]];
    var prefix = ctx + 'business/tissueRecord';

    $(function () {
    	
      //加载统计数据
      tissueSearch();
    	
      //代理商下拉框数据
      var agentList = selectAgentList();
      $.each(agentList, function (i) {
        $('#agentId').append('<option value=' + agentList[i].agentId + '>' + agentList[i].agentName + '</option>');
      });
      //服务商下拉框数据
      var repairList = selectRepairList();
      $.each(repairList, function (i) {
        $('#repairId').append('<option value=' + repairList[i].repairId + '>' + repairList[i].repairName + '</option>');
      });
      //机主下拉框数据
      var joinList = selectJoinList();
      $.each(joinList, function (i) {
        $('#joinId').append('<option value=' + joinList[i].joinId + '>' + joinList[i].joinerName + '</option>');
      });

      var options = {
        url      : prefix + '/list',
        createUrl: prefix + '/add',
        updateUrl: prefix + '/edit/{id}',
        removeUrl: prefix + '/remove',
        search    : false,
        showExport: false,
        modalName: '出纸记录',
        columns  : [
          {
            checkbox: true
          },
          {
            field: 'tissueRecordId',
            title: 'ID'
          },
          {
            field: 'deviceSn',
            title: '出纸设备'
          },
          {
            field: 'terminalCode',
            title: '出纸终端'
          },
          {
            field: 'placeName',
            title: '出纸场所'
          },
          {
            field: 'price',
            title: '出纸价格'
          },
          {
            field: 'tissueLenName',
            title: '出纸长度'
          },
          {
            field: 'openId',
            title: '用户微信账号'
          },
          {
            field: 'nickName',
            title: '微信昵称'
          },
          {
            field: 'headimgurl',
            title: '微信头像',formatter: function(value, row, index) {
				return '<img alt="" style="width:50px;height:50px;" src="'+value+'">';
            }
          },
          {
            field: 'tissueChannel',
            title: '出纸类型'
          },
          {
            field: 'createBy',
            title: '创建者'
          },
          {
            field: 'createTime',
            title: '出纸时间'
          },
          {
            title    : '操作',
            align    : 'center',
            formatter: function (value, row, index) {
              var actions = [];
              actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' +
                row.tissueRecordId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
              actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' +
                row.tissueRecordId + '\')"><i class="fa fa-remove"></i>删除</a>');
              return actions.join('');
            },
			visible: false
          }]
      };
      $.table.init(options);
      $('#bootstrap-table').bootstrapTable('hideColumn', 'tissueRecordId');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'openId');
    });

  	//导出Excel
    function exportExcel(){
    	$.modal.confirm("确认导出？", function() {
    		var agentId = $("#agentId").val();
    		var repairId = $("#repairId").val();
    		var joinId = $("#joinId").val();
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();

			location.href = ctx + "business/tissueRecord/excelExport?agentId="+agentId+'&repairId='+repairId+'&joinId='+joinId
					+'&startTime='+startTime+'&endTime='+endTime
    		//$.modal.alert("导出成功!");
		});
    }
  	
  	//搜索查询
    function tissueSearch(){
    	var agentId = $("#agentId").val();
		var repairId = $("#repairId").val();
		var joinId = $("#joinId").val();
		var startTime = $("#startTime").val();
		var endTime = $("#endTime").val();
		
		var paperSum=document.getElementById("paperSum");
		var moneySum=document.getElementById("moneySum");

    	$.ajax({
	        url: prefix + "/tissueCount?agentId="+agentId+'&repairId='+repairId+'&joinId='+joinId
				+'&startTime='+startTime+'&endTime='+endTime ,
	        type: "post",
	        async:false,
	        success: function (data) {
	        	paperSum.innerText=data.paperSum;
	        	moneySum.innerText=data.moneySum;
	        },
	        error: function (data) {
	        	console.log("tissueCount:",data);
	        	paperSum.innerText("查询失败");
	        	moneySum.innerText("查询失败");
	            //alert("后台查询失败");
	        }
		})
    	$.table.search();
  	}
  </script>
</body>
</html>