<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="change-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">旧终端编号：</span>
              <select
                id="oldTerminalId"
                name="oldTerminalId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">新终端编号：</span>
              <select
                id="newTerminalId"
                name="newTerminalId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">更换人：</span>
              <select
                id="changerId"
                name="changerId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li class="select-time">
              <label class="select-item-name">更换时间： </label>
              <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
              <span>-</span>
              <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="exportExcel()">
                <i class="fa fa-download"></i>&nbsp;导出
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="btn-group hidden-xs" id="toolbar" role="group">
    <!--  
      <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="business:changeTerminal:add">
        <i class="fa fa-plus"></i> 新增
      </a>
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:changeTerminal:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
      -->
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:changeTerminal:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:changeTerminal:remove')}]];
    var prefix = ctx + 'business/changeTerminal';

    $(function () {
      var terminalList = selectTerminalList();
      $.each(terminalList, function (i) {
        $('#oldTerminalId').
          append('<option value=' + terminalList[i].terminalId + '>' + terminalList[i].terminalCode + '</option>');
        $('#newTerminalId').
          append('<option value=' + terminalList[i].terminalId + '>' + terminalList[i].terminalCode + '</option>');
      });

      var changeUserList = selectUserList();
      $.each(changeUserList, function (i) {
        $('#changerId').
          append('<option value=' + changeUserList[i].userId + '>' + changeUserList[i].userName + '</option>');
      });

      var options = {
        url      : prefix + '/list',
        createUrl: prefix + '/add',
        updateUrl: prefix + '/edit/{id}',
        removeUrl: prefix + '/remove',
        modalName: '终端更换记录',
        search   : false,
        showExport: false,
        columns  : [
          {
            checkbox: true
          },
          {
            field: 'changeTerminalId',
            title: 'ID'
          },
          {
            field: 'oldTerminalCode',
            title: '旧终端'
          },
          {
            field: 'newTerminalCode',
            title: '新终端'
          },
          {
            field: 'oldVolumn',
            title: '旧终端音量'
          },
          {
            field: 'remainPaper',
            title: '剩余纸张'
          },
          {
            field: 'changeUserName',
            title: '更换人'
          },
          {
            field: 'createBy',
            title: '创建者'
          },
          {
            field: 'createTime',
            title: '创建时间'
          },
          {
            title    : '操作',
            align    : 'center',
            formatter: function (value, row, index) {
              var actions = [];
              actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' +
                row.changeTerminalId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
              actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' +
                row.changeTerminalId + '\')"><i class="fa fa-remove"></i>删除</a>');
              return actions.join('');
            },
			visible: false
          }]
      };
      $.table.init(options);
      $('#bootstrap-table').bootstrapTable('hideColumn', 'changeTerminalId');
    });

  	//导出Excel
    function exportExcel(){
    	$.modal.confirm("确认导出？", function() {
    		var oldTerminalId = $("#oldTerminalId").val();
    		var newTerminalId = $("#newTerminalId").val();
    		var changerId = $("#changerId").val();
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();

			location.href = ctx + "business/changeTerminal/excelExport?oldTerminalId="+oldTerminalId+'&newTerminalId='+newTerminalId
					+'&changerId='+changerId+'&startTime='+startTime+'&endTime='+endTime
    		//$.modal.alert("导出成功!");
		});
    }
  </script>
</body>
</html>