<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-version-add">
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>版本编号：</label>
				<div class="col-sm-8">
					<input id="sysVerCode" name="sysVerCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>升级类型：</label>
				<div class="col-sm-8">
					<select
						name="subject"
						id="subject"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
                        <option value="2000">可选升级</option>
                        <option value="1000">强制升级</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>旧版本号：</label>
				<div class="col-sm-8">
					<input id="oldVersionCode" name="oldVersionCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>版本主题：</label>
				<div class="col-sm-8">
					<input id="sysVerSubject" name="sysVerSubject" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>更新内容：</label>
				<div class="col-sm-8">
					<textarea id="sysVerInfo" name="sysVerInfo" class="form-control" ></textarea>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">系统编码：</label>
				<div class="col-sm-8">
					<input id="systemCode" name="systemCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">启用时间：</label>
				<div class="col-sm-8">
					<input id="effDate" name="effDate" class="form-control" type="date">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">失效时间：</label>
				<div class="col-sm-8">
					<input id="expDate" name="expDate" class="form-control" type="date">
				</div>
			</div> -->
			<!-- <div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div> -->
			<br><br>
			<div id="fileUploadContent" class="fileUploadContent"></div>
			<span style="color: red;">*&nbsp;上传的apk文件最大30M</span>
		  	<br><br>
		  	<!-- <button onclick="submitUpload()" id="submit" class="btn btn-primary">上传</button> -->
		  	<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <link th:href="@{/css/iconfont.css}" rel="stylesheet"/>
  	<link th:href="@{/css/fileUpload.css}" rel="stylesheet"/>
  	<script th:src="@{/js/fileUpload.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "business/version"
		$("#form-version-add").validate({
			rules:{
				sysVerCode:{
					required:true,
					remote: {
                        url: prefix + "/checkCodeUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                        	name : function() {
                                return $.common.trim($("#sysVerCode").val());
                            }
                        },
                        dataFilter: function(data, type) {
                        	return $.validate.unique(data);
                        }
                    }
				},
				subject:{
					required:true,
				},
				oldVersionCode:{
					required:true,
				},
			},
			messages     : {
				"sysVerCode": {
                    remote: "该版本号已存在!"
                }
			},
			submitHandler: function(form) {
				//$.operate.save(prefix + "/add", $('#form-version-add').serialize());
				submitUpload();
			}
		});

		$('#fileUploadContent').initUpload({
	      	'uploadUrl'       : ctx + 'business/version/uploadSave',//上传文件信息地址
	      	//'progressUrl'     : '#',//获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
	      	//'selfUploadBtId'  : 'selfUploadBt',//自定义文件上传按钮id
	      	'isHiddenUploadBt': true,//是否隐藏上传按钮
	      	'isHiddenCleanBt' : false,//是否隐藏清除按钮
	      	'isAutoClean'     : false,//是否上传完成后自动清除
	      	//'velocity'        : 10,//模拟进度上传数据
	      	//"showSummerProgress":false,//总进度条，默认限制
	      	//"scheduleStandard":true,//模拟进度的方式，设置为true是按总进度，用于控制上传时间，如果设置为false,按照文件数据的总量,默认为false
	      	"size":30720,//文件大小限制，单位kb,默认不限制
	      	"maxFileNumber":1,//文件个数限制，为整数
	      	//"filelSavePath":"",//文件上传地址，后台设置的根目录
	      	"beforeUpload":beforeUploadFun,//在上传前执行的函数
	      	"onUpload":onUploadFun,//在上传后执行的函数
	      	// autoCommit:true,//文件是否自动上传
	      	"fileType":['apk'],//文件类型限制，默认不限制，注意写的是文件后缀
	    });

	    function beforeUploadFun (opt) {
	    	opt.otherData = [
	        	{'name' : 'sysVerCode','value': $("#sysVerCode").val()},
	        	{'name' : 'subject','value': $("#subject option:selected").val()},
	        	{'name' : 'oldVersionCode','value': $("#oldVersionCode").val()},
	        	{'name' : 'sysVerSubject','value': $("#sysVerSubject").val()},
	        	{'name' : 'sysVerInfo','value': $("#sysVerInfo").val()}
	        	];
	    }

	    function onUploadFun (opt, data) {
	      	//alert(data);
	      	//uploadTools.uploadError(opt); //显示上传错误
	     	$(".subberProgress").css("display","none");
	    	alert(data.msg);
	        $.modal.close();
	        //刷新管理页面
	        $.modal.reload();
	    }

	    function submitUpload () {
	    	$.modal.confirm("确定上传？", function() {
	    		$("#submit").attr('disabled',true);
		    	var opt = uploadTools.getOpt('fileUploadContent');
			    uploadEvent.uploadFileEvent(opt);
			});
	    }

	    function showUpError () {
	      	var opt = uploadTools.getOpt('fileUploadContent');
	      	uploadTools.uploadError(opt); //显示上传错误
	    }

	    //显示文件，设置删除事件
	    // uploadTools.showFileResult('fileUploadContent', 'https://ps.ssl.qhmsg.com/t01e39e571b0b9b9867.jpg', '1', true, deleteFileByMySelf);

	    //如果不需要删除
	    // uploadTools.showFileResult('fileUploadContent', 'https://ps.ssl.qhmsg.com/t01e39e571b0b9b9867.jpg', '1', false);

	    //多文件需要自己进行循环
	    function deleteFileByMySelf (fileId) {
	      	alert('删除文件提醒：' + fileId);
	    }

	    //检验版本号
	    /* function checkCode () {
	    	var sysVerCode = $("#sysVerCode").val();
	    	$.ajax({
	        	type: "post",
	        	contentType:"application/json",
	            dataType: "json",
	            url: ctx + "business/version/checkCodeUnique",
	            data: {
                	name : function() {
                        return $.common.trim(sysVerCode);
                    }
                },
	            async: false,
	            success: function (data) {
	            	if(data > 0){
	            		$.modal.alertWarning("版本号 "+sysVerCode+" 已存在!");
	            		$("#sysVerCode").val("");
	            	}
	            },
	            error: function () { alert("版本号校验失败"); }
	        });
	    } */
	</script>
</body>
</html>
