<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/jquery-layout/jquery.layout-latest.css" th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="gray-bg">
  <div class="container-div ui-layout-center">
    <div class="row">
      <div class="col-sm-12 select-info">
        <form id="user-form">
          <input type="hidden" id="deptId" name="deptId">
          <input type="hidden" id="parentId" name="parentId">
          <input type="hidden" th:value="${userType}" name="userType" id="userType"/>
 		  <input type="hidden" th:value="${puserId}" name="puserId" id="puserId"/>
          <div class="select-list">
            <ul>
              <li>
                <span class="select-item-name">登录名称：</span>
                <input type="text" name="loginName"/>
              </li>
              <li>
                <span class="select-item-name">手机号码：</span>
                <input type="text" name="phonenumber"/>
              </li>
              <li class="select-time">
                <label>创建时间： </label>
                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                <span>-</span>
                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
              </li>
              <li class="select-btns">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel()" shiro:hasPermission="client:salesman:export">
                  <i class="fa fa-download"></i>&nbsp;导出
                </a>
              </li>
            </ul>
          </div>
        </form>
      </div>

      <div class="btn-group hidden-xs" id="toolbar" role="group">
        <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="client:salesman:add">
          <i class="fa fa-plus"></i> 新增
        </a>
        <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="client:salesman:remove">
          <i class="fa fa-trash-o"></i> 删除
        </a>
      </div>

      <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
      </div>
    </div>
  </div>
  
  <div th:include="include :: footer"></div>
  <script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
  <script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('client:salesman:edit')}]];
    var removeFlag = [[${@permission.hasPermi('client:salesman:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + 'client/salesman';

    $(document).ready(function () {
      $('body').layout({west__size: 185});
      queryUserList();
    });


    function queryUserList() {
	    var options = {
	        url: prefix + "/list",
	        createUrl: prefix + "/toAddSalesman/"+$('#userType').val()+"/"+$('#puserId').val(),
	        updateUrl: prefix + "/edit/{id}",
	        removeUrl: prefix + "/remove",
	        exportUrl: prefix + "/export",
	        sortName: "createTime",
	        sortOrder: "desc",
	        modalName: "员工",
	        queryParams: queryParams,
	        search: false,
	        showExport: false,
	        columns: [{
	            checkbox: true
	        },
	        {
	            field: 'userId',
	            title: '用户ID',
	            visible: false
	        },
	        {
	            field: 'loginName',
	            title: '登录名称',
	            sortable: true
	        },
	        {
	            field: 'userName',
	            title: '用户名称'
	        },
	        {
	            field: 'dept.deptName',
	            title: '部门',
	            visible: false
	        },
	        {
	            field: 'roleNames',
	            title: '角色'
	        },
	        {
	            field: 'email',
	            title: '邮箱',
	            visible: false
	        },
	        {
	            field: 'phonenumber',
	            title: '手机'
	        },
	        {
	            title: '绑定操作',
	            align: 'center',
	            formatter: function(value, row, index) {
	            	 var actions = [];
	            	 if(row.wxUserId == null || row.wxUserId == ''){
		                 actions.push('<a class="btn btn-success btn-xs" href="#" onclick="addbind(\'' + row.userId + '\')"><i></i>点击绑定</a> ');
	            	 }else {
	            		 actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="clearBind(\'' + row.wxUserId + '\')"><i></i>点击解绑</a> ');
	            	 }
	                 return actions.join('');
	            }
	        },
	        {
	            field: 'status',
	            title: '状态',
	            align: 'center',
	            formatter: function(value, row, index) {
	            	return $.table.selectDictLabel(datas, value);
	            }
	        },
	        {
	            field: 'createTime',
	            title: '创建时间',
	            sortable: true
	        },
	        {
	            title: '操作',
	            align: 'center',
	            formatter: function(value, row, index) {
	                var actions = [];
	                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
	                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i> 删除</a> ');
	                actions.push('<a class="btn btn-info btn-xs ' + resetPwdFlag + '" href="#" onclick="resetPwd(\'' + row.userId + '\')"><i class="fa fa-key"></i>重置</a>');
	                return actions.join('');
	            }
	        }]
	    };
	    $.table.init(options);
	}
    
    function clearBind (wxUserId) {
        $.modal.confirm("确认解除绑定吗？", function() {
        	$.post(prefix +"/clearBind/"+wxUserId,function(result){
        		$.table.refresh();
        		if(result.code == 0){
        			$.modal.alertSuccess(result.msg);
        		}else{
        			$.modal.alertError(result.msg);
        		}
        	});
        	
    	});
    }
    function addbind (userId) {
        $.modal.open("二维码", prefix +"/showQrCode/"+userId, 400, 400);
    }
    function queryParams (params) {
        return {
        	userType: $('#userType').val(),
        	puserId: $('#puserId').val()
        };
      }
    /*用户管理-重置密码*/
    function resetPwd (userId) {
      var url = ctx + 'system/user' + '/resetPwd/' + userId;
      $.modal.open('重置密码', url, '800', '300');
    }
  </script>
</body>
</html>