<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-add">
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>终端：</label>
				<div class="col-sm-8">
					<select id="terminalId" name="terminalId" class="form-control">
						<option value="">---请选择---</option>
					</select>
				</div>
			</div> -->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>设备资产编号：</label>
				<div class="col-sm-8">
					<input id="deviceSn" name="deviceSn" class="form-control" type="text">
				</div>
			</div>
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label">设备类型：</label>
				<div class="col-sm-8">
					<input id="deviceType" name="deviceType" class="form-control" type="text">
				</div>
			</div> -->
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label">机主：</label>
				<div class="col-sm-8">
					<select id="ownerId" name="ownerId" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="c:${userList}"  th:value="${c.userId}" th:text="${c.userName}"/>
					</select>
				</div>
			</div>  -->
			<div class="form-group">	
				<label class="col-sm-3 control-label">出纸价格：</label>
				<div class="col-sm-8">
					<input id="price" name="price" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出纸长度：</label>
				<div class="col-sm-8">
					<input id="tissueLen" name="tissueLen" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-8">
					<input id="lon" name="lon" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">纬度：</label>
				<div class="col-sm-8">
					<input id="lat" name="lat" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="note" name="note" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
	    $(function(){ 
	    	/* var terminalList = selectTerminaValidlList();
	    	$.each(terminalList, function (i) {
	        	$('#terminalId').append("<option value=" + terminalList[i].terminalId + ">" + terminalList[i].terminalCode + "</option>");
	        });
	    	
	    	var placeList = selectPlaceList();
	    	$.each(placeList, function (i) {
	        	$('#placeId').append("<option value=" + placeList[i].placeId + ">" + placeList[i].name + "</option>");
	        });
	    	
	    	var userList = selectUserList();
	    	$.each(userList, function (i) {
	        	$('#ownerId').append("<option value=" + userList[i].userId + ">" + userList[i].userName + "</option>");
	        }); */
	 	});	
    
		var prefix = ctx + "business/device"
		$("#form-device-add").validate({
			rules:{
				terminalId:{
					required:true,
				},
				deviceSn:{
					required:true,
				},
				price:{
					number:true,
					min:0
				},
				tissueLen:{
					digits:true,
					min:0,
					max:100000
				},
				/* ownerId:{
					required:true,
				}, */
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-device-add').serialize());
			}
		});
		
		//未被绑定且有效的终端下拉框选择
		function selectTerminaValidlList(){
			var terminalList = [];
			$.ajax({
		        url: ctx + "business/terminal/getDropBoxValidlList",
		        type: "post",
		        dataType: "json",
		        data: 'data',
		        async:false,
		        success: function (data) {
		        	terminalList = data.rows;
		        },
		        error: function (data) {
		            alert("查询未绑定的终端设备下拉列表失败" + data);
		        }
		    })
		    return terminalList;
		}
		
	</script>
</body>
</html>
