<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="terminal-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">投放场所：</span>
              <select
                id="placeId"
                name="placeId"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
            </li>
            <li>
              <span class="select-item-name">设备资产编号：</span>
              <input type="text" name="deviceSn" id="deviceSn"/>
            </li>
            <li>
              <span class="select-item-name">设备状态：</span>
              <select
                id="status"
                name="status"
                th:with="type=${@dict.getType('device_status')}"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
				<option value="">全部</option>
				<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
			  </select>
            </li>
            <li class="select-time">
              <label class="select-item-name">投放时间： </label>
              <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
              <span>-</span>
              <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
            </li>
            <li class="select-cascade">
              <span class="select-item-name">省：</span>
              <select
                name="province"
                id="province"
                data-live-search="true"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
              </select>
              <span class="select-item-name">市：</span>
              <select name="city" id="city">
                <option value="">全部</option>
              </select>
              <span class="select-item-name">区县：</span>
              <select name="county" id="county">
                <option value="">全部</option>
              </select>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
              <a class="btn btn-info btn-rounded btn-sm" onclick="release()" shiro:hasPermission="business:device:release">
                <i class="fa fa-edit"></i>&nbsp;投放
              </a>
              <a class="btn btn-info btn-rounded btn-sm" onclick="removeDevice()" shiro:hasPermission="business:device:removeDevice">
                <i class="fa fa-edit"></i>&nbsp;撤机
              </a>
              <a class="btn btn-info btn-rounded btn-sm" onclick="changeDevice()" shiro:hasPermission="business:device:changeDevice">
                <i class="fa fa-edit"></i>&nbsp;换板
              </a>
              <a class="btn btn-info btn-rounded btn-sm" onclick="supplyTissue()" shiro:hasPermission="business:device:supplyTissueAdd">
                <i class="fa fa-edit"></i>&nbsp;补纸
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="btn-group hidden-xs" id="toolbar" role="group">
     <!-- 新增操作移到库存管理完成 -->
     <!--  <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="business:device:add">
        <i class="fa fa-plus"></i> 新增
      </a> -->
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:device:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
      <!-- <a class="btn btn-outline btn-success btn-rounded" onclick="batchImport()" shiro:hasPermission="business:device:add">
        <i class="fa fa-plus"></i> 批量导入
      </a> -->
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:device:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:device:remove')}]];
    var prefix = ctx + 'business/device';

    $(function () {
      //投放场所下拉框数据
      var placeList = selectPlaceList();
      $.each(placeList, function (i) {
        $('#placeId').append('<option value=' + placeList[i].placeId + '>' + placeList[i].name + '</option>');
      });

      //投放地区联动搜索
      //默认绑定省
      proviceBind();
      //绑定事件
      $('#province').change(function () {
        cityBind();
      });

      $('#city').change(function () {
        countyBind();
      });

      var options = {
        url       : prefix + '/list',
        createUrl : prefix + '/add',
        updateUrl : prefix + '/edit/{id}',
        removeUrl : prefix + '/remove',
        modalName : '共享设备',
        search    : false,
        showExport: false,
        columns   : [
          {
            checkbox: true
          },
          {
            field: 'deviceId',
            title: '设备ID'
          },
          {
            field: 'deviceCode',
            title: '设备编号'
          },
          {
              field: 'deviceSn',
              title: '设备资产编号'
          },
          {
            field: 'placeName',
            title: '场所'
          },
          {
            field: 'terminalCode',
            title: '终端编号'
          },
          {
              field: 'deviceType',
              title: '设备类型'
          },
          {
              field: 'ownerName',
              title: '机主'
          },
          {
            field: 'releaseTime',
            title: '投放时间'
          },
          {
            field: 'removeTime',
            title: '撤机时间'
          },
          {
            field: 'lastHeartTime',
            title: '最后心跳时间'
          },
          {
            field: 'remainLen',
            title: '剩余出纸'
          },

          {
            field: 'lastScanTime',
            title: '最近扫码'
          },
          {
              field: 'status',
              title: '状态',
          },
          {
            field: 'statusName',
            title: '设备状态',
          },
          {
              field: 'releaseStatus',
              title: '投放申请',
              formatter: function (value) {
                 if (value === '0') {
                   return '未申请';
                 } else if (value === '1') {
                   return '已申请';
                 } else if (value === '2'){
                   return '申请通过';
                 } else if (value === '3'){
                   return '申请失败';
                 } else{
                	 return '-';
                 }
              }
          },
          {
              field: 'note',
              title: '备注'
          },
          {
            field: 'createBy',
            title: '创建者'
          },
          {
            field: 'createTime',
            title: '创建时间'
          },
          {
            field: 'updateBy',
            title: '修改者'
          },
          {
            field: 'updateTime',
            title: '修改时间'
          },
          {
            title    : '操作',
            align    : 'center',
            formatter: function (value, row, index) {
              var actions = [];
              actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' +
                row.deviceId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
              actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' +
                row.deviceId + '\')"><i class="fa fa-remove"></i>删除</a>');
              return actions.join('');
            }
          }]
      };
      $.table.init(options);
      $('#bootstrap-table').bootstrapTable('hideColumn', 'deviceId');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'deviceType');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'lon');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'lat');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'delFlag');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'lastHeartTime');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'status');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'deviceCode');
    });

    function proviceBind () {
      //清空下拉数据
      $('#province').html('');
      var str = '<option value="">全部</option>';

      var provinceAreaList = selectAreaListByPid('0');
      $.each(provinceAreaList, function (i, item) {
        str += '<option value=' + item.id + '>' + item.pname + '</option>';
      });
      //将数据添加到省份这个下拉框里面
      $('#province').append(str);
    }

    function cityBind () {
      var provice = $('#province option:selected').val();
      //判断省份这个下拉框选中的值是否为空
      if (provice == '') {
        return;
      }
      $('#city').html('');
      var str = '<option value="">全部</option>';

      var cityAreaList = selectAreaListByPid(provice);
      $.each(cityAreaList, function (i, item) {
        str += '<option value=' + item.id + '>' + item.pname + '</option>';
      });
      //将数据添加到市这个下拉框里面
      $('#city').append(str);
    }

    function countyBind () {
      var provice = $('#city option:selected').val();
      //判断市这个下拉框选中的值是否为空
      if (provice == '') {
        return;
      }
      $('#county').html('');
      var str = '<option value="">全部</option>';

      var countyAreaList = selectAreaListByPid(provice);
      $.each(countyAreaList, function (i, item) {
        str += '<option value=' + item.id + '>' + item.pname + '</option>';
      });
      //将数据添加到区县这个下拉框里面
      $('#county').append(str);
    }

    //打开设备投放选择投放场所弹窗
    function release (id) {
      var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns(
        $.table._option.id);
      if (rows.length == 0) {
        $.modal.alertWarning('请选择一条记录');
        return;
      }
      if (rows.length > 1) {
        $.modal.alertWarning('只能选择一条记录');
        return;
      }
      //若已经有设备编号说明已经投放过，不允许再次投放
      var device = getDeviceInfo(rows);
      if(device.status == "02"){
 		$.modal.alertWarning("该设备已投放!");
	    return;
	  }
      if(device.releaseStatus == "1" || device.releaseStatus == "2"){
    	  if(device.releaseStatus == "1"){
    		  $.modal.alertWarning("投放申请已提交,请等候审核!");
    	  	  return;
    	  }else{
    		  $.modal.alertWarning("该设备已投放!");
    	  	  return;
    	  }
  	  }
      //
      var url = ctx + 'business/device/release/' + rows;
      $.modal.open('选择投放场所', url);
    }

    //打开设备撤机弹窗
    function removeDevice () {
      var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns(
        $.table._option.id);
      if (rows.length == 0) {
        $.modal.alertWarning('请选择一条记录');
        return;
      }
      if (rows.length > 1) {
        $.modal.alertWarning('只能选择一条记录');
        return;
      }
      var device = getDeviceInfo(rows);
      if(device.status != "02"){
    	  $.modal.alertWarning('该设备未投放，不能撤机!');
          return;
	  }
      //
      var url = ctx + 'business/device/removeDevice/' + rows;
      $.modal.open('撤机', url);
    }

    //打开设备换板弹窗
    function changeDevice () {
      var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns(
        $.table._option.id);
      if (rows.length == 0) {
        $.modal.alertWarning('请选择一条记录');
        return;
      }
      if (rows.length > 1) {
        $.modal.alertWarning('只能选择一条记录');
        return;
      }
      //
      var url = ctx + 'business/device/changeDevice/' + rows;
      $.modal.open('设备换板', url);
    }

  	//打开设备补纸弹窗
    function supplyTissue () {
      var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns(
        $.table._option.id);
      if (rows.length == 0) {
        $.modal.alertWarning('请选择一条记录');
        return;
      }
      if (rows.length > 1) {
        $.modal.alertWarning('只能选择一条记录');
        return;
      }
      //
      var url = ctx + 'business/device/supplyTissueAdd/' + rows;
      $.modal.open('设备补纸', url);
    }

  	//批量导入设备资产编号弹窗函数
    function batchImport () {
      var url = ctx + 'business/device/batchImport';
      $.modal.open('批量导入设备资产编号', url);
    }

  	//获取运营设备数据信息方法
    function getDeviceInfo(deviceId) {
    	var device;
    	$.ajax({
	        url: ctx + "business/device/selectInfo/" + deviceId,
	        type: "post",
	        async:false,
	        success: function (data) {
	        	device = data;
	        },
	        error: function (data) {
	        	console.log("selectInfo:",data);
	            alert("后台查询失败");
	        }
		})
		return device;
    }
  </script>
</body>
</html>