<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    	<div class="col-sm-12 select-info">
			<form id="terminal-form">
				<div class="select-list">
					<ul>
						<li>
							投放地区：<input type="text" name="areaId"/>
						</li>
						<li>
							投放场所：
							<select id="placeId" name="placeId">
								<option value="">全部</option>
							</select>
						</li>
						<li>
							设备编号：<input type="text" name="deviceCode" id="deviceCode"/>
						</li>
						<li>
							设备状态：
							<select id="status" name="status" >
								<option value="">全部</option>
								<option value="2">上线</option>
		                        <option value="1">下线</option>
		                        <option value="3">故障</option>
							</select>
						</li>
						<li class="select-time">
							<label>投放时间： </label>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
							<span>-</span>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;投放</a>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;撤机</a>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;换板</a>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;补纸</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="business:device:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:device:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:device:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:device:remove')}]];
        var prefix = ctx + "business/device"

        $(function() {
           	
        	var placeList = selectPlaceList();
   	    	$.each(placeList, function (i) {
               	$('#placeId').append("<option value=" + placeList[i].placeId + ">" + placeList[i].name + "</option>");
            });
    	        
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "共享设备",
                search: false,
                showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'deviceCode', 
					title : '设备编号' 
				},
				{
					field : 'deviceSn', 
					title : '设备资产编号' 
				},
				{
					field : 'terminalCode', 
					title : '终端编号' 
				},
				{
					field : 'placeName', 
					title : '场所' 
				},
				{
					field : 'remainLen', 
					title : '剩余出纸' 
				},
				
				{
					field : 'lastScanTime', 
					title : '最后扫码时间' 
				},
				{
					field : 'note', 
					title : '备注' 
				},
				{
					field : 'status', 
					title : '设备状态' ,
					formatter : function(value) {
						if(value==='1'){
							return "下线";
						}else if(value==='2'){
							return "上线";
						}else if(value==='3'){
							return "故障";
						}else{
							return "-";
						}
					}
				},
				
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.deviceId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.deviceId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'lon');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'lat');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'delFlag');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
        });
    </script>
</body>
</html>