<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-outStock">
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>商户订单号：</label>
				<div class="col-sm-8">
					<select id="tradeOrderId" name="tradeOrderId" class="form-control" 
					onchange="showTrade(this.options[this.options.selectedIndex].value)">
						<option value="">---请选择---</option>
						<option th:each="t:${tradeOrderList}"  th:value="${t.tradeOrderId}" th:text="${t.outTradeOrder}"/>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易订单号：</label>
				<div class="col-sm-8">
					<input id="transactionId" name="transactionId" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机主：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单数量：</label>
				<div class="col-sm-8">
					<input id="totalCnt" name="totalCnt" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>出库设备：</label>
				<div class="col-sm-8">
					<!-- <select id="device" name="device" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="device:${deviceList}" th:value="${device.deviceId}" 
						th:text="${device.deviceSn}" th:disabled="${device.status != '04'}"></option>
					</select> -->
					<label th:each="device:${deviceList}" class="checkbox-inline i-checks">
						<input id="device" name="device" type="checkbox" th:value="${device.deviceId}"
						 th:text="${device.deviceSn}" th:disabled="${device.status != '04'}">
					</label>
					
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + 'business/deviceStock';
		$("#form-device-outStock").validate({
			rules:{
				tradeOrderId:{
					required:true,
				},
			},
			submitHandler: function(form) {
				outStockByTradeId();
			}
		});
		
		//提交投放设备请求
		function outStockByTradeId() {
			var tradeOrderId = $("#tradeOrderId").val();
			//var deviceIds = $.form.selectSelects("device");
			var deviceIds = $.form.selectCheckeds("device");
			if(deviceIds.length <= 0){
        		$.modal.alertWarning("没有选择出库设备!");
				return;
	       	}
			var totalCnt = $("#totalCnt").val();
			var devs = deviceIds.split(",");
			if(devs.length > totalCnt){
        		$.modal.alertWarning("出库设备最多可选择 "+ totalCnt +" 台!");
				return;
	       	}
			
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/outStockByTradeId",
        		data : {
        			"ids": deviceIds,
        			"tradeOrderId":tradeOrderId
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
		
		//选择订单加载订单数据事件
		function showTrade(value){
			$("#transactionId").val("");
    		$("#userId").val("");
    		$("#totalCnt").val("");
    		$("#remark").val("");
			if(value != "" && value != null){
				$.ajax({
			         url: ctx + "settle/tradeOrder/getTradeById",
			         type: "post",
			         contentType:"application/json",
			         dataType: "json",
			         data: JSON.stringify({ "tradeId": value}),
			         async:false,
			         success: function (data) {
			        	 if(data.rows.length > 0){
			        		 var tradeOrder = data.rows[0];
			        		 $("#transactionId").val(tradeOrder.transactionId);
			        		 $("#userId").val(tradeOrder.userId);
			        		 $("#totalCnt").val(tradeOrder.totalCnt);
			        		 $("#remark").val(tradeOrder.remark);
			        	 }
			         },
			         error: function (data) {
			             alert("查询失败" + data);
			         }
			    })
			}
		}
	</script>
</body>
</html>
