<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-adSchedule-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放名称：</label>
				<div class="col-sm-8">
					<input id="scheduleName" name="scheduleName" class="form-control" type="text">
				</div>
			</div>
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放方式：</label>
				<div class="col-sm-8">
					<select id="releaseType" name="releaseType" class="form-control" th:with="type=${@dict.getType('release_type')}">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div> -->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放类型：</label>
				<div class="col-sm-8">
					<!-- 投放位置 -->
					<select id="releasePosition" name="releasePosition" th:with="type=${@dict.getType('release_position')}" 
					class="form-control" onchange="selectPosition(this.options[this.options.selectedIndex].value)">
						<option value="">---请选择---</option> 
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
					<!-- 先使用广告类型替代投放位置，方便总价和押金的计算 -->
					<!-- <select id="releasePosition" name="releasePosition" th:with="type=${@dict.getType('ad_type')}" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select> -->
				</div>
			</div>
			<div class="form-group" id="themeTemplateIdDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>模板主题名称：</label>
				<div class="col-sm-8">
					<select id="themeTemplateId" name="themeTemplateId" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="c:${ThemeTemplateList}"  th:value="${c.themeTemplateId}" th:text="${c.themeName}"/>
					</select>
				</div>
			</div>
			<div class="form-group" id="advertiserDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>广告商：</label>
				<div class="col-sm-8">
					<select id="advertiser" name="advertiser" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="c:${advertiserList}"  th:value="${c.advertiseId}" th:text="${c.advertisorName}"/>
					</select>
				</div>
			</div>
			<div class="form-group" id="totalTimeDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>总播放时长：</label>
				<div class="col-sm-8">
					<input id="totalTime" name="totalTime" class="form-control" type="text" placeholder="以秒为单位">
				</div>
			</div>
			<div class="form-group" id="qrUrlDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>页面二维码URL：</label>
				<div class="col-sm-8">
					<input id="qrUrl" name="qrUrl" class="form-control" type="text" placeholder="请输入二维码URL">
				</div>
			</div>
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label">视讯排期ID：</label>
				<div class="col-sm-8">
					<input id="sxScheduleId" name="sxScheduleId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">投放状态：</label>
				<div class="col-sm-8">
					<select id="status" name="status" th:with="type=${@dict.getType('schedule_status')}" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总价：</label>
				<div class="col-sm-8">
					<input id="totalPay" name="totalPay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">押金：</label>
				<div class="col-sm-8">
					<input id="prepay" name="prepay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">投放终端数：</label>
				<div class="col-sm-8">
					<input id="releaseTermNum" name="releaseTermNum" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group" >	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>推荐人：</label>
				<div class="col-sm-8">
					<select id="promotioner" name="promotioner" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="c:${promotionerList}"  th:value="${c.userId}" th:text="${c.userName}"/>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">投放备注：</label>
				<div class="col-sm-8">
					<input id="releaseNote" name="releaseNote" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "advertise/adSchedule"
		$("#form-adSchedule-add").validate({
			rules:{
				scheduleName:{
					required:true,
				},
				releaseType:{
					required:true,
				},
				releasePosition:{
					required:true,
				},
				themeTemplateId:{
					required:true,
				},
				advertiser:{
					required:true,
				},
				totalTime:{
					required:true,
				},
				qrUrl:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-adSchedule-add').serialize());
			}
		});
		
		//投放位置onchange事件
		function selectPosition(value){
	        if(value=="01"){
	        	$("#themeTemplateIdDiv").show();
	        	$("#advertiserDiv").show();
	        	$("#totalTimeDiv").show();
	        	
	        	$("#qrUrlDiv").hide();
	        	$("#qrUrl").val("");

	        } else if(value=="02"){
	        	$("#themeTemplateIdDiv").hide();
	        	$("#advertiserDiv").hide();
	        	$("#totalTimeDiv").hide();
	        	$("#themeTemplateId").val("");
	        	$("#advertiser").val("");
	        	$("#totalTime").val("");
	        	
	        	$("#qrUrlDiv").show();
	        	
	        } else{
	        	$("#themeTemplateIdDiv").hide();
	        	$("#advertiserDiv").hide();
	        	$("#totalTimeDiv").hide();
	        	$("#themeTemplateId").val("");
	        	$("#advertiser").val("");
	        	$("#totalTime").val("");
	        	$("#qrUrlDiv").hide();
	        	$("#qrUrl").val("");
	        }
	    }
	</script>
</body>
</html>
