<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-adSchedule-adDetail" th:object="${adSchedule}">
            <input id="adScheduleId" name="adScheduleId" th:field="*{adScheduleId}"  type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">投放名称：</label>
                <div class="col-sm-8">
                    <input id="scheduleName" name="scheduleName" th:field="*{scheduleName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">投放位置：</label>
                <div class="col-sm-8">
                    <!-- <select id="releasePosition"  name="releasePosition" class="form-control m-b"
                    th:with="type=${@dict.getType('release_position')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
	                    th:value="${dict.dictValue}" th:field="*{releasePosition}"></option>
	                </select> -->
	                <select id="releasePosition" name="releasePosition" class="form-control" th:with="type=${@dict.getType('ad_type')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{releasePosition}"></option>
	                </select>
                </div>
            </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">投放范围：</label>
            <div class="col-sm-8">
              <!-- 全部 -->
              <input th:if="${adRange != null && adRange.releaseType == '0'}" value="全部" class="form-control" type="text">
              <!-- 按地区 -->
              <div class="row m-n" th:if="${adRange.releaseType == '1'}">
                <select class="select-pca__province p-n col-sm-4 pull-left"
                        data-style="btn-outline btn-default"
                        title="请选择省份"
                        style="width: 100px"
                        >
                  <option th:each="list:${areaList}" th:value="${list.id}" th:text="${list.pname}"></option>
                </select>
                <select class="select-pca__city p-n col-sm-4 pull-left"
                        data-style="btn-outline btn-default"
                        title="请选择城市"
                        th:value="${adRange.city}"
                        disabled>
                  <option th:each="list:${areaList}" th:value="${list.id}" th:text="${list.pname}"></option>
                </select>
                <select class="select-pca__areas p-n col-sm-4 pull-left"
                        data-style="btn-outline btn-default"
                        title="请选择区县"
                        th:value="${adRange.county}"
                        disabled>
                  <option th:each="list:${areaList}" th:value="${list.id}" th:text="${list.pname}"></option>
                </select>
              </div>
              <!-- 按场所 -->
              <input th:if="${adRange != null && adRange.releaseType == '2'}" th:value="${adRange.placeGrade}" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">投放时段：</label>
            <div class="col-sm-8">
              <div class="form-control ad-timer-control">
                <div th:each="list:${adTimerList}" class="ad-timer-item">
                  <span th:text="${#dates.format(list.releaseBeginTime, 'yyyy-MM-dd hh:mm:ss')}"></span>
                  <span class="broken"></span>
                  <span th:text="${#dates.format(list.releaseEndTime, 'yyyy-MM-dd hh:mm:ss')}"></span>
                </div>
              </div>
            </div>
          </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">投放方式：</label>
				<div class="col-sm-8">
					<select id="releaseType" name="releaseType" class="form-control" th:field="*{releaseType}">
						<option value=""></option>
						<option value="0">全部</option>
						<option value="1">按地区投放</option>
						<option value="2">按场所投放</option>
					</select>
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">模板主题名称：</label>
                <div class="col-sm-8">
                    <select id="themeTemplateId" name="themeTemplateId" class="form-control">
						<option value=""></option>
						<option th:each="c:${ThemeTemplateList}"  th:value="${c.themeTemplateId}"
						th:text="${c.themeName}" th:field="*{themeTemplateId}"/>
					</select>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">广告商：</label>
				<div class="col-sm-8">
					<select id="advertiseId" name="advertiseId" class="form-control">
						<option value=""></option>
						<option th:each="c:${advertiserList}"  th:value="${c.advertiseId}"
						th:text="${c.advertisorName}" th:field="*{advertiseId}"/>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">总播放时长：</label>
				<div class="col-sm-8">
					<input id="totalTime" name="totalTime" th:field="*{totalTime}" class="form-control" type="text">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排期编号：</label>
                <div class="col-sm-8">
                    <input id="sxScheduleId" name="sxScheduleId" th:field="*{sxScheduleId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">投放状态：</label>
                <div class="col-sm-8">
                    <select id="status" name="status" th:with="type=${@dict.getType('schedule_status')}" class="form-control">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
					</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">总价：</label>
                <div class="col-sm-8">
                    <input id="totalPay" name="totalPay" th:field="*{totalPay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">押金：</label>
                <div class="col-sm-8">
                    <input id="prepay" name="prepay" th:field="*{prepay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">投放终端数：</label>
                <div class="col-sm-8">
                    <input id="releaseTermNum" name="releaseTermNum" th:field="*{releaseTermNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审核结果：</label>
                <div class="col-sm-8">
                    <input id="approved" name="approved" th:field="*{approved}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审核意见：</label>
                <div class="col-sm-8">
                    <input id="approvedRemark" name="approvedRemark" th:field="*{approvedRemark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审核人员：</label>
                <div class="col-sm-8">
                    <input id="approvedUser" name="approvedUser" th:field="*{approvedUser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">投放备注：</label>
                <div class="col-sm-8">
                    <input id="releaseNote" name="releaseNote" th:field="*{releaseNote}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script th:src="@{/js/plugins/bootstrapSelect/bootstrap-select.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-zh_CN.min.js"></script>
  <script>
    $(function () {

      $('select[class*=select-pca__]').selectpicker({
        size : 7,
        width: false,
        selectPca:{
          province: 'select.select-pca__province',
          city    : 'select.select-pca__city',
          areas   : 'select.select-pca__areas'
        }
      });
      $('.select-pca__province').selectpicker('val',"[[${adRange.province}]]");
      $('.select-pca__city').selectpicker('val',"[[${adRange.city}]]");
      $('.select-pca__areas').selectpicker('val',"[[${adRange.county}]]");

      /*$.getJSON("[[@{/json/select__pac-code.json}]]",function (data) {
        $('select.select-pca__province').selectpicker('selectPca', data)
      });*/
    })
  </script>
  <style>
    .ad-timer-control {
      height: auto;
      min-height: 34px;
      padding: 4px 12px;
    }

    .ad-timer-item {
      display: inline-block;
      padding: 0 7px;
      border: 1px solid #ccc;
      line-height: 22px;
      background-color: #f1f1f1;
    }

    .ad-timer-item + .ad-timer-item {
      margin-top: 4px;
    }

    .ad-timer-item .broken {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 0;
      margin: 10px 5px 0;
      border-bottom: 1px solid #676a6c;
      font-size: 0;
    }
  </style>
    <script type="text/javascript">
		var prefix = ctx + "advertise/adSchedule"
		$("#form-adSchedule-adDetail").validate({
			rules:{
				xxxx:{
					required:true,
				},

			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-adSchedule-edit').serialize());
			}
		});
	</script>
</body>
</html>
