<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="row">
      <div class="col-sm-12 select-info">
        <form id="schedule-form">
          <div class="select-list">
            <ul>
              <li>
                <span class="select-item-name">投放名称：</span>
                <input type="text" name="scheduleName" id="scheduleName"/>
              </li>
              <li>
                <span class="select-item-name">投放用户：</span>
                <input type="text" name="releaser" id="releaser"/>
              </li>
              <li>
                <span class="select-item-name">广告商户：</span>
                <input type="text" name="advertiser" id="advertiser"/>
              </li>
              <li>
                <span class="select-item-name">推广用户：</span>
                <input type="text" name="promotioner" id="promotioner"/>
              </li>
              <li>
                <span class="select-item-name">投放状态：</span>
                <select name="status" id="status" th:with="type=${@dict.getType('schedule_status')}">
                  <option value="">所有</option>
                  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
              </li>
              <li class="select-time">
                <label class="select-item-name">投放时间： </label>
                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                <span>-</span>
                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
              </li>
              <li class="select-btns">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="exportModule()"><i class="fa fa-download"></i>&nbsp;导出
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="materialUpload()"><i class="fa fa-download"></i>&nbsp;素材上传
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="order()"><i class="fa fa-download"></i>&nbsp;预约
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="audit()" shiro:hasPermission="advertise:adSchedule:audit"><i class="fa fa-download"></i>&nbsp;审核
                </a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="releaseOnline()" shiro:hasPermission="advertise:adSchedule:releaseOnline"><i class="fa fa-download"></i>&nbsp;发布
                </a>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="btn-group hidden-xs" id="toolbar" role="group">
        <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="advertise:adSchedule:add">
          <i class="fa fa-plus"></i> 新增
        </a>
        <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="advertise:adSchedule:remove">
          <i class="fa fa-trash-o"></i> 删除
        </a>
      </div>

      <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true" class="layui-table" lay-even="" lay-skin="row"></table>
      </div>
    </div>
  </div>
  <div th:include="include::footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('advertise:adSchedule:edit')}]];
    var removeFlag = [[${@permission.hasPermi('advertise:adSchedule:remove')}]];
    var prefix = ctx + 'advertise/adSchedule';

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "广告投放",
            columns: [{
	            checkbox: true
	        },
			{
				field : 'adScheduleId', 
				title : 'ID' 
			},
			{
				field : 'scheduleName', 
				title : '投放名称' 
			},
			{
				field : 'releaseType', 
				title : '投放方式',
				formatter: function (value) {
	              	if (value === '0') {
	                	return '全部';
	              	} else if (value === '1') {
	                	return '按地区';
	              	} else if (value === '2') {
	                	return '按场所';
	              	} else {
	                	return '-';
	              	}
            	}
			},
			{
				field : 'releasePositionName', 
				title : '投放位置' 
			},
			{
				field : 'status', 
				title : '投放状态ID'
			},
			{
				field : 'statusName', 
				title : '投放状态' 
			},
			{
				field : 'sxScheduleId', 
				title : '视讯排期ID' 
			},
			{
				field : 'pId', 
				title : '节目单ID' 
			},
			{
				field : 'advertiseName', 
				title : '广告商' 
			},
			{
				field : 'totalTime', 
				title : '总播放时长' 
			},
			{
				field : 'totalPay', 
				title : '总价' 
			},
			{
				field : 'prepay', 
				title : '押金' 
			},
			{
				field : 'releaseTermNum', 
				title : '投放终端数' 
			},
			{
				field : 'releaseNote', 
				title : '投放备注' 
			},
			{
				field : 'approved', 
				title : '审核结果' ,
				formatter: function (value) {
	              if (value === '1') {
	                return '通过';
	              } else if (value === '0') {
	                return '不通过';
	              } else {
	                return '-';
	              }
	            }
			},
			{
				field : 'approvedRemark', 
				title : '审核意见' 
			},
			{
				field : 'approvedUser', 
				title : '审核人员' 
			},
			{
				field : 'createBy', 
				title : '创建者' 
			},
			{
				field : 'createTime', 
				title : '创建时间' 
			},
			{
				field : 'updateBy', 
				title : '修改者' 
			},
			{
				field : 'updateTime', 
				title : '修改时间' 
			},
	        {
	            title: '操作',
	            align: 'center',
	            formatter: function(value, row, index) {
	            	var actions = [];
	            	/* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.adScheduleId + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="preview(\'' + row.adScheduleId +
                    	'\')"><i class="fa fa-search"></i>素材预览</a> ');
                    
                    actions.push(
                        	'<a class="btn btn-info btn-xs ' + editFlag + '" href="#" onclick="adDetail(\'' + row.adScheduleId +
                        	'\')"><i class="fa fa-edit"></i>详情</a> ');
					return actions.join('');
	            }
	        }]
        };
        $.table.init(options);
        $('#bootstrap-table').bootstrapTable('hideColumn', 'status');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'sxScheduleId');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
    });
    
    
  	//素材预览
    function preview(adScheduleId) {
		var url = ctx + "advertise/adSchedule/preview/" + adScheduleId;
    	//$.modal.openFull("素材预览", url);
		$.modal.open("素材预览", url);
  	}
    
    //
    var selectOneRecord= "请选择一条记录";
    var onlyOneRecord= "只能选择一条记录";
    //01待预约；02待审核；03待发布；04待播放；05已播放；06审核失败；07排期失败
    var toAudit= "02";//待审核
    var toBeReleased= "03";//待发布
    var toPlay= "04";//待播放
    var hasMaterial = "该广告已上传过素材!";
    var noMaterial = "该广告无素材,请先上传素材!";
    
  	//导出
    function exportModule() {
		//TODO 
    	console.log("TODO exportModule");
  	}
  
  	//素材上传弹窗函数
    function materialUpload() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
   	 	
   		/**判断是否上传过素材*/
		var batch = getMaxBatch(rows);
   		if (batch > 0) {
   	        $.modal.alertWarning(hasMaterial);
   	        return;
      	}
    	var url = ctx + "advertise/adSchedule/materialUpload/" + rows;
    	$.modal.open("素材上传", url);
	}
  	
  	//预约
    function order() {
		var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
   	 	
   		var batch = getMaxBatch(rows);
   		if (batch <= 0) {
   			$.modal.alertWarning(noMaterial);
   	        return;
   		}
   		var hasOrder = getOrderNum(rows);
   		if (hasOrder > 0) {
   			$.modal.alertWarning("该广告已预约过!");
   	        return;
   		}
   		
   		var url = ctx + "advertise/adSchedule/order/" + rows;
    	$.modal.open("广告投放预约", url);
  	}
  	
  	//审核
    function audit() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
   		var status = $.table.selectColumns($.table._option.columns[5].field);
   		var batch = getMaxBatch(rows);
   		if (batch <= 0) {
   			$.modal.alertWarning(noMaterial);
   	        return;
   		}
   		
   		if (status == toPlay || status == toBeReleased) {
   	        $.modal.alertWarning('该广告已审核通过!');
   	        return;
      	}
   		if (status != toAudit) {
   	        $.modal.alertWarning('当前非待审核状态,只有投放状态为待审核的广告才能审核!');
   	        return;
      	}
   		
   		var url = ctx + "advertise/adSchedule/audit/" + rows;
    	$.modal.open("广告投放审核", url);
  	}
  
  	//发布
    function releaseOnline() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
   		var status = $.table.selectColumns($.table._option.columns[5].field);
   		var pId = $.table.selectColumns($.table._option.columns[8].field);
   		var batch = getMaxBatch(rows);
   		if (batch <= 0) {
   			$.modal.alertWarning(noMaterial);
   	        return;
   		}
   		if (status != toBeReleased) {
   	        $.modal.alertWarning('当前非待发布状态,只有投放状态为待发布的广告才能发布!');
   	        return;
      	}
   		
   		$.modal.confirm("确定发布该条" + $.table._option.modalName + "信息吗？", function() {
        	
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/releaseOnlineSave",
        		data : {
        			"adScheduleId": rows[0]
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.modal.msgSuccess(data.msg);
        			$.table.search();
        		}
        	});
        	
    	});
  	}
  	
  	//判断该广告是否上传过素材 :batch>0
    function getMaxBatch(rows) {
    	var batch = 0;
	    $.ajax({
		        url: ctx + "settle/adMaterial/getMaxBatch/" + rows,
		        type: "post",
		        dataType: "json",
		        data: 'data',
		        async:false,
		        success: function (data) {
		        	batch = data;
		        },
		        error: function (data) {
		        	console.log("getMaxBatch:",data);
		            alert("查询失败");
		        }
		})
		return batch;
    }
    
 	
  	//判断该广告是否上传过素材 :batch>0
    function getOrderNum(rows){
    	var hasOrder = 0;
	    $.ajax({
		        url: ctx + "settle/adReleaseRange/getOrderNum/" + rows,
		        type: "post",
		        dataType: "json",
		        data: 'data',
		        async:false,
		        success: function (data) {
		        	hasOrder = data;
		        },
		        error: function (data) {
		        	console.log("getOrderNum:",data);
		            alert("查询失败");
		        }
		})
		return hasOrder;
  	}
  	
  	//广告详情
    function adDetail(adScheduleId) {
		var url = ctx + "advertise/adSchedule/adDetail/" + adScheduleId;
		$.modal.open("广告详情", url);
  	}
  	
  	//导出Excel
    function exportModule(){
    	$.modal.confirm("确认导出？", function() {
			//location.href = ctx + "advertise/adSchedule/excelExport?orgId="+vm.q.orgId+'&jssysDm='+vm.q.jssysDm+'&result='+vm.q.result+'&userRybh='+vm.q.userRybh;
    		var scheduleName = $("#scheduleName").val();
    		var releaser = $("#releaser").val();
    		var advertiser = $("#advertiser").val();
    		var promotioner = $("#promotioner").val();
    		var status = $.form.selectSelects("status");
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();
    		
			location.href = ctx + "advertise/adSchedule/excelExport?scheduleName="+scheduleName+'&releaser='+releaser
					+'&advertiser='+advertiser+'&promotioner='+promotioner+'&status='+status
					+'&startTime='+startTime+'&endTime='+endTime
    		$.modal.alert("导出成功!");
		});
    }
  	
</script>
</body>
</html>