<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="row">
      <div class="col-sm-12 select-info">
        <form id="schedule-form">
          <div class="select-list">
            <ul>
              <li>
                <span class="select-item-name">投放名称：</span>
                <input type="text" name="scheduleName" id="scheduleName"/>
              </li>
              <li>
              	<span class="select-item-name">设备编号：</span>
              	<input type="text" name="deviceCode" id="deviceCode"/>
              </li>
              <li>
                <span class="select-item-name">投放用户：</span>
               		<select
                    id="releaser"
                    name="releaser"
                    data-live-search="true"
                    class="block-plugin__select-picker selectpicker"
                    data-style="btn-white btn-sm">
	                	<option value="">全部</option>
	              	</select>
              </li>
              <li>
                <span class="select-item-name">广告商户：</span>
                	<select
                    id="advertiser"
                    name="advertiser"
                    data-live-search="true"
                    class="block-plugin__select-picker selectpicker"
                    data-style="btn-white btn-sm">
	                	<option value="">全部</option>
	              	</select>
              </li>
              <li>
                <span class="select-item-name">推广用户：</span>
               		<select
                    id="promotioner"
                    name="promotioner"
                    data-live-search="true"
                    class="block-plugin__select-picker selectpicker"
                    data-style="btn-white btn-sm">
	                	<option value="">全部</option>
	              	</select>
              </li>
              <li>
                <span class="select-item-name">投放状态：</span>
                <select
                  name="status"
                  id="status"
                  th:with="type=${@dict.getType('schedule_status')}"
                  data-live-search="true"
                  class="block-plugin__select-picker selectpicker"
                  data-style="btn-white btn-sm">
                  <option value="">所有</option>
                  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
              </li>
              <li class="select-time">
                <label class="select-item-name">投放时间： </label>
                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                <span>-</span>
                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
              </li>
              <li class="select-btns">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
                </a>
                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              	</a>
                <a class="btn btn-success btn-rounded btn-sm" onclick="exportModule()"><i class="fa fa-download"></i>&nbsp;导出
                </a>
                <a class="btn btn-warning btn-rounded btn-sm" onclick="materialUpload()" shiro:hasPermission="advertise:adSchedule:add"><i class="fa fa-search"></i>&nbsp;素材上传
                </a>
                <a class="btn btn-info btn-rounded btn-sm" onclick="editReleaseTimer()" shiro:hasPermission="advertise:adSchedule:editReleaseTimer"><i class="fa fa-edit"></i>&nbsp;投放时段
                </a>
                <a class="btn btn-primary btn-rounded btn-sm" onclick="editReleaseDevice()" shiro:hasPermission="advertise:adSchedule:editReleaseDevice"><i class="fa fa-edit"></i>&nbsp;投放终端
                </a>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="btn-group hidden-xs" id="toolbar" role="group">
        <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="advertise:adSchedule:add">
          <i class="fa fa-plus"></i> 新增
        </a>
        <a class="btn btn-outline btn-danger btn-rounded" onclick="deleteAd()" shiro:hasPermission="advertise:adSchedule:remove">
          <i class="fa fa-trash-o"></i> 删除
        </a>
      </div>

      <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true" class="layui-table" lay-even="" lay-skin="row"></table>
      </div>
    </div>
  </div>
  <div th:include="include::footer"></div>
  <script th:inline="javascript">
  	var addFlag = [[${@permission.hasPermi('advertise:adSchedule:add')}]];
    var editFlag = [[${@permission.hasPermi('advertise:adSchedule:edit')}]];
    var removeFlag = [[${@permission.hasPermi('advertise:adSchedule:remove')}]];
    var auditFlag = [[${@permission.hasPermi('advertise:adSchedule:audit')}]];//审核权限
    var releaseOnlineFlag = [[${@permission.hasPermi('advertise:adSchedule:releaseOnline')}]];//发布权限
    var republishFlag = [[${@permission.hasPermi('advertise:adSchedule:republish')}]]; //播放权限
    var removeAdFlag = [[${@permission.hasPermi('advertise:adSchedule:removeAd')}]]; //停播权限
    var prefix = ctx + 'advertise/adSchedule';

    $(function() {
    	//投放广告商下拉框数据
        var advertiserList = selectAdvertiseList();
        $.each(advertiserList, function (i) {
          $('#advertiser').append('<option value=' + advertiserList[i].advertiseId + '>' + advertiserList[i].advertisorName + '</option>');
        });
      	//推广用户下拉框数据
        var promotionerList = getSearchUserList("promotioner");
        $.each(promotionerList, function (i) {
          $('#promotioner').append('<option value=' + promotionerList[i].userId + '>' + promotionerList[i].userName + '</option>');
        });
      	//投放人下拉框数据
        var releaserList = getSearchUserList("releaser");
        $.each(releaserList, function (i) {
          $('#releaser').append('<option value=' + releaserList[i].userId + '>' + releaserList[i].userName + '</option>');
        });

        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "广告投放",
            search    : false,
            showExport: false,
            columns: [{
	            checkbox: true
	        },
			{
				field : 'adScheduleId',
				title : 'ID'
			},
			{
				field : 'scheduleName',
				title : '投放名称'
			},
			{
				field : 'releaseType',
				title : '投放方式',
				formatter: function (value) {
	              	if (value === '0') {
	                	return '全部';
	              	} else if (value === '1') {
	                	return '按地区';
	              	} else if (value === '2') {
	                	return '按场所';
	              	} else {
	                	return '-';
	              	}
            	}
			},
			{
				field : 'releasePositionName',
				title : '投放位置'
			},
			{
				field : 'status',
				title : '投放状态'
			},
			{
				field : 'statusName',
				title : '投放状态'
			},
			{
	            title: '流程',
	            align: 'center',
	            formatter: function(value, row, index) {
	            	 var actions = [];
	            	 if(row.status == toWaitOrder){
		                 actions.push('<a class="btn btn-success btn-xs '+ addFlag + '" href="#" onclick="order(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>预约</a> ');
	            	 }else if(row.status == toAudit){
		                 actions.push('<a class="btn btn-info btn-xs '+ auditFlag + '" href="#" onclick="audit(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>审核</a> ');
	            	 }else if(row.status == toBeReleased){
		                 actions.push('<a class="btn btn-warning btn-xs '+ releaseOnlineFlag + '" href="#" onclick="releaseOnline(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>发布</a> ');
	            	 }
	            	 
	            	 /*else if(row.status == toPlay){
	            		 return '待播放';
	            	 }else if(row.status == "05"){
	            		 return '已播放';
	            	 }else if(row.status == "06"){
	            		 return '审核失败';
	            	 }else if(row.status == "07"){
	            		 return '排期失败';
	            	 } */else {
		                	return '-';
		             }
	                 return actions.join('');
	            }
	        },
			{
				field : 'sxScheduleId',
				title : '视讯排期ID'
			},
			{
				field : 'pId',
				title : '节目单ID'
			},
			{
				field : 'advertiseName',
				title : '广告商'
			},
			{
				field : 'totalTime',
				title : '总播放时长'
			},
			{
				field : 'totalPay',
				title : '总价'
			},
			{
				field : 'prepay',
				title : '押金'
			},
			{
				field : 'payStatus',
				title : '支付状态' ,
				formatter: function (value) {
	              if (value === '1') {
	                return '已支付';
	              } else if (value === '0') {
	                return '未支付';
	              } else if (value === '2') {
	                return '押金已支付';
	              } else {
	                return '-';
	              }
	            }
			},
			{
				field : 'releaseTermNum',
				title : '投放终端数'
			},
			{
				field : 'releaseNote',
				title : '投放备注'
			},
			{
				field : 'approved',
				title : '审核结果' ,
				formatter: function (value) {
	              if (value === '1') {
	                return '通过';
	              } else if (value === '0') {
	                return '不通过';
	              } else {
	                return '-';
	              }
	            }
			},
			{
				field : 'approvedRemark',
				title : '审核意见'
			},
			{
				field : 'approvedUser',
				title : '审核人员'
			},
			{
				field : 'deadLine',
				title : '截止日期'
			},
			{
				field : 'createBy',
				title : '创建者'
			},
			{
				field : 'createTime',
				title : '创建时间'
			},
			{
				field : 'updateBy',
				title : '修改者'
			},
			{
				field : 'updateTime',
				title : '修改时间'
			},
	        {
	            title: '操作',
	            align: 'center',
	            formatter: function(value, row, index) {
	            	var actions = [];
	            	/* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.adScheduleId + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="preview(\'' + row.adScheduleId +
                    	'\')"><i class="fa fa-search"></i>素材预览</a> ');
                    
                    actions.push(
                        	'<a class="btn btn-info btn-xs" href="#" onclick="adDetail(\'' + row.adScheduleId +
                        	'\')"><i class="fa fa-edit"></i>详情</a> ');
                    if(row.payStatus=='0'){
                    	actions.push('<a class="btn btn-warning btn-xs " onclick="adPayByAccount(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>支付</a> ');
                    }
                    if(row.releaseStatus == '0'){
                    	actions.push('<a class="btn btn-warning btn-xs ' + republishFlag + '" onclick="republish(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>播放</a> ');
                    }
                    if(row.releaseStatus == '1'){
                    	actions.push('<a class="btn btn-danger btn-xs '+ removeAdFlag +'" onclick="removeAd(\'' + row.adScheduleId + '\')"><i class="fa fa-edit"></i>停播</a> ');
                    }
					return actions.join('');
	            }
	        }]
        };
        $.table.init(options);
        $('#bootstrap-table').bootstrapTable('hideColumn', 'status');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'sxScheduleId');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'prepay');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'adScheduleId');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'pId');
        $('#bootstrap-table').bootstrapTable('hideColumn', 'approvedUser');

    });


  //=======================本页面的公共常量=================================================
    var selectOneRecord= "请选择一条记录";
    var onlyOneRecord= "只能选择一条记录";
    //01待预约；02待审核；03待发布；04待播放；05已播放；06审核失败；07排期失败
    var toWaitOrder= "01";//待审核
    var toAudit= "02";//待审核
    var toBeReleased= "03";//待发布
    var toPlay= "04";//待播放
  	var hasPlay = "05";//已播放
    var hasPay = "1";//已支付
    //终端广告01,页面H5广告02
    var type_terminal = "01";
    var type_h5 = "02";
    var hasMaterial = "该广告已上传过素材!";
    var noMaterial = "该广告无素材,请先上传素材!";

  	//=======================本页面的函数方法=================================================
  	//素材预览
    function preview(adScheduleId) {
		//用插件的方式预览
  		//var url = ctx + "advertise/adSchedule/preview/" + adScheduleId;
    	//$.modal.openFull("素材预览", url);
		//$.modal.open("素材预览", url);

		//用直接跳转页面链接的方式预览
    	var http = "http://mmedia.dingscm.com/mmedia/pageJump/go_programme_view.action?scheduleId=";
		var sxScheduleId;
		$.ajax({
	        url: ctx + "advertise/adSchedule/selectSxScheduleId/" + adScheduleId,
	        type: "post",
	        //contentType:"application/json",
	        //dataType: "json",
	        //data: JSON.stringify({ "adScheduleId": adScheduleId}),
	        async:false,
	        success: function (data) {
	        	sxScheduleId = data;
	        	//console.log("http + sxScheduleId:",http + sxScheduleId);
	    		if(sxScheduleId != '' && sxScheduleId != null){
	    			var url = http + sxScheduleId;
	    			window.open(url);
	    		}else{
	    			//$.modal.alertWarning("暂未生成排期广告!");
	    			var url = ctx + "advertise/adSchedule/preview/" + adScheduleId;
					$.modal.open("素材预览", url);
	    		}
	        },
	        error: function (data) {
	        	console.log("selectSxScheduleId:",data);
	            alert("查询排期失败");
	        }
		})
  	}

  	//素材上传弹窗函数
    function materialUpload() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}

      	//H5广告不需要上传素材不需要审核不需要支付
      	var adSchedule = getAdScheduleInfo(rows);
      	if(adSchedule.releasePosition == type_h5){
      		$.modal.alertWarning("页面H5广告不能上传素材!");
   	        return;
      	}

      	//改成在未预约之前可以上传多次素材，每次模板元素只能单选，即同一批次上传的文件都是同一模板元素的
      	var hasOrder = getOrderNum(rows);
   		if (hasOrder > 0) {
   			$.modal.alertWarning("该广告已预约过,不能再次上传素材!");
   	        return;
   		}
    	var url = ctx + "advertise/adSchedule/materialUpload/" + rows;
    	$.modal.open("素材上传", url);
	}
  	
  	//修改投放时间
  	function editReleaseTimer(){
  		var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
  	    var url = ctx + "advertise/adReleaseTimer/editTimer/" + rows;
  	    createMenuItem(url, '广告投放时段');
  	}
	//修改投放设备
  	function editReleaseDevice(){
  		var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}
  	    var url = ctx + "advertise/releaseDevice/editDevice/" + rows;
  	    createMenuItem(url, '广告投放设备');
  	}
  	
  	//预约,未使用，同function order(adScheduleId)
    function order() {
		var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}

   		var batch = getMaxBatch(rows);
   		if (batch <= 0) {
   			$.modal.alertWarning(noMaterial);
   	        return;
   		}
   		var hasOrder = getOrderNum(rows);
   		if (hasOrder > 0) {
   			$.modal.alertWarning("该广告已预约过!");
   	        return;
   		}

   		var url = ctx + "advertise/adSchedule/order/" + rows;
    	$.modal.open("广告投放预约", url);
  	}
  	//行数据预约方法
    function order(adScheduleId) {
    	var adSchedule = getAdScheduleInfo(adScheduleId);
    	//终端广告才判断是否有素材，H5广告不判断是否有素材
      	if(adSchedule.releasePosition == type_terminal){
      		var batch = getMaxBatch(adScheduleId);
       		if (batch <= 0) {
       			$.modal.alertWarning(noMaterial);
       	        return;
       		}
       		//判断还有哪种模板元素没有上传素材
       		var allType = judgeAllType(adScheduleId);
       		if(allType != "allHas"){
       			if(allType == "error"){
       				$.modal.alertWarning("暂不能预约,请联系管理员!");
           	        return;
       			}else{
       				$.modal.alertWarning("您还有模板元素为 '"+allType+ "' 的素材类型未上传,请先上传!");
           	        return;
       			}
       		}
       		
      	}

      	var hasOrder = getOrderNum(adScheduleId);
   		if (hasOrder > 0) {
   			$.modal.alertWarning("该广告已预约过!");
   	        return;
   		}
   		var url = ctx + "advertise/adSchedule/order/" + adScheduleId;
    	$.modal.open("广告投放预约", url);
  	}
  	
    function republish(adScheduleId) {
    	var adSchedule = getAdScheduleInfo(adScheduleId);
    	//终端广告才判断是否有素材，H5广告不判断是否有素材
      	if(adSchedule.releasePosition == type_terminal){
      		var batch = getMaxBatch(adScheduleId);
       		if (batch <= 0) {
       			$.modal.alertWarning(noMaterial);
       	        return;
       		}
       		//判断还有哪种模板元素没有上传素材
       		var allType = judgeAllType(adScheduleId);
       		if(allType != "allHas"){
       			if(allType == "error"){
       				$.modal.alertWarning("暂不能预约,请联系管理员!");
           	        return;
       			}else{
       				$.modal.alertWarning("您还有模板元素为 '"+allType+ "' 的素材类型未上传,请先上传!");
           	        return;
       			}
       		}
       		
      	}
		var status = adSchedule.status;
   		if(status != '04' && status != '05'){
   			$.modal.alertWarning("该广告未发布，无法开始播放!");
   	        return;
   		}
   		$.modal.confirm("确定播放该条" + adSchedule.scheduleName + "广告吗？", function() {
	   		$.ajax({
	    		cache : true,
	    		type : "POST",
	    		url : prefix + "/republish",
	    		data : {
	    			"adScheduleId": adScheduleId
	    		},
	    		async : false,
	    		error : function(request) {
	    			$.modal.alertError("系统错误");
	    		},
	    		success : function(data) {
	    			$.modal.msgSuccess(data.msg);
	    			$.table.search();
	    		}
	    	});
   		});
  	}

    function removeAd(adScheduleId) {
    	var adSchedule = getAdScheduleInfo(adScheduleId);
   		$.modal.confirm("确定停播该条" + adSchedule.scheduleName + "广告吗？", function() {
	   		$.ajax({
	    		cache : true,
	    		type : "POST",
	    		url : prefix + "/removeAd",
	    		data : {
	    			"adScheduleId": adScheduleId
	    		},
	    		async : false,
	    		error : function(request) {
	    			$.modal.alertError("系统错误");
	    		},
	    		success : function(data) {
	    			$.modal.msgSuccess(data.msg);
	    			$.table.search();
	    		}
	    	});
   		});
  	}
    
  	//审核,未使用,同function audit(adScheduleId) {
    function audit() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}

   		var adSchedule = getAdScheduleInfo(rows);
   		//var status = $.table.selectColumns($.table._option.columns[5].field);
   		var batch = getMaxBatch(rows);
   		if (batch <= 0) {
   			$.modal.alertWarning(noMaterial);
   	        return;
   		}

   		if (adSchedule.status == toPlay || adSchedule.status == toBeReleased) {
   	        $.modal.alertWarning('该广告已审核通过!');
   	        return;
      	}
   		if (adSchedule.status != toAudit) {
   	        $.modal.alertWarning('当前非待审核状态,只有投放状态为待审核的广告才能审核!');
   	        return;
      	}

   		var url = ctx + "advertise/adSchedule/audit/" + rows;
    	$.modal.open("广告投放审核", url);
  	}
  	//行数据审核方法
    function audit(adScheduleId) {
   		var adSchedule = getAdScheduleInfo(adScheduleId);
      	if(adSchedule.releasePosition == type_terminal){
      		var batch = getMaxBatch(adScheduleId);
       		if (batch <= 0) {
       			$.modal.alertWarning(noMaterial);
       	        return;
       		}
       		if (adSchedule.status == toPlay || adSchedule.status == toBeReleased) {
       	        $.modal.alertWarning('该广告已审核通过!');
       	        return;
          	}
       		if (adSchedule.status != toAudit) {
       	        $.modal.alertWarning('当前非待审核状态,只有投放状态为待审核的广告才能审核!');
       	        return;
          	}
      	}else if(adSchedule.releasePosition == type_h5){
      		$.modal.alertWarning("页面H5广告不需要审核!");
   	        return;
      	}

   		var url = ctx + "advertise/adSchedule/audit/" + adScheduleId;
    	$.modal.open("广告投放审核", url);
  	}

  	//发布,未使用,同function releaseOnline(adScheduleId) {
    function releaseOnline() {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
   		if (rows.length == 0) {
   			$.modal.alertWarning(selectOneRecord);
   			return;
   		}
   		if (rows.length > 1){
   			$.modal.alertWarning(onlyOneRecord);
   			return;
   		}

   		//var status = $.table.selectColumns($.table._option.columns[5].field);
   		//var pId = $.table.selectColumns($.table._option.columns[8].field);

   		//H5广告不需要上传素材不需要审核不需要支付
      	var adSchedule = getAdScheduleInfo(rows);
      	if(adSchedule.releasePosition == type_terminal){
      		var batch = getMaxBatch(rows);
       		if (batch <= 0) {
       			$.modal.alertWarning(noMaterial);
       	        return;
       		}
       		if (adSchedule.status != toBeReleased) {
       	        $.modal.alertWarning('当前非待发布状态,只有投放状态为待发布的广告才能发布!');
       	        return;
          	}
       		if (adSchedule.payStatus != hasPay) {
       	        $.modal.alertWarning('支付广告费用后才能发布!');
       	        return;
          	}
      	}

   		$.modal.confirm("确定发布该条" + $.table._option.modalName + "信息吗？", function() {

        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/releaseOnlineSave",
        		data : {
        			"adScheduleId": rows[0]
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.modal.msgSuccess(data.msg);
        			$.table.search();
        		}
        	});

    	});
  	}
  	//行数据发布方法
    function releaseOnline(adScheduleId) {
   		var adSchedule = getAdScheduleInfo(adScheduleId);
   		if(adSchedule.releasePosition == type_terminal){
   			//终端广告才有判断是否有素材及是否支付,页面H5广告不判断
   			var batch = getMaxBatch(adScheduleId);
   	   		if (batch <= 0) {
   	   			$.modal.alertWarning(noMaterial);
   	   	        return;
   	   		}
   	   		if (adSchedule.payStatus != hasPay) {
   	   	        $.modal.alertWarning('支付广告费用后才能发布!');
   	   	        return;
   	      	}
   		}

   		if (adSchedule.status != toBeReleased) {
	   	        $.modal.alertWarning('当前非待发布状态,只有投放状态为待发布的广告才能发布!');
	   	        return;
	    }

   		$.modal.confirm("确定发布" + adSchedule.scheduleName + " 广告信息吗？", function() {

        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/releaseOnlineSave",
        		data : {
        			"adScheduleId": adScheduleId,
        			"releasePosition": adSchedule.releasePosition
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.modal.msgSuccess(data.msg);
        			$.table.search();
        		}
        	});

    	});
  	}

  	//判断该广告是否上传过素材 :batch>0
    function getMaxBatch(rows) {
    	var batch = 0;
	    $.ajax({
		        url: ctx + "settle/adMaterial/getMaxBatch/" + rows,
		        type: "post",
		        dataType: "json",
		        data: 'data',
		        async:false,
		        success: function (data) {
		        	batch = data;
		        },
		        error: function (data) {
		        	console.log("getMaxBatch:",data);
		            alert("查询失败");
		        }
		})
		return batch;
    }
  	//判断广告模板元素类型是否全部有素材上传
    function judgeAllType(rows) {
    	var allType = "error";
	    $.ajax({
		        url: ctx + "settle/adMaterial/judgeAllType/" + rows,
		        type: "post",
		        //dataType: "json",
		        //data: 'data',
		        async:false,
		        success: function (data) {
		        	allType = data;
		        },
		        error: function (data) {
		        	console.log("judgeAllType:",data);
		            //alert("查询失败");
		        }
		})
		return allType;
    }


  	//判断该广告是否预约过 :hasOrder>0
    function getOrderNum(rows){
    	var hasOrder = 0;
	    $.ajax({
		        url: ctx + "settle/adReleaseRange/getOrderNum/" + rows,
		        type: "post",
		        dataType: "json",
		        data: 'data',
		        async:false,
		        success: function (data) {
		        	hasOrder = data;
		        },
		        error: function (data) {
		        	console.log("getOrderNum:",data);
		            alert("查询失败");
		        }
		})
		return hasOrder;
  	}

  	//广告详情
    function adDetail(adScheduleId) {
		var url = ctx + "advertise/adSchedule/adDetail/" + adScheduleId;
		$.modal.open("广告详情", url);
  	}

  	//导出Excel
    function exportModule(){
    	$.modal.confirm("确认导出？", function() {
			//location.href = ctx + "advertise/adSchedule/excelExport?orgId="+vm.q.orgId+'&jssysDm='+vm.q.jssysDm+'&result='+vm.q.result+'&userRybh='+vm.q.userRybh;
    		var scheduleName = $("#scheduleName").val();
    		var deviceCode = $("#deviceCode").val();
    		var releaser = $("#releaser").val();
    		var advertiser = $("#advertiser").val();
    		var promotioner = $("#promotioner").val();
    		var status = $.form.selectSelects("status");
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();

			location.href = ctx + "advertise/adSchedule/excelExport?scheduleName="+scheduleName
					+'&releaser='+releaser+'&deviceCode='+deviceCode
					+'&advertiser='+advertiser+'&promotioner='+promotioner+'&status='+status
					+'&startTime='+startTime+'&endTime='+endTime
    		$.modal.alert("导出成功!");
		});
    }

  	//二维码支付弹窗
    function adPay (adScheduleId) {
    	var adSchedule = getAdScheduleInfo(adScheduleId);
    	if(adSchedule.releasePosition == type_terminal){
        	if (adSchedule.payStatus == hasPay) {
       	        $.modal.alertWarning('该广告费用已支付,请勿重复支付!');
       	        return;
          	}
        	if (adSchedule.status != toBeReleased) {
       	        $.modal.alertWarning('广告审核通过后才能支付!');
       	        return;
          	}
    		if(adSchedule.totalPay == '' || adSchedule.totalPay == null){
        		$.modal.alertWarning("暂无支付信息!");
        		return;
        	}
    	}else{
    		$.modal.alertWarning("页面H5广告不需要支付!");
    		return;
    	}

    	var url = ctx + "advertise/adSchedule/adPay/" + adScheduleId;
        $.modal.open("广告支付二维码", url, 400, 400);
    }

  	//从钱包直接扣款
    function adPayByAccount(adScheduleId) {
    	var adSchedule = getAdScheduleInfo(adScheduleId);
    	if(adSchedule.releasePosition == type_terminal){
        	if (adSchedule.payStatus == hasPay) {
       	        $.modal.alertWarning('该广告费用已支付,请勿重复支付!');
       	        return;
          	}
        	if (adSchedule.status != toBeReleased && adSchedule.status != '04' && adSchedule.status!='05') {
       	        $.modal.alertWarning('广告审核通过后才能支付!');
       	        return;
          	}
    		if(adSchedule.totalPay == null ){
        		$.modal.alertWarning("暂无支付信息!");
        		return;
        	}
    	}else{
    		$.modal.alertWarning("页面H5广告不需要支付!");
    		return;
    	}

   		$.modal.confirm("确定支付 '" + adSchedule.scheduleName + "' 广告费用吗？", function() {
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/adPayByAccount",
        		data : {
        			"adScheduleId": adScheduleId,
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.modal.alertWarning(data.msg);
        			$.table.search();
        		}
        	});

    	});
  	}

  	//获取广告数据信息--公共方法
    function getAdScheduleInfo(adScheduleId) {
    	var adSchedule;
    	$.ajax({
	        url: ctx + "advertise/adSchedule/selectInfo/" + adScheduleId,
	        type: "post",
	        async:false,
	        success: function (data) {
	        	adSchedule = data;
	        },
	        error: function (data) {
	        	console.log("selectInfo:",data);
	            alert("查询广告信息失败");
	        }
		})
		return adSchedule;
    }

    function deleteAd(){
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
    	if (rows.length == 0) {
			$.modal.alertWarning("请至少选择一条记录");
			return;
		}
    	var warnInfo = '';
    	var del = false;
    	for(var i=0; i < rows.length; i++){
    		var adSchedule = getAdScheduleInfo(rows[i]);
    		if(adSchedule.status == "04"){
    			warnInfo = "广告计划 "+adSchedule.scheduleName+" 为待播放状态, 不允许删除!"
    			del = true
    			break;
    		}
    		if(adSchedule.status == "05"){
    			warnInfo = "广告计划 "+adSchedule.scheduleName+" 已播放, 不允许删除!"
    			del = true
    			break;
    		}
    		if(adSchedule.payStatus == "1"){
    			warnInfo = "广告计划 "+adSchedule.scheduleName+" 已支付, 不允许删除!"
    			del = true
    			break;
    		}
    	}
    	//如果有广告已经支付或者已经发布则不能删除!
    	if(del){
    		$.modal.alertWarning(warnInfo);
        	return;
    	}

    	$.operate.removeAll();
    }


    /**搜索框查询条件获取用户数据*/
    function getSearchUserList(searchKey){
    	var userList = [];
    	$.ajax({
        	type: "post",
        	contentType:"application/json",
            dataType: "json",
            url: ctx + "advertise/adSchedule/getSearchUserList",
            data: JSON.stringify({ "searchKey": searchKey}),
            async: false,
            success: function (data) {
            	userList = data.rows;
            },
            error: function () { alert("获取用户信息失败"); }
        });
        return userList;
    }

</script>
</body>
</html>