<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<style>
    .fileUploadContent .subberProgress{
    	display: none !important;
    }
  </style>
<body class="white-bg">

	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-adSchedule-materialUpload" th:object="${adSchedule}">
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放名称：</label>
				<div class="col-sm-8">
					<input id="adScheduleId" name="adScheduleId" class="form-control" th:field="*{adScheduleId}" type="hidden">
					<input id="scheduleName" name="scheduleName" class="form-control" th:field="*{scheduleName}" type="text"readonly="readonly">
					<input id="sxScheduleId" name="sxScheduleId" th:field="*{sxScheduleId}" class="form-control" type="hidden">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放位置：</label>
                <div class="col-sm-8">
	                <input id="releasePosition" name="releasePosition" th:field="*{releasePosition}"  type="hidden">
                    <input id="releasePositionName" name="releasePositionName" th:field="*{releasePositionName}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>模板元素：</label>
				<div class="col-sm-8">
					<!-- 模板元素每次单选,若要传不同模板元素的可在预约之前多次上传素材  -->
					<!-- <label th:each="element:${elementList}" class="checkbox-inline i-checks">
						<input name="element" type="checkbox" th:value="${element.id}" th:text="${element.elementName}">
					</label> -->
					<select
						name="element"
						id="element"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option th:each="e:${elementList}"  th:value="${e.id}" th:text="${e.elementName}"/>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="color: red;">*&nbsp;已上传<strong id="num"></strong>个文件<a title="预览已上传文件" onclick="adView()">&nbsp;点击预览</a></span>
	            <span style="color: red;">*&nbsp;最多还可选择<strong id="remain"></strong>个文件上传,每个文件最大30M!</span>
			  	<br>
		  	</div>
		  	
			<div id="fileUploadContent" class="fileUploadContent"></div>
			<!-- <span style="color: red;">*&nbsp;最多上传10个图片/视频文件;每个文件最大30M</span> -->
			<!-- <span style="color: red;">*&nbsp;已上传<strong id="num"></strong>个文件<a class="btn btn-primary btn-rounded btn-sm" 
			onclick="adView()"><i class="fa fa-search"></i>&nbsp;预览</a></span><br>
            <span style="color: red;">*&nbsp;最多还可选择<strong id="remain"></strong>个文件上传,每个文件最大30M!</span> -->
		  	<br>
		  	<button onclick="submitUpload()" id="submit" class="btn btn-primary">上传</button>
		  	<!-- <button onclick="showUpError()" class="btn btn-primary">显示错误</button> -->
		</form>
	</div>

  <div th:include="include::footer"></div>
  <link th:href="@{/css/iconfont.css}" rel="stylesheet"/>
  <link th:href="@{/css/fileUpload.css}" rel="stylesheet"/>
  <script th:src="@{/js/fileUpload.js}"></script>
  <script>
	  var prefix = ctx + 'advertise/adSchedule';
	  $('#form-adSchedule-materialUpload').validate({
	    rules        : {
	      fileUpload: {
	        required: true
	      },
	      element: {
	        required: true
	      },
	    },
	    messages     : {
	      'fileUpload': {
	        	required: '请选择上传文件'
	      }
	    },
	    submitHandler: function (form) {
	      //materialUploadSubmit();
	    }
	  });

	$(function () {
		var adScheduleId = $("#adScheduleId").val();
		var count = getAdMaterialCount(adScheduleId); 
		var num=document.getElementById("num");
		num.innerText=count;
		var remain=document.getElementById("remain");
		remain.innerText=(10-count);
	});
	  
    $('#fileUploadContent').initUpload({
      'uploadUrl'       : ctx + 'advertise/adSchedule/materialUploadSave',//上传文件信息地址
      //'progressUrl'     : '#',//获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
      //'selfUploadBtId'  : 'selfUploadBt',//自定义文件上传按钮id
      'isHiddenUploadBt': true,//是否隐藏上传按钮
      'isHiddenCleanBt' : false,//是否隐藏清除按钮
      'isAutoClean'     : false,//是否上传完成后自动清除
      //'velocity'        : 10,//模拟进度上传数据
      //"showSummerProgress":false,//总进度条，默认限制
      //"scheduleStandard":true,//模拟进度的方式，设置为true是按总进度，用于控制上传时间，如果设置为false,按照文件数据的总量,默认为false
      "size":122880,//文件大小限制，单位kb,默认不限制
      "maxFileNumber":10,//文件个数限制，为整数
      //"filelSavePath":"",//文件上传地址，后台设置的根目录
      "beforeUpload":beforeUploadFun,//在上传前执行的函数
      "onUpload":onUploadFun,//在上传后执行的函数
      // autoCommit:true,//文件是否自动上传
      "fileType":['png','jpg','jpeg','gif','bmp','avi','rmvb',
                  'rm','asf','divx','mpg','mpg','mpeg','mpe','wmv','mp4','mkv','vob','txt'],//文件类型限制，默认不限制，注意写的是文件后缀
    });

    function beforeUploadFun (opt) {

    	opt.otherData = [
        	{
        		'name' : 'adScheduleId',
        		'value': $("#adScheduleId").val()
        	},
        	{
        		'name' : 'scheduleName',
        		'value': $("#scheduleName").val()
        	},
        	{
        		'name' : 'elementId',
        		/* 'value': $.form.selectCheckeds("element") */
        		'value': $("#element").val()
        	},
        	{
        		'name' : 'elementName',
        		'value': $("#element option:selected").text()
        	}];
    }

    function onUploadFun (opt, data) {
      //alert(data);
      //uploadTools.uploadError(opt); //显示上传错误
     	$(".subberProgress").css("display","none");
    	alert(data.msg);
        $.modal.close();
        //刷新管理页面
        $.modal.reload();
    }

    function submitUpload () {
    	//var elements = $.form.selectCheckeds("element");
    	//console.log("text:",$("#element option:selected").text());
    	var elements = $("#element").val();
    	if(elements.length <= 0){
    		$.modal.alertWarning("请先选择模板元素!");
			return;
       	}
    	var adScheduleId = $("#adScheduleId").val();
    	var uploadNum = 0;
    	var fileList = uploadTools.getOpt('fileUploadContent').fileList;
    	//直接用fileList.length有问题，比如选择了5个删了1个之后数量还是5
    	for(var i=0;i<fileList.length;i++){
    		if(fileList[i] != undefined){
    			uploadNum++;
    		}
    	}

    	var adMaterialCount = getAdMaterialCount(adScheduleId);
    	//目前限制一个广告计划总数最多上传10个文件
    	if(uploadNum + adMaterialCount > 10){
    		$.modal.alertWarning("您最多还可上传 "+ (10-adMaterialCount) +"个文件!");
			return;
    	}

    	$.modal.confirm("确定上传？", function() {
    		$("#submit").attr('disabled',true);
	    	var opt = uploadTools.getOpt('fileUploadContent');
		    uploadEvent.uploadFileEvent(opt);
		});
    }

    function showUpError () {
      var opt = uploadTools.getOpt('fileUploadContent');
      uploadTools.uploadError(opt); //显示上传错误
    }

    //显示文件，设置删除事件
    // uploadTools.showFileResult('fileUploadContent', 'https://ps.ssl.qhmsg.com/t01e39e571b0b9b9867.jpg', '1', true, deleteFileByMySelf);

    //如果不需要删除
    // uploadTools.showFileResult('fileUploadContent', 'https://ps.ssl.qhmsg.com/t01e39e571b0b9b9867.jpg', '1', false);

    //多文件需要自己进行循环
    function deleteFileByMySelf (fileId) {
      alert('删除文件提醒：' + fileId);
    }

  	//提交请求
    function materialUploadSubmit () {
    	var formdata = new FormData();
    	formdata.append("adScheduleId", $("#adScheduleId").val());
		console.log("adScheduleId",$("#adScheduleId").val());

		for(var i=0;i<$("#fileUpload")[0].files.length;i++){
			formdata.append("fileUpload", $("#fileUpload")[0].files[i]);
		}
    	$.ajax({
    		url : prefix + "/materialUploadSave",
    		type:"post",
    		contentType: false,
            processData: false,
            data: formdata,
    		async : false,
    		error : function(request) {
    			$.modal.alertError("系统错误");
    		},
    		success : function(data) {
    			if(data.code == 0){
    				alert(data.msg);
    				$.modal.close();
        			//刷新管理页面
        			$.modal.reload();

    			}else{
    				alert(data.msg);
    			}
    		}
    	});
    }

  	//获取广告已上传素材数量
    function getAdMaterialCount(adScheduleId) {
  		var adMaterialCount = 0;
		$.ajax({
	        url: ctx + "settle/adMaterial/selectListByAdSchId",
	        type: "post",
	        contentType:"application/json",
	        dataType: "json",
	        data: JSON.stringify({ "adScheduleId": adScheduleId}),
	        async:false,
	        success: function (data) {
	        	adMaterialCount = data.rows.length;
	        },
	        error: function (data) {
	        	console.log("getAdMaterialCount:",data);
	            alert("查询失败");
	        }
		})
		return adMaterialCount;
    }
  	
    function adView(){
		var http = "http://mmedia.bp.zcloudtechs.cn/mmedia/pageJump/go_programme_view.action?scheduleId=";
		var sxScheduleId = $("#sxScheduleId").val();
		if(sxScheduleId != '' && sxScheduleId != null){
			var url = http + sxScheduleId;
			window.open(url);
		}else{
			var adScheduleId = $("#adScheduleId").val();
			var url = ctx + "advertise/adSchedule/preview/" + adScheduleId;
	    	$.modal.openFull("素材预览", url);
		}
		
	}
  </script>
</body>
</html>
