<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-adSchedule-order" th:object="${adSchedule}">
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放名称：</label>
				<div class="col-sm-8">
					<input id="adScheduleId" name="adScheduleId" class="form-control" th:field="*{adScheduleId}" type="hidden">
					<input id="scheduleName" name="scheduleName" class="form-control" th:field="*{scheduleName}" type="text"readonly="readonly">
				</div>
			</div>
            <div class="form-group">	
                <label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放位置：</label>
                <div class="col-sm-8">
	                <input id="releasePosition" name="releasePosition" th:field="*{releasePosition}"  type="hidden">
                    <input id="releasePositionName" name="releasePositionName" th:field="*{releasePositionName}" class="form-control" type="text" readonly="readonly">
                </div>
            </div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放方式：</label>
				<div class="col-sm-8">
					<select id="releaseType" name="releaseType" class="form-control" th:with="type=${@dict.getType('release_type')}">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">投放时段：</label>
				<div class="col-sm-8">
					<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
		              <span>-</span>
	              	<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">投放设备：</label>
				<div class="col-sm-8">
					<label class="checkbox-inline i-checks">
						<input name="checkAll" id="checkAll" type="checkbox" >全选
					</label><br/>
					<label th:each="device:${devices}" class="checkbox-inline i-checks">
						<input name="device" type="checkbox" th:value="${device.deviceId}" th:text="${device.deviceCode}" th:disabled="${device.delFlag == '1'}">
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "advertise/adSchedule"
		$("#form-adSchedule-order").validate({
			rules:{
				scheduleName:{
					required:true,
				},
				releaseType:{
					required:true,
				},
			},
			submitHandler: function(form) {
				orderSaveFun();
			}
		});
		
		function orderSaveFun() {
        	var adScheduleId = $("#adScheduleId").val();
        	var scheduleName = $("#scheduleName").val();
        	var releaseType = $.form.selectSelects("releaseType");
        	var deviceIds = $.form.selectCheckeds("device");
        	
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/orderSave",
        		data : {
        			"adScheduleId" : adScheduleId,
        			"scheduleName" : scheduleName,
        			"releaseType" : releaseType,
        			"deviceIds" : deviceIds
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
		
		//设备全选事件
		function checkAllFun(){
        	var devices = document.getElementsByName("device");
			if($("#checkAll:checked").length){
       			//全选
				if(devices.length > 0) {
					for(var i  =0; i < devices.length; i++) {
						devices[i].checked = true;
					}
				}
				
       		}else{
       			//反选
				if(devices.length > 0) {
					for(var i  =0; i < devices.length; i++) {
						devices[i].checked = false;
					}
				}
       		}
		}
		
		$(function() {
		    // S 全选
			var $subBox = $("input[name='device']");
			$("#checkAll").on("ifChanged",function() {
			        if($(this).is(":checked")){
			            $subBox.iCheck("check");
			        }else{
			            $subBox.iCheck("uncheck");
			        }
			});
		});
		// E 全选
	</script>
</body>
</html>
