<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    <div class="col-sm-12 select-info">
					<form id="user-form">
						<div class="select-list">
							<ul>
								<li>
									用户类型：<input type="text" name="coperatorType"/>
								</li>
								<li>
									结算用户：<input type="text" name="settlementer"/>
								</li>
								<li>
									结算地区：<input type="text" name="areaId"/>
								</li>
								<li class="select-time">
									<label>结算日期： </label>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    	<a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel()"><i class="fa fa-download"></i>&nbsp;导出</a>
								</li>
							</ul>
						</div>
					</form>
		</div>
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="settle:deviceIncomeDaily:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="settle:deviceIncomeDaily:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('settle:deviceIncomeDaily:edit')}]];
        var removeFlag = [[${@permission.hasPermi('settle:deviceIncomeDaily:remove')}]];
        var prefix = ctx + "settle/deviceIncomeDaily"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "设备收入日统计",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'deviceId', 
					title : '设备ID' 
					title : '设备编号' 
				},
				{
					field : 'terminalId', 
					title : '终端ID' 
					title : '终端编号' 
				},
				{
					field : 'placeId', 
					title : '场所Id' 
					title : '投放场所' 
				},
				{
					field : 'agentId', 
					title : '一级代理' 
				},
				{
					field : 'subAgentId', 
					title : '二级代理' 
				},
				{
					field : 'joiner', 
					title : '加盟商' 
				},
				{
					field : 'server', 
					title : '服务网点' 

				},
				{
					field : 'sellIncome', 
					title : '销售收入' 
					title : '推广收入' 
				},
				{
					field : 'adIncome', 
					title : '广告收入' 
				},
				{
					field : 'scanIncome', 
					title : '扫码收入' 
				},
				{
					field : 'sumDate', 

					title : '合算时间' 

					title : '统计日期' 
				},
				{
					field : 'refundIncome', 
					title : '退款收入' 
				},
				{
					field : 'refundNum', 
					title : '退货数量' 
				},
				{
					field : 'createBy', 
					title : '' 
				},
				{
					field : 'createTime', 
					title : '' 
				},
				{
					field : 'updateBy', 
					title : '' 
				},
				{
					field : 'updateTime', 
					title : '' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.incomeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.incomeId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>