<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    <div class="col-sm-12 select-info">
					<form id="user-form">
						<div class="select-list">
							<ul>
								<li>
									设备资产编号：<input type="text" name="deviceSn"/>
								</li>
								<!-- <li>
									结算地区：<input type="text" name="areaId"/>
								</li> -->
								<li class="select-time">
									<label>结算日期： </label>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    	<a class="btn btn-success btn-rounded btn-sm" onclick="reCalc()" shiro:hasPermission="settle:deviceIncomeDaily:reCalc"><i class="fa fa-download"></i>&nbsp;重算</a>
								</li>
							</ul>
						</div>
					</form>
		</div>
		<!-- <div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-danger btn-rounded" onclick="selectzxplacelist ()">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div> -->
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('settle:deviceIncomeDaily:edit')}]];
        var removeFlag = [[${@permission.hasPermi('settle:deviceIncomeDaily:remove')}]];
        var prefix = ctx + "settle/deviceIncomeDaily"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "设备收入日统计",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'deviceSn', 
					title : '设备资产编号' 
				},
				{
					field : 'terminalCode', 
					title : '终端编号' 
				},
				{
					field : 'placeName', 
					title : '投放场所' 
				},
				{
					field : 'sellIncome', 
					title : '销售值' 
				},
				{
					field : 'adIncome', 
					title : '广告费用' 
				},
				{
					field : 'scanIncome', 
					title : '出纸数量' 
				},
				{
					field : 'sumDate', 
					title : '统计日期' 
				}
		     ]
            };
            $.table.init(options);
        });
        function reCalc() {
       	 var startTime = $("#startTime").val();
       	 var endTime = $("#endTime").val();
       	 $.ajax({
	        url: prefix + "/reCalc",
	        type: "post",
	        async:false,
	        data : {
    			"beginTime": startTime,
    			"endTime": endTime
    		},
	        success: function (data) {
	        	//paperSum.innerText=data.paperSum;
	        	//moneySum.innerText=data.moneySum;
	        	$.table.search();
	        },
	        error: function (data) {
	            alert("重算失败");
	        }
		 })
    	 
        }
    </script>
</body>
</html>