<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.settle.settlementParam.mapper.SettlementParamMapper">
    
    <resultMap type="SettlementParam" id="SettlementParamResult">
        <result property="settlementParamId"    column="settlement_param_id"    />
        <result property="settlementType"    column="settlement_type"    />
        <result property="settlementer"    column="settlementer"    />
        <result property="settlementParam"    column="settlement_param"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectSettlementParamVo">
        select settlement_param_id, settlement_type, settlementer, settlement_param, status, del_flag, create_by, create_time, update_by, update_time from zx_settlement_param
    </sql>
	
    <select id="selectSettlementParamList" parameterType="SettlementParam" resultMap="SettlementParamResult">
        <include refid="selectSettlementParamVo"/>
        <where>  
            <if test="settlementParamId != null and settlementParamId != ''"> and settlement_param_id = #{settlementParamId}</if>
             <if test="settlementType != null and settlementType != ''"> and settlement_type = #{settlementType}</if>
             <if test="settlementer != null and settlementer != ''"> and settlementer = #{settlementer}</if>
             <if test="settlementParam != null and settlementParam != ''"> and settlement_param = #{settlementParam}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectSettlementParamById" parameterType="Integer" resultMap="SettlementParamResult">
        <include refid="selectSettlementParamVo"/>
        where settlement_param_id = #{settlementParamId}
    </select>
        
    <insert id="insertSettlementParam" parameterType="SettlementParam">
        insert into zx_settlement_param
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="settlementParamId != null and settlementParamId != '' ">settlement_param_id,</if>
			<if test="settlementType != null and settlementType != '' ">settlement_type,</if>
			<if test="settlementer != null and settlementer != '' ">settlementer,</if>
			<if test="settlementParam != null and settlementParam != '' ">settlement_param,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="settlementParamId != null and settlementParamId != ''">#{settlementParamId},</if>
			<if test="settlementType != null and settlementType != ''">#{settlementType},</if>
			<if test="settlementer != null and settlementer != ''">#{settlementer},</if>
			<if test="settlementParam != null and settlementParam != ''">#{settlementParam},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateSettlementParam" parameterType="SettlementParam">
        update zx_settlement_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="settlementType != null  and settlementType != ''  ">settlement_type = #{settlementType},</if>
            <if test="settlementer != null  ">settlementer = #{settlementer},</if>
            <if test="settlementParam != null  and settlementParam != ''  ">settlement_param = #{settlementParam},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where settlement_param_id = #{settlementParamId}
    </update>

	<delete id="deleteSettlementParamById" parameterType="Integer">
        delete from zx_settlement_param where settlement_param_id = #{settlementParamId}
    </delete>
	
    <delete id="deleteSettlementParamByIds" parameterType="String">
        delete from zx_settlement_param where settlement_param_id in 
        <foreach item="settlementParamId" collection="array" open="(" separator="," close=")">
            #{settlementParamId}
        </foreach>
    </delete>
    
    
    <!-- 手机端数据接口  -->
    
     <!-- 场所列表 -->
     <select id="selectzxplace"  resultType="java.util.HashMap">
        SELECT 
		  name,
		  device_count count,
		  DATE_FORMAT(`create_time`,'%Y-%m-%d %H:%i:%s') time,
		  place_id placeId
		FROM
		  zx_place
		  order by  create_time desc
          <if test="offset != null and limit != null">
			    limit #{offset}, #{limit}
		  </if>
     </select>
     
      <select id="queryplaceTotal"  resultType="int">
	        SELECT 
			  count(*)  
			FROM
			  zx_place 
     </select>
     
     
    
      <!-- 广告计划 -->
    <select id="selecadschedulelist"  resultType="java.util.HashMap">
       SELECT 
		  schedule_name name,
		  'H5广告' position,
		   release_term_num count,
		   '使用' status
		FROM
		  zx_ad_schedule 
		  WHERE 
		  STATUS = '04'
		  AND release_position = '03'
		  order by  create_time desc
		  <if test="offset != null and limit != null">
			   limit #{offset}, #{limit}
		  </if>
    </select>
    
     <select id="queryadscheduleTotal"  resultType="int">
        SELECT 
		  count(*)
		FROM
		  zx_ad_schedule 
		  WHERE 
		  STATUS = '04'
		  AND release_position = '03' 
     </select>
     
     
          <!-- 广告计划点击排名 -->
    <select id="scheduleStatistics"  resultType="java.util.HashMap">
       SELECT t.num,z.schedule_name name FROM (			  
			SELECT 
			  schedule_id,
			  COUNT(1) num 
			FROM
			  zx_tissue_record 
			WHERE STATUS = '1' 
			  AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURDATE() 
			GROUP BY schedule_id ) t ,zx_ad_schedule z 
			
			WHERE t.schedule_id = z.`ad_schedule_id`
			ORDER BY t.num DESC
			LIMIT 5
    </select>
    
    
    <!-- 出纸记录 -->
      <select id="selectzxtissuerecordlist"  resultType="java.util.HashMap">
	        SELECT 
			  DATE_FORMAT(a.`create_time`,'%Y-%m-%d %H:%i:%s') TIME ,
			  c.name placeName,
			  b.device_sn deviceSn
			FROM
			  zx_tissue_record a,
			  zx_device b,
			  zx_place c 
			WHERE a.status = '1' 
			  AND a.`device_id` = b.`device_id` 
			  AND a.`place_id` = c.place_id 
			 <!--  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') = CURDATE() -->
			  <if test="placeId != null and placeId != ''"> AND CONCAT(',',#{placeId},',') like CONCAT(',',p.place_id,',') </if>
	            <if test="userId != null and userId != ''">
	            	and #{userId} =  b.owner_id
	            </if>
			  order by  a.create_time desc
			  <if test="offset != null and limit != null">
			     limit #{offset}, #{limit}
		      </if>
    </select>
    
      <select id="querytissuerecordTotal"  resultType="int">
        SELECT 
			  count(*)
			FROM
			  zx_tissue_record a,
			  zx_device b,
			  zx_place c 
			WHERE a.status = '1' 
			  AND a.`device_id` = b.`device_id` 
			  AND a.`place_id` = c.place_id 
			 <!--  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') = CURDATE()  -->
			  <if test="placeId != null and placeId != ''"> AND CONCAT(',',#{placeId},',') like CONCAT(',',p.place_id,',') </if>
	            <if test="userId != null and userId != ''">
	            	and #{userId} =  b.owner_id
	            </if>
      </select>
    
    
    
      <!-- 出纸场所排名 -->
    <select id="tissuerecordStatistics"  resultType="java.util.HashMap">
       SELECT t.num,z.name FROM (			  
			SELECT 
			  place_id,
			  COUNT(1) num 
			FROM
			  zx_tissue_record 
			WHERE STATUS = '1' 
			  AND DATE_FORMAT(create_time, '%Y-%m-%d') = CURDATE() 
			GROUP BY place_id ) t ,zx_place z 
			WHERE t.place_id = z.`place_id`
			ORDER BY t.num DESC
			LIMIT 5
    </select>
    
    
    
          <!-- 收益列表 -->
    <select id="selecuserincomelist"  resultType="java.util.HashMap">
       SELECT 
		  coperator_name coperatorName,
		  ad_income_rate adIncome,
		  promotion_income_rate promotionIncome,
		  scan_income_rate serviceIncome
		FROM
		  zx_user_income 
		  WHERE 1=1
		  <if test="coperatorType != null and coperatorType != ''">
		  AND coperator_type = #{coperatorType} 
		</if>
		<if test="coperatorId != null and coperatorId != ''">
		  AND coperator_id =#{coperatorId} 
		</if>
		  ORDER BY sum_date desc
		  <if test="offset != null and limit != null">
			   limit #{offset}, #{limit}
		  </if>
    </select>
    
     <select id="queryuserincomeTotal"  resultType="int">
         SELECT 
		  count(*)
		FROM
		  zx_user_income 
		  WHERE 1=1
		  <if test="coperatorType != null and coperatorType != ''">
		  AND coperator_type = #{coperatorType} 
		</if>
		<if test="coperatorId != null and coperatorId != ''">
		  AND coperator_id =#{coperatorId} 
		</if>
     </select>
     
     
               <!-- 设备列表 -->
    <select id="selecdevicelist"  resultType="java.util.HashMap">
		   SELECT 
			  device_sn deviceSn,
			  CASE status WHEN 01 THEN '待投放'
              WHEN 02 THEN '已投放'
              WHEN 03 THEN '故障'
               ELSE '' END
              AS status
			FROM
			  zx_device 
			WHERE  place_id = #{placeId} 
			and status = '02'
			ORDER BY create_time DESC 
		  <if test="offset != null and limit != null">
			   limit #{offset}, #{limit}
		  </if>
    </select>
    
     <select id="querydeviceTotal"  resultType="int">
         SELECT 
		  count(*)
		FROM
		   zx_device 
		WHERE  place_id = #{placeId} 
     </select>
    
    
     <!-- 设备投放 -->
    <select id="selectdeviceAll"  resultType="java.util.HashMap">
		   SELECT 
			  device_id  deviceId,
			  device_sn deviceSn
			FROM
			  zx_device 
			  WHERE 
			  status = '01'
			  AND device_sn LIKE concat('%',#{deviceSn},'%')
    </select>
    
      <select id="selectplaceAll"  resultType="java.util.HashMap">
		    SELECT 
			  name,
			  place_id placeId
			FROM
			  zx_place
			  order by  create_time desc
    </select>
    
     <update id="updatedevice" >
        update zx_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  and status != ''  ">status = #{status},</if>
            update_time = now()
        </trim>
        where device_id = #{deviceId}
    </update>
    
    <update id="updateplace" >
        update zx_place
        <trim prefix="SET" suffixOverrides=",">
            device_count = IFNULL(device_count,0)+1,
            update_time = now()
        </trim>
        where place_id = #{placeId}
    </update>
    
</mapper>