<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.settle.userIncome.mapper.UserIncomeMapper">
    
    <resultMap type="UserIncome" id="UserIncomeResult">
      <id column="income_id" property="incomeId" jdbcType="INTEGER" />
    <result column="coperator_id" property="coperatorId" jdbcType="INTEGER" />
    <result column="coperator_name" property="coperatorName" jdbcType="VARCHAR" />
    <result column="coperator_type" property="coperatorType" jdbcType="VARCHAR" />
    <result column="sum_date" property="sumDate" jdbcType="TIMESTAMP" />
    <result column="ad_income" property="adIncome" jdbcType="DOUBLE" />
    <result column="ad_carousel_income" property="adCarouselIncome" jdbcType="DOUBLE" />
    <result column="scan_income" property="scanIncome" jdbcType="DOUBLE" />
    <result column="prom_direct_income" property="promDirectIncome" jdbcType="INTEGER" />
    <result column="prom_indirect_income" property="promIndirectIncome" jdbcType="INTEGER" />
    <result column="promotion_income" property="promotionIncome" jdbcType="DOUBLE" />
    <result column="prom_paper_income" property="promPaperIncome" jdbcType="INTEGER" />
    <result column="paper_income" property="paperIncome" jdbcType="INTEGER" />
    <result column="serve_income" property="serveIncome" jdbcType="INTEGER" />
    <result column="direct_agent_income" property="directAgentIncome" jdbcType="DOUBLE" />
    <result column="subsidy_income" property="subsidyIncome" jdbcType="DOUBLE" />
    <result column="ad_income_rate" property="adIncomeRate" jdbcType="DOUBLE" />
    <result column="promotion_income_rate" property="promotionIncomeRate" jdbcType="DOUBLE" />
    <result column="scan_income_rate" property="scanIncomeRate" jdbcType="DOUBLE" />
    <result column="ad_rate" property="adRate" jdbcType="REAL" />
    <result column="ad_carousel_rate" property="adCarouselRate" jdbcType="REAL" />
    <result column="scan_rate" property="scanRate" jdbcType="REAL" />
    <result column="prom_direct_rate" property="promDirectRate" jdbcType="REAL" />
    <result column="prom_indirect_rate" property="promIndirectRate" jdbcType="REAL" />
    <result column="prom_paper_rate" property="promPaperRate" jdbcType="REAL" />
    <result column="promotion_rate" property="promotionRate" jdbcType="REAL" />
    <result column="direct_agent_rate" property="directAgentRate" jdbcType="REAL" />
    <result column="serve_rate" property="serveRate" jdbcType="REAL" />
    <result column="subsidy_rate" property="subsidyRate" jdbcType="REAL" />
    <result column="refund_income" property="refundIncome" jdbcType="DOUBLE" />
    <result column="refund_income_rate" property="refundIncomeRate" jdbcType="DOUBLE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
	
	<sql id="selectUserIncomeVo">
	select income_id, coperator_id, coperator_name,  
	 CASE coperator_type WHEN 00 THEN '系统用户'
              WHEN 01 THEN '合作伙伴'
              WHEN 02 THEN '机主'
              WHEN 03 THEN '代理商'
              WHEN 04 THEN '服务商'
              WHEN 05 THEN '广告商'
              WHEN 06 THEN '业务员'
               ELSE '' END
              AS coperator_type, sum_date, ad_income, ad_carousel_income, 
    scan_income, prom_direct_income, prom_indirect_income,promotion_income, paper_income, prom_paper_income, serve_income,
    direct_agent_income, subsidy_income, ad_income_rate, promotion_income_rate, scan_income_rate, 
    subsidy_income_rate, ad_rate, ad_carousel_rate, scan_rate, prom_direct_rate, prom_indirect_rate, 
    concat('-',prom_paper_rate) prom_paper_rate, promotion_rate, direct_agent_rate, serve_rate, subsidy_rate, refund_income, 
    refund_income_rate, create_by, create_time, update_by, update_time from zx_user_income
    </sql>
    
   <sql id="selectUserIncomeVos">
	select distinct a.income_id, a.coperator_id, a.coperator_name,  
	 CASE a.coperator_type WHEN 00 THEN '系统用户'
              WHEN 01 THEN '合作伙伴'
              WHEN 02 THEN '机主'
              WHEN 03 THEN '代理商'
              WHEN 04 THEN '服务商'
              WHEN 05 THEN '广告商'
              WHEN 06 THEN '业务员'
               ELSE '' END
              AS coperator_type, a.sum_date, a.ad_income, a.ad_carousel_income, 
    a.scan_income, a.prom_direct_income, a.prom_indirect_income,a.promotion_income, a.paper_income, a.prom_paper_income, a.serve_income,
    a.direct_agent_income, a.subsidy_income, a.ad_income_rate, a.promotion_income_rate, a.scan_income_rate, 
    a.subsidy_income_rate, a.ad_rate, a.ad_carousel_rate, a.scan_rate, a.prom_direct_rate, a.prom_indirect_rate, 
    concat('-',a.prom_paper_rate) prom_paper_rate, a.promotion_rate, a.direct_agent_rate, a.serve_rate, a.subsidy_rate, a.refund_income, 
    a.refund_income_rate, a.create_by, a.create_time, a.update_by, a.update_time from zx_user_income a LEFT JOIN sys_user b ON b.puser_id = a.coperator_id and b.user_type = a.coperator_type
    </sql>
	
    <select id="selectUserIncomeList" parameterType="UserIncome" resultMap="UserIncomeResult">
        <include refid="selectUserIncomeVos"/>
        <where>  
            ${filterSql} and a.del_flag='0'
            <if test="incomeId != null and incomeId != ''"> and a.income_id = #{incomeId}</if>
             <if test="coperatorName != null and coperatorName != ''"> and a.coperator_name like concat('%',#{coperatorName},'%')</if>
             <if test="coperatorType != null and coperatorType != ''"> and a.coperator_type = #{coperatorType}</if>
              <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(a.sum_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(a.sum_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
         </where>
          order by a.sum_date desc
    </select>
    
    <select id="selectUserIncomeById" parameterType="Integer" resultMap="UserIncomeResult">
        <include refid="selectUserIncomeVo"/>
        where income_id = #{incomeId}
    </select>
        
    <insert id="insertUserIncome" parameterType="UserIncome">
        insert into zx_user_income
          <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="coperatorId != null" >
	        coperator_id,
	      </if>
	       <if test="coperatorName != null" >
	        coperator_name,
	      </if>
	      <if test="coperatorType != null" >
	        coperator_type,
	      </if>
	      <if test="adIncome != null" >
	        ad_income,
	      </if>
	      <if test="adCarouselIncome != null" >
	        ad_carousel_income,
	      </if>
	      <if test="scanIncome != null" >
	        scan_income,
	      </if>
	      <if test="promDirectIncome != null" >
	        prom_direct_income,
	      </if>
	      <if test="promIndirectIncome != null" >
	        prom_indirect_income,
	      </if>
	      <if test="promotionIncome != null" >
	        promotion_income,
	      </if>
	      <if test="paperIncome != null" >
	        paper_income,
	      </if>
	      <if test="promPaperIncome != null" >
	        prom_paper_income,
	      </if>
	      <if test="serveIncome != null" >
	        serve_income,
	      </if>
	      <if test="directAgentIncome != null" >
	        direct_agent_income,
	      </if>
	      <if test="subsidyIncome != null" >
	        subsidy_income,
	      </if>
	      <if test="adIncomeRate != null" >
	        ad_income_rate,
	      </if>
	      <if test="promotionIncomeRate != null" >
	        promotion_income_rate,
	      </if>
	      <if test="scanIncomeRate != null" >
	        scan_income_rate,
	      </if>
	      <if test="subsidyIncomeRate != null" >
	        subsidy_income_rate,
	      </if>
	      <if test="adRate != null" >
	        ad_rate,
	      </if>
	      <if test="adCarouselRate != null" >
	        ad_carousel_rate,
	      </if>
	      <if test="scanRate != null" >
	        scan_rate,
	      </if>
	      <if test="promDirectRate != null" >
	        prom_direct_rate,
	      </if>
	      <if test="promIndirectRate != null" >
	        prom_indirect_rate,
	      </if>
	      <if test="promPaperRate != null" >
	        prom_paper_rate,
	      </if>
	      <if test="promotionRate != null" >
	        promotion_rate,
	      </if>
	      <if test="directAgentRate != null" >
	        direct_agent_rate,
	      </if>
	      <if test="serveRate != null" >
	        serve_rate,
	      </if>
	      <if test="subsidyRate != null" >
	        subsidy_rate,
	      </if>
	      <if test="refundIncome != null" >
	        refund_income,
	      </if>
	      <if test="refundIncomeRate != null" >
	        refund_income_rate,
	      </if>
	         sum_date,
		     create_time
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="coperatorId != null" >
	        #{coperatorId,jdbcType=INTEGER},
	      </if>
	        <if test="coperatorId != null" >
	        #{coperatorName,jdbcType=VARCHAR},
	      </if>
	      <if test="coperatorType != null" >
	        #{coperatorType,jdbcType=VARCHAR},
	      </if>
	      <if test="adIncome != null" >
	        #{adIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="adCarouselIncome != null" >
	        #{adCarouselIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="scanIncome != null" >
	        #{scanIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="promDirectIncome != null" >
	        #{promDirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promIndirectIncome != null" >
	        #{promIndirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promotionIncome != null" >
	        #{promotionIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="paperIncome != null" >
	        #{paperIncome,jdbcType=INTEGER},
	      </if>
	     <if test="promPaperIncome != null" >
	        #{promPaperIncome,jdbcType=INTEGER},
	      </if>
	      <if test="serveIncome != null" >
	        #{serveIncome,jdbcType=INTEGER},
	      </if>
	      <if test="directAgentIncome != null" >
	        #{directAgentIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="subsidyIncome != null" >
	        #{subsidyIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="adIncomeRate != null" >
	        #{adIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="promotionIncomeRate != null" >
	        #{promotionIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="scanIncomeRate != null" >
	        #{scanIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="subsidyIncomeRate != null" >
	        #{subsidyIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="adRate != null" >
	        #{adRate,jdbcType=REAL},
	      </if>
	      <if test="adCarouselRate != null" >
	        #{adCarouselRate,jdbcType=REAL},
	      </if>
	      <if test="scanRate != null" >
	        #{scanRate,jdbcType=REAL},
	      </if>
	      <if test="promDirectRate != null" >
	        #{promDirectRate,jdbcType=REAL},
	      </if>
	      <if test="promIndirectRate != null" >
	        #{promIndirectRate,jdbcType=REAL},
	      </if>
	      <if test="promPaperRate != null" >
	        #{promPaperRate,jdbcType=REAL},
	      </if>
	      <if test="promotionRate != null" >
	        #{promotionRate,jdbcType=REAL},
	      </if>
	      <if test="directAgentRate != null" >
	        #{directAgentRate,jdbcType=REAL},
	      </if>
	      <if test="serveRate != null" >
	        #{serveRate,jdbcType=REAL},
	      </if>
	      <if test="subsidyRate != null" >
	        #{subsidyRate,jdbcType=REAL},
	      </if>
	      <if test="refundIncome != null" >
	        #{refundIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="refundIncomeRate != null" >
	        #{refundIncomeRate,jdbcType=DOUBLE},
	      </if>
	          DATE_SUB(CURDATE(), INTERVAL 1 DAY),
			DATE_SUB(CURDATE(), INTERVAL 1 DAY)
	    </trim>

    </insert>
    
    <insert id="insertCurUserIncome" parameterType="UserIncome">
        insert into zx_user_income
          <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="coperatorId != null" >
	        coperator_id,
	      </if>
	       <if test="coperatorName != null" >
	        coperator_name,
	      </if>
	      <if test="coperatorType != null" >
	        coperator_type,
	      </if>
	      <if test="adIncome != null" >
	        ad_income,
	      </if>
	      <if test="adCarouselIncome != null" >
	        ad_carousel_income,
	      </if>
	      <if test="scanIncome != null" >
	        scan_income,
	      </if>
	      <if test="promDirectIncome != null" >
	        prom_direct_income,
	      </if>
	      <if test="promIndirectIncome != null" >
	        prom_indirect_income,
	      </if>
	      <if test="promotionIncome != null" >
	        promotion_income,
	      </if>
	      <if test="paperIncome != null" >
	        paper_income,
	      </if>
	      <if test="promPaperIncome != null" >
	        prom_paper_income,
	      </if>
	      <if test="serveIncome != null" >
	        serve_income,
	      </if>
	      <if test="directAgentIncome != null" >
	        direct_agent_income,
	      </if>
	      <if test="subsidyIncome != null" >
	        subsidy_income,
	      </if>
	      <if test="adIncomeRate != null" >
	        ad_income_rate,
	      </if>
	      <if test="promotionIncomeRate != null" >
	        promotion_income_rate,
	      </if>
	      <if test="scanIncomeRate != null" >
	        scan_income_rate,
	      </if>
	      <if test="subsidyIncomeRate != null" >
	        subsidy_income_rate,
	      </if>
	      <if test="adRate != null" >
	        ad_rate,
	      </if>
	      <if test="adCarouselRate != null" >
	        ad_carousel_rate,
	      </if>
	      <if test="scanRate != null" >
	        scan_rate,
	      </if>
	      <if test="promDirectRate != null" >
	        prom_direct_rate,
	      </if>
	      <if test="promIndirectRate != null" >
	        prom_indirect_rate,
	      </if>
	      <if test="promPaperRate != null" >
	        prom_paper_rate,
	      </if>
	      <if test="promotionRate != null" >
	        promotion_rate,
	      </if>
	      <if test="directAgentRate != null" >
	        direct_agent_rate,
	      </if>
	      <if test="serveRate != null" >
	        serve_rate,
	      </if>
	      <if test="subsidyRate != null" >
	        subsidy_rate,
	      </if>
	      <if test="refundIncome != null" >
	        refund_income,
	      </if>
	      <if test="refundIncomeRate != null" >
	        refund_income_rate,
	      </if>
	         sum_date,
		     create_time
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="coperatorId != null" >
	        #{coperatorId,jdbcType=INTEGER},
	      </if>
	        <if test="coperatorId != null" >
	        #{coperatorName,jdbcType=VARCHAR},
	      </if>
	      <if test="coperatorType != null" >
	        #{coperatorType,jdbcType=VARCHAR},
	      </if>
	      <if test="adIncome != null" >
	        #{adIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="adCarouselIncome != null" >
	        #{adCarouselIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="scanIncome != null" >
	        #{scanIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="promDirectIncome != null" >
	        #{promDirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promIndirectIncome != null" >
	        #{promIndirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promotionIncome != null" >
	        #{promotionIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="paperIncome != null" >
	        #{paperIncome,jdbcType=INTEGER},
	      </if>
	     <if test="promPaperIncome != null" >
	        #{promPaperIncome,jdbcType=INTEGER},
	      </if>
	      <if test="serveIncome != null" >
	        #{serveIncome,jdbcType=INTEGER},
	      </if>
	      <if test="directAgentIncome != null" >
	        #{directAgentIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="subsidyIncome != null" >
	        #{subsidyIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="adIncomeRate != null" >
	        #{adIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="promotionIncomeRate != null" >
	        #{promotionIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="scanIncomeRate != null" >
	        #{scanIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="subsidyIncomeRate != null" >
	        #{subsidyIncomeRate,jdbcType=DOUBLE},
	      </if>
	      <if test="adRate != null" >
	        #{adRate,jdbcType=REAL},
	      </if>
	      <if test="adCarouselRate != null" >
	        #{adCarouselRate,jdbcType=REAL},
	      </if>
	      <if test="scanRate != null" >
	        #{scanRate,jdbcType=REAL},
	      </if>
	      <if test="promDirectRate != null" >
	        #{promDirectRate,jdbcType=REAL},
	      </if>
	      <if test="promIndirectRate != null" >
	        #{promIndirectRate,jdbcType=REAL},
	      </if>
	      <if test="promPaperRate != null" >
	        #{promPaperRate,jdbcType=REAL},
	      </if>
	      <if test="promotionRate != null" >
	        #{promotionRate,jdbcType=REAL},
	      </if>
	      <if test="directAgentRate != null" >
	        #{directAgentRate,jdbcType=REAL},
	      </if>
	      <if test="serveRate != null" >
	        #{serveRate,jdbcType=REAL},
	      </if>
	      <if test="subsidyRate != null" >
	        #{subsidyRate,jdbcType=REAL},
	      </if>
	      <if test="refundIncome != null" >
	        #{refundIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="refundIncomeRate != null" >
	        #{refundIncomeRate,jdbcType=DOUBLE},
	      </if>
	         #{sumDate},
			 #{sumDate}
	    </trim>

    </insert>
	 
    <update id="updateUserIncome" parameterType="UserIncome">
        update zx_user_income
        <trim prefix="SET" suffixOverrides=",">
	      <if test="adIncome != null" >
	        ad_income = ad_income+#{adIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="adCarouselIncome != null" >
	        ad_carousel_income =ad_carousel_income+ #{adCarouselIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="scanIncome != null" >
	        scan_income =scan_income+ #{scanIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="promDirectIncome != null" >
	        prom_direct_income = prom_direct_income + #{promDirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promIndirectIncome != null" >
	        prom_indirect_income =prom_indirect_income+ #{promIndirectIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promotionIncome != null" >
	        promotion_income =promotion_income+ #{promotionIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="paperIncome != null" >
	        paper_income = paper_income+#{paperIncome,jdbcType=INTEGER},
	      </if>
	      <if test="promPaperIncome != null" >
	        prom_paper_income = prom_paper_income+ #{promPaperIncome,jdbcType=INTEGER},
	      </if>
	      <if test="serveIncome != null" >
	        serve_income = serve_income+ #{serveIncome,jdbcType=INTEGER},
	      </if>
	      <if test="directAgentIncome != null" >
	        direct_agent_income =direct_agent_income+ #{directAgentIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="subsidyIncome != null" >
	        subsidy_income =subsidy_income + #{subsidyIncome,jdbcType=DOUBLE},
	      </if>
	       <if test="adIncomeRate != null  ">ad_income_rate =ad_income_rate+ #{adIncomeRate},</if>
	       <if test="promotionIncomeRate != null  ">promotion_income_rate =promotion_income_rate+ #{promotionIncomeRate},</if>
	       <if test="scanIncomeRate != null  ">scan_income_rate =scan_income_rate+#{scanIncomeRate,jdbcType=DOUBLE},</if>
	       <if test="subsidyIncomeRate != null" >
	          subsidy_income_rate = subsidy_income_rate+#{subsidyIncomeRate,jdbcType=DOUBLE},
	      </if>
	       <if test="refundIncome != null" >
	        refund_income = refund_income+#{refundIncome,jdbcType=DOUBLE},
	      </if>
	      <if test="refundIncomeRate != null" >
	        refund_income_rate = refund_income_rate+#{refundIncomeRate,jdbcType=DOUBLE},
	      </if>
        </trim>
        where income_id = #{incomeId}
    </update>

	<delete id="deleteUserIncomeById" parameterType="Integer">
        delete from zx_user_income where income_id = #{incomeId}
    </delete>
	
    <delete id="deleteUserIncomeByIds" parameterType="String">
        delete from zx_user_income where income_id in 
        <foreach item="incomeId" collection="array" open="(" separator="," close=")">
            #{incomeId}
        </foreach>
    </delete>
    
    
    <select id="selectUserIncome" parameterType="UserIncome" resultMap="UserIncomeResult">
        select income_id from zx_user_income
        <where>  
             <if test="coperatorId != null and coperatorId != ''"> and coperator_id = #{coperatorId}</if>
              <if test="coperatorType != null and coperatorType != ''"> and coperator_type = #{coperatorType}</if>
             and DATE_FORMAT(sum_date, '%Y-%m-%d') = DATE_FORMAT(
			    DATE_SUB(CURDATE(), INTERVAL 1 DAY),
			    '%Y-%m-%d'
			  )
         </where>
    </select>
    
    <select id="selectCurrentUserIncome" parameterType="UserIncome" resultMap="UserIncomeResult">
        select income_id from zx_user_income
        <where>  
             <if test="coperatorId != null and coperatorId != ''"> and coperator_id = #{coperatorId}</if>
              <if test="coperatorType != null and coperatorType != ''"> and coperator_type = #{coperatorType}</if>
             and DATE_FORMAT(sum_date, '%Y-%m-%d') = DATE_FORMAT(
			    #{sumDate},
			    '%Y-%m-%d'
			  )
			  and del_flag='0'
         </where>
    </select>
    <!-- 用户角色信息数据 -->
    
      <!-- 判断销售人类型 -->
      <select id="selectzxsellerlist" parameterType="string"  resultType="java.util.HashMap">
		  SELECT  * FROM  sys_user WHERE user_id = #{sellerId}
    </select>
    
     <!-- 判断销售人类型 -->
      <select id="selectuserbypuserId" parameterType="string"  resultType="java.util.HashMap">
		  SELECT  * FROM  sys_user WHERE puser_id = #{puserId}
    </select>
    
    
    <!-- 代理商 -->
     <select id="selectzxagentlist"  resultType="java.util.HashMap">
		 SELECT 
		  agent_id,
		  z.city,
		  z.county,
		  z.level,
		  z.promotor_id,
		  z.agency_fee,
		  z.create_time 
		FROM
		  zx_agent z 
		  WHERE 
	       1=1
		  <if test="placeId != null and placeId != ''">
		     AND ((z.level = 1 AND z.city = #{cityId} ) OR (z.level = 2 AND z.county = #{placeId} ))
		  </if>
		  <if test="promotionagent != null and promotionagent != ''">
		     AND DATE_FORMAT(z.create_time, '%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 DAY),'%Y-%m-%d')
		  </if>
    </select>
    
	<!-- 代理商 -->
     <select id="selectcuragentlist"  resultType="java.util.HashMap">
		 SELECT 
		  agent_id,
		  z.city,
		  z.county,
		  z.level,
		  z.promotor_id,
		  z.agency_fee,
		  z.create_time 
		FROM
		  zx_agent z 
		  WHERE 
	       1=1
		  <if test="placeId != null and placeId != ''">
		     AND ((z.level = 1 AND z.city = #{placeId} ) OR (z.level = 2 AND z.county = #{placeId} ))
		  </if>
		  <if test="currentTime != null">
		     AND DATE_FORMAT(z.create_time, '%Y-%m-%d') = DATE_FORMAT(#{currentTime},'%Y-%m-%d')
		  </if>
    </select>

        <!-- 代理商 -->
     <select id="selectzxagent"  resultType="java.util.HashMap">
		 SELECT 
		  buyer_id    leader_id,
		 agent_id coperatorId,
         agent_name coperatorName,
		 ad_rate adRate,
		 ad_carousel_rate adCarouselRate,
		 scan_rate  scanRate,
		 prom_direct_rate promDirectRate,
		 prom_indirect_rate  promIndirectRate,
		 prom_paper_rate promPaperRate,
		 promotion_rate promotionRate,
		 direct_agent_rate directAgentRate,
		 serve_rate serveRate,
		 subsidy_rate subsidyRate
		FROM
		  zx_agent  
		  WHERE 
		  1=1
		  <if test="agentId != null and agentId != ''">
		    AND agent_id = #{agentId}
		  </if>
    </select>
    
    <!-- 机主（机主） -->
    <select id="selectzxjoinlist"  resultType="java.util.HashMap">
	    SELECT
	     buyer_id    leader_id,
	     join_id coperatorId,
         joiner_name coperatorName, 
		 ad_rate adRate,
		 ad_carousel_rate adCarouselRate,
		 scan_rate  scanRate,
		 prom_direct_rate promDirectRate,
		 prom_indirect_rate  promIndirectRate,
		 prom_paper_rate promPaperRate,
		 promotion_rate promotionRate,
		 0.0 directAgentRate,
		 serve_rate serveRate,
		 0.0 subsidyRate
		FROM
		  zx_join 
		WHERE 1=1
		<if test="joinId != null and joinId != ''">
		   AND join_id= #{joinId}
		</if>
		<if test="joinerId != null and joinerId != ''">
		    AND joiner_id = #{joinerId}
		</if>
    </select>
     <!-- 服务商 -->
     <select id="selectzxrepairlist"  resultType="java.util.HashMap">
	   SELECT
	     buyer_id    leader_id,
	     repair_id coperatorId,
         repair_name coperatorName, 
		 ad_rate adRate,
		 ad_carousel_rate adCarouselRate,
		 scan_rate  scanRate,
		 prom_direct_rate promDirectRate,
		 prom_indirect_rate  promIndirectRate,
		 prom_paper_rate promPaperRate,
		 promotion_rate promotionRate,
		 0.0 directAgentRate,
		 0.0 serveRate,
		 subsidy_rate subsidyRate
		FROM
		  zx_repair 
		WHERE 1=1 
		<if test="repairId != null and repairId != ''">
		  AND repair_id= #{repairId} 
		</if>
    </select>
     <!-- 服务网点地区 -->
    <select id="selectzxrepairarealist"  resultType="java.util.HashMap">
	  SELECT 
		  * 
		FROM
		  zx_repair_area 
		WHERE  1=1
		<if test="repairId != null and repairId != ''">
		  AND repair_id= #{repairId} 
		</if>
		<if test="countyId != null and countyId != ''">
		  AND county_id= #{countyId} 
		</if>
    </select>
    
    
     <select id="queryExport" resultType="java.util.HashMap">
        	 <include refid="selectUserIncomeVos"/>
        <where>  
         ${filterSql}
            <if test="incomeId != null and incomeId != ''"> and a.income_id = #{incomeId}</if>
             <if test="coperatorName != null and coperatorName != ''"> and a.coperator_name like concat('%',#{coperatorName},'%')</if>
             <if test="coperatorType != null and coperatorType != ''"> and a.coperator_type = #{coperatorType}</if>
              <if test="bgTime != null and bgTime != ''"><!-- 开始时间检索 -->
				AND date_format(a.sum_date,'%y%m%d') &gt;= date_format(#{bgTime},'%y%m%d')
			 </if>
			 <if test="edTime != null and edTime != ''"><!-- 结束时间检索 -->
				AND date_format(a.sum_date,'%y%m%d') &lt;= date_format(#{edTime},'%y%m%d')
			 </if>
         </where>
    </select>
    
    
    <select id="selectUsertotalIncome" resultType="java.util.HashMap">
        select coperator_name puserName,coperator_id puserId,coperator_type puserType, (ad_income_rate+promotion_income_rate+scan_income_rate) totalIncome from zx_user_income where
              DATE_FORMAT(sum_date, '%Y-%m-%d') = DATE_FORMAT(
			    DATE_SUB(CURDATE(), INTERVAL 1 DAY),
			    '%Y-%m-%d'
			  )
			  and del_flag='0'
    </select>
    
    <select id="selectCurUsertotalIncome" resultType="java.util.HashMap">
        select coperator_name puserName,coperator_id puserId,coperator_type puserType, (ad_income_rate+promotion_income_rate+scan_income_rate) totalIncome from zx_user_income where
              DATE_FORMAT(sum_date, '%Y-%m-%d') = DATE_FORMAT(
			    #{currentTime},
			    '%Y-%m-%d'
			  )
			  AND del_flag='0'
    </select>
    
    <update id="deleteWrongUserIncome" parameterType="UserIncome">
         update zx_user_income set del_flag='1' 
          where sum_date = #{sumDate} and del_flag='0' 
    </update> 
    
</mapper>