<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-adPriceCfg-add">
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>计费类型：</label>
				<div class="col-sm-8">
					<select id="priceType" name="priceType" class="form-control" th:with="type=${@dict.getType('release_type')}" 
					onchange="showSelectTyte(this.options[this.options.selectedIndex].value)">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group" id="areaDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>地区等级：</label>
				<div class="col-sm-8">
					<select id="areaGrade" name="areaGrade" class="form-control" th:with="type=${@dict.getType('area_grade')}">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group" id="placeDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>场所类型：</label>
				<div class="col-sm-8">
					<select id="placeGrade" name="placeGrade" class="form-control" th:with="type=${@dict.getType('place_type')}">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group" id="dailyDiv" style="display: none;">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>时段类型：</label>
				<div class="col-sm-8">
					<select id="dailyGrade" name="dailyGrade" class="form-control" th:with="type=${@dict.getType('daily_grade')}">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div> -->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>广告类型：</label>
				<div class="col-sm-8">
					<select id="adType" name="adType" th:with="type=${@dict.getType('ad_type')}" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>投放位置：</label>
				<div class="col-sm-8">
					<select id="position" name="position" th:with="type=${@dict.getType('release_position')}" class="form-control">
						<option value="">---请选择---</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div> -->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>日价格：</label>
				<div class="col-sm-8">
					<input id="dailyPrice" name="dailyPrice" class="form-control" type="text">
				</div>
			</div>
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>时段数目：</label>
				<div class="col-sm-8">
					<input id="timeCnt" name="timeCnt" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "advertise/adPriceCfg"
		$("#form-adPriceCfg-add").validate({
			rules:{
				/* priceType:{
					required:true,
				},
				adType:{
					required:true,
				},
				position:{
					required:true,
				},
				dailyPrice:{
					required:true,
				},
				timeCnt:{
					required:true,
					digits:true,
					min:0
				}, */
				adType:{
					required:true,
				},
				dailyPrice:{
					required:true,
					number:true,
					min:0
				},
			},
			submitHandler: function(form) {
				var priceType = $.form.selectSelects("priceType");
				var areaGrade = $.form.selectSelects("areaGrade");
				var placeGrade = $.form.selectSelects("placeGrade");
				var dailyGrade = $.form.selectSelects("dailyGrade");
				if(priceType != null || priceType != ""){
					if((priceType=="01" || priceType=="99") && areaGrade == ""){
						alert("请选择地区等级!");
						return;
					}
					if((priceType=="02") && placeGrade == ""){
						alert("请选择场所类型!");
						return;
					}
					if((priceType=="03") && dailyGrade == ""){
						alert("请选择时段类型!");
						return;
					}
				}
				
				$.operate.save(prefix + "/add", $('#form-adPriceCfg-add').serialize());
			}
		});
		
		function showSelectTyte(value){   
	        if(value=="01" || value=="99"){
	        	$("#areaDiv").show();
	        	$("#placeDiv").hide();
	        	$("#dailyDiv").hide();
	        	$("#placeGrade").val("");
	        	$("#dailyGrade").val("");
	        	
	        } else if(value=="02"){
	        	$("#areaDiv").hide();
	        	$("#placeDiv").show();
	        	$("#dailyDiv").hide();
	        	$("#areaGrade").val("");
	        	$("#dailyGrade").val("");
	        } else if(value=="03"){
	        	$("#areaDiv").hide();
	        	$("#placeDiv").hide();
	        	$("#dailyDiv").show();
	        	$("#areaGrade").val("");
	        	$("#placeGrade").val("");
	        } 
	    } 
		
	</script>
</body>
</html>
