<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-advertise-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">广告商名称：</label>
				<div class="col-sm-8">
					<input id="advertisorName" name="advertisorName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">管理者名字：</label>
				<div class="col-sm-8">
					<input id="managerName" name="managerName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">管理者电话：</label>
				<div class="col-sm-8">
					<input id="managerPhone" name="managerPhone" class="form-control" type="tel" maxlength="11">
				</div>
			</div>
			<div class="form-group" style="display: none">
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="business" name="business" class="form-control" type="text">
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">累计投放广告次数：</label>
				<div class="col-sm-8">
					<input id="releaseNum" name="releaseNum" class="form-control" type="text">
				</div>
			</div> -->
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">上次投放ID：</label>
				<div class="col-sm-8">
					<input id="lastScheduler" name="lastScheduler" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">收款账号：</label>
				<div class="col-sm-8">
					<input id="bankAccount" name="bankAccount" class="form-control" type="text" maxlength="18">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收款人：</label>
				<div class="col-sm-8">
					<input id="bankReceiver" name="bankReceiver" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开户行：</label>
				<div class="col-sm-8">
					<input id="bankName" name="bankName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<select
						name="status"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option th:value="1">有效</option>
						<option th:value="0">无效</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告商等级：</label>
				<div class="col-sm-8">
					<input id="grade" name="grade" class="form-control" type="text">
				</div>
			</div>
			<!-- <div class="form-group" style="display: none">
				<label class="col-sm-3 control-label">投放广告折扣：</label>
				<div class="col-sm-8">
					<input id="cutOff" name="cutOff" class="form-control" type="number" min="0" max="1">
				</div>
			</div> -->
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "client/advertise"
		$("#form-advertise-add").validate({
			rules:{
				advertisorName:{
        			required:true
        		},
				managerPhone:{
        			required:true,
        			isPhone:true
        		},
        		managerName:{
        			required:true,
        			isName : true
        		},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-advertise-add').serialize());
			}
		});
	</script>
</body>
</html>
