<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-advertise-edit" th:object="${advertise}">
            <input id="advertiseId" name="advertiseId" th:field="*{advertiseId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">广告商名称：</label>
                <div class="col-sm-8">
                    <input id="advertisorName" name="advertisorName" th:field="*{advertisorName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">管理者名字：</label>
                <div class="col-sm-8">
                    <input id="managerName" name="managerName" th:field="*{managerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">管理者电话：</label>
                <div class="col-sm-8">
                    <input id="managerPhone" name="managerPhone" th:field="*{managerPhone}" class="form-control" type="tel" maxlength="11" disabled="disabled">
                </div>
            </div>
           <!--  <div class="form-group" style="display: none">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="business" name="business" th:field="*{business}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">累计投放广告次数：</label>
                <div class="col-sm-8">
                    <input id="releaseNum" name="releaseNum" th:field="*{releaseNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">上次投放ID：</label>
                <div class="col-sm-8">
                    <input id="lastScheduler" name="lastScheduler" th:field="*{lastScheduler}" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款账号：</label>
                <div class="col-sm-8">
                    <input id="bankAccount" name="bankAccount" th:field="*{bankAccount}" class="form-control" type="text" maxlength="18">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款人：</label>
                <div class="col-sm-8">
                    <input id="bankReceiver" name="bankReceiver" th:field="*{bankReceiver}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input id="bankName" name="bankName" th:field="*{bankName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
					<select class="form-control" name="status">
						<option th:selected="*{status=='1'}" th:value="1">有效</option>
						<option th:selected="*{status=='0'}" th:value="0">无效</option>
					</select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">广告商等级：</label>
                <div class="col-sm-8">
                    <input id="grade" name="grade" th:field="*{grade}" class="form-control" type="text">
                </div>
            </div>
            <!-- <div class="form-group" style="display: none">	
                <label class="col-sm-3 control-label">投放广告折扣：</label>
                <div class="col-sm-8">
                    <input id="cutOff" name="cutOff" th:field="*{cutOff}" class="form-control" type="number" min="0" max="1">
                </div>
            </div> -->
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "client/advertise"
		$("#form-advertise-edit").validate({
			rules:{
				advertisorName:{
        			required:true
        		},
				managerPhone:{
        			required:true,
        			isPhone:true
        		},
        		managerName:{
        			required:true,
        			isName : true
        		},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-advertise-edit').serialize());
			}
		});
	</script>
</body>
</html>
