<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 select-info">
			<form id="change-form">
				<div class="select-list">
					<ul>
						<li>
							商户订单号： <input type="text" name="outTradeOrder" id="outTradeOrder" th:value="${outTradeOrder}"/>
						</li>
						<li>
							设备编码： <input type="text" name="deviceCode" id="deviceCode"/>
						</li>
						<li>
							终端编码： <input type="text" name="terminalCode" id="terminalCode"/>
						</li>
						<li>
			                <span class="select-item-name">订单状态：</span>
			                <select name="status">
				                <option value="">所有</option>
				                <option value="0">待支付</option>
				                <option value="1">已支付</option>
				                <option value="2">支付失败</option>
				                <option value="3">已退款</option>
				                <option value="4">退款失败</option>
				            </select>
			            </li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<!-- <div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="record:deviceOrder:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="record:deviceOrder:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div> -->
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('record:deviceOrder:edit')}]];
        var removeFlag = [[${@permission.hasPermi('record:deviceOrder:remove')}]];
        var prefix = ctx + "record/deviceOrder"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "设备销售订单",
                queryParams: queryParams,
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'deviceOrderId', 
					title : '订单ID'  ,
					visible: false
				},
				{
					field : 'outTradeOrder', 
					title : '商户订单号'
				},	
				{
					field : 'deviceCode', 
					title : '设备编码' 
				},
				{
					field : 'terminalCode', 
					title : '终端编码' 
				},
				{
					field : 'promotionerName', 
					title : '推荐人' 
				},
				{
					field : 'price', 
					title : '售价' 
				},
				{
					field : 'cutOff', 
					title : '折扣' 
				},
				{
					field : 'sellerName', 
					title : '销售员' 
				},
				{
					field : 'status', 
					title : '订单状态' ,formatter: function(value, row, index) {
						if(value == '0') {return " 待支付"}
						if(value == '1') {return "已支付"}
						if(value == '2') {return "支付失败"}
						if(value == '3') {return "已退款"}
						if(value == '4') {return "退款失败"}
						return "-";
		            } 
				},
				{
					field : 'buyerName', 
					title : '机主名称' 
				},
				{
					field : 'buyerOpenId', 
					title : '机主openID' 
				},
				{
					field : 'createBy', 
					title : '创建者' ,
					visible: false
				},
				{
					field : 'createTime', 
					title : '创建时间' 
				},
				{
					field : 'updateBy', 
					title : '更新者' ,
					visible: false
				},
				{
					field : 'updateTime', 
					title : '更新时间' ,
					visible: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.deviceOrderId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.deviceOrderId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            },
					visible: false
		        }]
            };
            $.table.init(options);
        });
        function queryParams (params) {
            return {
            	outTradeOrder: $('#outTradeOrder').val()
            };
          }
    </script>
</body>
</html>