<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-adResource-edit" th:object="${adResource}">
            <input id="resourceId" name="resourceId" th:field="*{resourceId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材名称：</label>
                <div class="col-sm-8">
                    <input id="resourceName" name="resourceName" th:field="*{resourceName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材类型
 WHEN '49' THEN '功能图'
 WHEN '40' THEN '背景图' 
WHEN '41' THEN '视频文件' 
WHEN '42' THEN '图片文件'
 WHEN '43' THEN '文本文件'
 WHEN '48' THEN '直播频道'
 WHEN '47' THEN '音频'：</label>
                <div class="col-sm-8">
                    <input id="resourceType" name="resourceType" th:field="*{resourceType}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材资源文件名：</label>
                <div class="col-sm-8">
                    <input id="resourceFilename" name="resourceFilename" th:field="*{resourceFilename}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材大小：</label>
                <div class="col-sm-8">
                    <input id="resourceSize" name="resourceSize" th:field="*{resourceSize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">视频播放时长：</label>
                <div class="col-sm-8">
                    <input id="videoLen" name="videoLen" th:field="*{videoLen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">说明：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">原始视频播放时长：</label>
                <div class="col-sm-8">
                    <input id="realVideoLen" name="realVideoLen" th:field="*{realVideoLen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材编码：</label>
                <div class="col-sm-8">
                    <input id="resourceCode" name="resourceCode" th:field="*{resourceCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">动态文字(提供播放情况使用)：</label>
                <div class="col-sm-8">
                    <input id="autotxt" name="autotxt" th:field="*{autotxt}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材类别：</label>
                <div class="col-sm-8">
                    <input id="resourceSort" name="resourceSort" th:field="*{resourceSort}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">客户ID：</label>
                <div class="col-sm-8">
                    <input id="clientUnit" name="clientUnit" th:field="*{clientUnit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">客户联系人：</label>
                <div class="col-sm-8">
                    <input id="clientName" name="clientName" th:field="*{clientName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">客户联系电话：</label>
                <div class="col-sm-8">
                    <input id="clientTel" name="clientTel" th:field="*{clientTel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">是否通用素材 1为通用，0为分组使用。：</label>
                <div class="col-sm-8">
                    <input id="isNormal" name="isNormal" th:field="*{isNormal}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材状态(2初审 3 终审 4 完成)：</label>
                <div class="col-sm-8">
                    <input id="state" name="state" th:field="*{state}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">标识 素材是否可用(1 可用 0不可用)：</label>
                <div class="col-sm-8">
                    <input id="flag" name="flag" th:field="*{flag}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">指定初审人员id列表,分开：</label>
                <div class="col-sm-8">
                    <input id="checkmanids" name="checkmanids" th:field="*{checkmanids}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">指定初审人员姓名列表,分开：</label>
                <div class="col-sm-8">
                    <input id="checkmannames" name="checkmannames" th:field="*{checkmannames}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">指定终审人员id列表,分开：</label>
                <div class="col-sm-8">
                    <input id="checkmanids2" name="checkmanids2" th:field="*{checkmanids2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">指定终审人员姓名列表,分开：</label>
                <div class="col-sm-8">
                    <input id="checkmannames2" name="checkmannames2" th:field="*{checkmannames2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">任务工作流：</label>
                <div class="col-sm-8">
                    <input id="workflowid" name="workflowid" th:field="*{workflowid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材给哪个分屏使用，通用2，横屏0，竖屏1：</label>
                <div class="col-sm-8">
                    <input id="resourceScreen" name="resourceScreen" th:field="*{resourceScreen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">文件缩略图URL：</label>
                <div class="col-sm-8">
                    <input id="smallPicurl" name="smallPicurl" th:field="*{smallPicurl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材有效期开始时间：</label>
                <div class="col-sm-8">
                    <input id="beginDate" name="beginDate" th:field="*{beginDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">素材有效期结束时间：</label>
                <div class="col-sm-8">
                    <input id="endDate" name="endDate" th:field="*{endDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">是否已删除（0：删除，其他都是正常）：</label>
                <div class="col-sm-8">
                    <input id="isDel" name="isDel" th:field="*{isDel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">功能关联的布局模版：</label>
                <div class="col-sm-8">
                    <input id="templateId" name="templateId" th:field="*{templateId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="createBy" name="createBy" th:field="*{createBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="updateBy" name="updateBy" th:field="*{updateBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="updateTime" name="updateTime" th:field="*{updateTime}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "advertise/adResource"
		$("#form-adResource-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-adResource-edit').serialize());
			}
		});
	</script>
</body>
</html>
