<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-terminalTimer-add">
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>终端：</label>
				<div class="col-sm-8">
					<input id="terminalId" name="terminalId" th:value="${terminalId}" class="form-control" type="hidden">
					<input id="terminalCode" name="terminalCode" th:value="${terminalCode}" class="form-control" readonly="readonly">
				</div>
			</div>
			<!-- 
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>定时类型：</label>
				<div class="col-sm-8">
					<select
						id="timerType"
						name="timerType"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
						<option value="1">一次</option>
						<option value="2">按天</option>
						<option value="3">按周</option>
						<option value="4">按月</option>
					</select>
				</div>
			</div>
			 -->
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>开机时间：</label>
				<div class="col-sm-8">
					<input type="text" class="time-input form-control date-time-picker" placeholder="开机时间" id="powerOnTime" readonly/>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>关机时间：</label>
				<div class="col-sm-8">
					<input type="text" class="time-input form-control date-time-picker" placeholder="关机时间" id="powerOffTime" readonly/>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>状态 ：</label>
				<div class="col-sm-8">
					<select
						id="status"
						name="status"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="1">生效</option>
						<option value="2">禁用</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <!-- <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
	<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
  	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript">
    	///$(".input-group.date").datepicker({todayBtn: "linked",keyboardNavigation: !1,forceParse: !1,calendarWeeks: !0,autoclose: !0});
	    $(function(){
	    	//不用引入语言直接复制中文转换代码
	    	$.fn.datetimepicker.dates['zh-CN'] = {
	    			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
	    			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
	    			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
	    			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
	    			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
	    			today: "今天",
	    			suffix: [],
	    			meridiem: ["上午", "下午"]
	    	};

	    	$('#datetimepicker1').datetimepicker({
	            format: 'yyyy-MM-dd hh:mm:ss',
	            language: 'zh-CN',
	            pickDate: true,
	            pickTime: true,
	            hourStep: 1,
	            minuteStep: 15,
	            secondStep: 30,
	            autoclose:true,//日期选择完成后是否关闭选择框
	            inputMask: true
          	});

	    	$('#datetimepicker2').datetimepicker({
	            format: 'yyyy-MM-dd hh:mm:ss',
	            language: 'zh-CN',
	            pickDate: true,
	            pickTime: true,
	            hourStep: 1,
	            minuteStep: 15,
	            secondStep: 30,
	            inputMask: true
          	});
	 	});

	    
	    
		var prefix = ctx + "business/terminalTimer"
		$("#form-terminalTimer-add").validate({
			rules:{
				terminalId:{
					required:true,
				},
				powerOnTime:{
					required:true,
				},
				powerOffTime:{
					required:true,
				},
				status:{
					required:true,
				},
			},
			submitHandler: function(form) {
				add();
			}
		});

		function add() {
        	var terminalId = $("#terminalId").val();
        	var timerType = $.form.selectSelects("timerType");
        	var powerOnTime = $("#powerOnTime").val();
        	var powerOffTime = $("#powerOffTime").val();
        	var status = $.form.selectSelects("status");

        	if(powerOnTime == ''){
        		alert("开机时间不能为空!");
        		return false;
        	}
        	if(powerOffTime == ''){
        		alert("关机时间不能为空!");
        		return false;
        	}

        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/add",
        		data : {
        			"terminalId": terminalId,
        			//"timerType": timerType,
        			"powerOnTime": powerOnTime,
        			"powerOffTime": powerOffTime,
        			"status": status
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
		// 日期选择器初始化
	    function initDateTimePicker (select) {
	      $(select || '.date-time-picker').datetimepicker({
	        language:  'zh-CN',
	        //format: 'yyyy-mm-dd hh:ii',
	        format: 'yyyy-mm-dd hh:ii:ss',
	        todayBtn:  1,
	        autoclose: true,
	        todayHighlight: 1,
	        startView: 0,
	        minView:0,
	        showMeridian: 1,
	        minuteStep: 1
	      }).on('changeDate', function(ev){
	      });
	    }
	    initDateTimePicker();
	</script>
</body>
</html>
