<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.client.advertise.mapper.AdvertiseMapper">
    
    <resultMap type="Advertise" id="AdvertiseResult">
        <result property="advertiseId"    column="advertise_id"/>
        <result property="advertisorName"    column="advertisor_name"/>
        <result property="managerId"    column="manager_id"/>
        <result property="managerName"    column="manager_name"/>
        <result property="managerPhone"    column="manager_phone"/>
        <result property="business"    column="business"/>
        <result property="releaseNum"    column="release_num"/>
        <result property="lastScheduler"    column="last_scheduler"/>
        <result property="status"    column="status"/>
        <result property="delFlag"    column="del_flag"/>
        <result property="balance"    column="balance"/>
        <result property="frozenBalance"    column="frozen_balance"/>
        <result property="grade"    column="grade"/>
        <result property="cutOff"    column="cut_off"/>
        <result property="createBy"    column="create_by"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateBy"    column="update_by"/>
        <result property="updateTime"    column="update_time"/>
    </resultMap>
	
	<sql id="selectAdvertiseVo">
        select advertise_id, advertisor_name, manager_id, manager_name, manager_phone, business, release_num, last_scheduler, status, del_flag, grade,balance,frozen_balance, cut_off, create_by, create_time, update_by, update_time from zx_advertise
    </sql>
    <sql id="selectAdvertiseVos">
        select distinct a.advertise_id, a.advertisor_name, a.manager_id, a.manager_name, a.manager_phone, a.business, a.release_num, a.last_scheduler, a.status, a.del_flag, a.grade,a.balance,a.frozen_balance, a.cut_off, a.create_by, a.create_time, a.update_by, a.update_time from zx_advertise a LEFT JOIN sys_user b ON b.puser_id = a.advertise_id
    </sql>
	
    <select id="selectAdvertiseList" parameterType="Advertise" resultMap="AdvertiseResult">
        <include refid="selectAdvertiseVo"/>
        <where>  
          ${filterSql}
            <if test="advertiseId != null and advertiseId != ''"> and a.advertise_id = #{advertiseId}</if>
             <if test="advertisorName != null and advertisorName != ''"> and a.advertisor_name like concat('%', #{advertisorName}, '%')</if>
             <if test="managerId != null and managerId != ''"> and a.manager_id = #{managerId}</if>
             <if test="managerName != null and managerName != ''"> and a.manager_name = #{managerName}</if>
             <if test="managerPhone != null and managerPhone != ''"> and a.manager_phone like concat('%', #{managerPhone}, '%')</if>
             <if test="business != null and business != ''"> and a.business = #{business}</if>
             <if test="releaseNum != null and releaseNum != ''"> and a.release_num = #{releaseNum}</if>
             <if test="lastScheduler != null and lastScheduler != ''"> and a.last_scheduler = #{lastScheduler}</if>
             <if test="status != null and status != ''"> and a.status = #{status}</if>
             <if test="delFlag != null and delFlag != ''"> and a.del_flag = #{delFlag}</if>
             <if test="grade != null and grade != ''"> and a.grade = #{grade}</if>
             <if test="cutOff != null and cutOff != ''"> and a.cut_off = #{cutOff}</if>
             <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy}</if>
             <if test="createTime != null"> and a.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy}</if>
             <if test="updateTime != null"> and a.update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAdvertiseById" parameterType="Integer" resultMap="AdvertiseResult">
        <include refid="selectAdvertiseVo"/>
        where advertise_id = #{advertiseId}
    </select>
        
    <insert id="insertAdvertise" parameterType="Advertise" useGeneratedKeys="true" keyProperty="advertiseId">
        insert into zx_advertise
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="advertiseId != null and advertiseId != '' ">advertise_id,</if>
			<if test="advertisorName != null and advertisorName != '' ">advertisor_name,</if>
			<if test="managerId != null and managerId != '' ">manager_id,</if>
			<if test="managerName != null and managerName != '' ">manager_name,</if>
			<if test="managerPhone != null and managerPhone != '' ">manager_phone,</if>
			<if test="business != null and business != '' ">business,</if>
			<if test="releaseNum != null and releaseNum != '' ">release_num,</if>
			<if test="lastScheduler != null and lastScheduler != '' ">last_scheduler,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="grade != null and grade != '' ">grade,</if>
			<if test="cutOff != null and cutOff != '' ">cut_off,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="advertiseId != null and advertiseId != ''">#{advertiseId},</if>
			<if test="advertisorName != null and advertisorName != ''">#{advertisorName},</if>
			<if test="managerId != null and managerId != ''">#{managerId},</if>
			<if test="managerName != null and managerName != ''">#{managerName},</if>
			<if test="managerPhone != null and managerPhone != ''">#{managerPhone},</if>
			<if test="business != null and business != ''">#{business},</if>
			<if test="releaseNum != null and releaseNum != ''">#{releaseNum},</if>
			<if test="lastScheduler != null and lastScheduler != ''">#{lastScheduler},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="grade != null and grade != ''">#{grade},</if>
			<if test="cutOff != null and cutOff != ''">#{cutOff},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdvertise" parameterType="Advertise">
        update zx_advertise
        <trim prefix="SET" suffixOverrides=",">
            <if test="advertisorName != null  and advertisorName != ''  ">advertisor_name = #{advertisorName},</if>
            <if test="managerId != null  ">manager_id = #{managerId},</if>
            <if test="managerName != null  and managerName != ''  ">manager_name = #{managerName},</if>
            <if test="managerPhone != null  and managerPhone != ''  ">manager_phone = #{managerPhone},</if>
            <if test="business != null  and business != ''  ">business = #{business},</if>
            <if test="releaseNum != null  ">release_num = #{releaseNum},</if>
            <if test="lastScheduler != null  ">last_scheduler = #{lastScheduler},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="grade != null  and grade != ''  ">grade = #{grade},</if>
            <if test="cutOff != null  ">cut_off = #{cutOff},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where advertise_id = #{advertiseId}
    </update>
    <update id="updateBalance">
        update zx_advertise
        <trim prefix="SET" suffixOverrides=",">
            <if test="balance != null">balance = #{balance},</if>
            <if test="frozenBalance != null">frozen_balance = #{frozenBalance},</if>
            update_time = now()
        </trim>
        where advertise_id = #{advertiseId}
    </update>

	<delete id="deleteAdvertiseById" parameterType="Integer">
        delete from zx_advertise where advertise_id = #{advertiseId}
    </delete>
	
    <delete id="deleteAdvertiseByIds" parameterType="String">
        delete from zx_advertise where advertise_id in 
        <foreach item="advertiseId" collection="array" open="(" separator="," close=")">
            #{advertiseId}
        </foreach>
    </delete>
    <select id="selectTotal" resultType="int">
    	select count(*) from zx_advertise
    </select>
    
    <select id="selectDropBoxList" resultMap="AdvertiseResult">
         select advertise_id, advertisor_name,manager_id,manager_name from zx_advertise
    </select>
    
</mapper>