<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.client.agent.mapper.AgentMapper">
    
    <resultMap type="Agent" id="AgentResult">
        <result property="agentId"    column="agent_id"/>
        <result property="pagentId"    column="pagent_id"/>
        <result property="agentName"    column="agent_name"/>
        <result property="province"    column="province"/>
        <result property="city"    column="city"/>
        <result property="county"    column="county"/>
        <result property="level"    column="level"/>
        <result property="deviceNum"    column="device_num"/>
        <result property="delFlag"    column="del_flag"/>
        <result property="status"    column="status"/>
        <result property="buyerId"    column="buyer_id"/>
        <result property="puserId"    column="puser_id"/>
        <result property="userType"    column="user_type"/>
        <result property="managerId"    column="manager_id"/>
        <result property="managerName"    column="manager_name"/>
        <result property="managerPhone"    column="manager_phone"/>
        <result property="bankReceiver"    column="bank_receiver"/>
        <result property="bankAccount"    column="bank_account"/>
        <result property="bankName"    column="bank_name"/>
        <result property="promotorId"    column="promotor_id"/>
        <result property="adRate"    column="ad_rate"/>
        <result property="adCarouselRate"    column="ad_carousel_rate"/>
        <result property="scanRate"    column="scan_rate"/>
        <result property="promDirectRate"    column="prom_direct_rate"/>
        <result property="promIndirectRate"    column="prom_indirect_rate"/>
        <result property="promPaperRate"    column="prom_paper_rate"/>
        <result property="promotionRate"    column="promotion_rate"/>
        <result property="directAgentRate"    column="direct_agent_rate"/>
        <result property="serveRate"    column="serve_rate"/>
        <result property="subsidyRate"    column="subsidy_rate"/>
        <result property="createBy"    column="create_by"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateBy"    column="update_by"/>
        <result property="updateTime"    column="update_time"/>
        <result property="balance"    column="balance"/>
        <result property="frozenBalance"    column="frozen_balance"/>
        <result property="agencyFee"    column="agency_fee"/>
    </resultMap>
	
	<sql id="selectAgentVo">
        select agent_id, pagent_id, agent_name,balance,frozen_balance,agency_fee,buyer_id,puser_id,user_type,
         province,(select distinct a.pname from sys_area a where a.id =a.`province` ) provinceName,
         city,(select distinct a.pname from sys_area a where a.id =a.`city` ) cityName,
         county,(select distinct a.pname from sys_area a where a.id =a.`county` ) countyName, 
         level, device_num, del_flag, status, manager_id, manager_name, manager_phone, bank_receiver, bank_account, bank_name, promotor_id,
         ad_rate,ad_carousel_rate, scan_rate,prom_direct_rate,prom_indirect_rate,prom_paper_rate,promotion_rate,direct_agent_rate,serve_rate,subsidy_rate, 
         create_by, create_time, update_by, update_time
        from zx_agent a
    </sql>
    
    <sql id="selectAgentVos">
         SELECT distinct a.agent_id, pagent_id, a.agent_name,a.balance,a.frozen_balance,a.agency_fee,a.buyer_id,a.puser_id,a.user_type,
         a.province,(SELECT DISTINCT a.pname FROM sys_area a WHERE a.id =a.`province` ) provinceName,
         a.city,(SELECT DISTINCT a.pname FROM sys_area a WHERE a.id =a.`city` ) cityName,
         county,(SELECT DISTINCT a.pname FROM sys_area a WHERE a.id =a.`county` ) countyName, 
         a.level, a.device_num, a.del_flag, a.status, a.manager_id, a.manager_name, a.manager_phone, a.bank_receiver, a.bank_account, a.bank_name,
         promotor_id,(select u.user_name from sys_user u where u.user_id = a.promotor_id) promotorName,
         (select u.user_name from sys_user u where u.user_id = a.puser_id) buyerName,
         a.ad_rate,a.ad_carousel_rate, a.scan_rate,a.prom_direct_rate,a.prom_indirect_rate,a.prom_paper_rate,a.promotion_rate,a.direct_agent_rate,a.serve_rate,a.subsidy_rate, 
         a.create_by, a.create_time, a.update_by, a.update_time
        FROM zx_agent a LEFT JOIN sys_user b ON b.puser_id = a.agent_id
    </sql>
	
    <select id="selectAgentList" parameterType="Agent" resultMap="AgentResult">
        <include refid="selectAgentVos"/>
        <where>
        ${filterSql}
            <!--  <if test="userId != null and userId != ''"> and b.user_id = #{userId}</if>  -->
            <if test="agentId != null and agentId != ''"> and a.agent_id = #{agentId}</if>
             <if test="pagentId != null and pagentId != ''"> and a.pagent_id = #{pagentId}</if>
             <if test="agentName != null and agentName != ''"> and a.agent_name like concat('%', #{agentName}, '%')</if>
             <if test="province != null and province != ''"> and a.province = #{province}</if>
             <if test="city != null and city != ''"> and a.city = #{city}</if>
             <if test="county != null and county != ''"> and a.county = #{county}</if>
             <if test="level != null and level != ''"> and a.level = #{level}</if>
             <if test="deviceNum != null and deviceNum != ''"> and a.device_num = #{deviceNum}</if>
             and a.del_flag != '2'
             <if test="status != null and status != ''"> and a.status = #{status}</if>
             <if test="managerId != null and managerId != ''"> and a.manager_id = #{managerId}</if>
             <if test="managerName != null and managerName != ''"> and a.manager_name like concat('%', #{managerName}, '%')</if>
             <if test="managerPhone != null and managerPhone != ''"> and a.manager_phone like concat('%', #{managerPhone}, '%')</if>
             <if test="bankReceiver != null and bankReceiver != ''"> and a.bank_receiver = #{bankReceiver}</if>
             <if test="bankAccount != null and bankAccount != ''"> and a.bank_account = #{bankAccount}</if>
             <if test="bankName != null and bankName != ''"> and a.bank_name = #{bankName}</if>
             <if test="promotorId != null and promotorId != ''"> and a.promotor_id = #{promotorId}</if>
             <if test="adRate != null and adRate != ''"> and a.ad_rate = #{adRate}</if>
             <if test="scanRate != null and scanRate != ''"> and a.scan_rate = #{scanRate}</if>
             <if test="promotionRate != null and promotionRate != ''"> and a.promotion_rate = #{promotionRate}</if>
             <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAgentById" parameterType="Integer" resultMap="AgentResult">
        <include refid="selectAgentVo"/>
        where agent_id = #{agentId}
    </select>
        
    <insert id="insertAgent" parameterType="Agent" useGeneratedKeys="true" keyProperty="agentId">
        insert into zx_agent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="agentId != null and agentId != '' ">agent_id,</if>
			<if test="pagentId != null and pagentId != '' ">pagent_id,</if>
			<if test="agentName != null and agentName != '' ">agent_name,</if>
			<if test="province != null and province != '' ">province,</if>
			<if test="city != null and city != '' ">city,</if>
			<if test="county != null and county != '' ">county,</if>
			<if test="level != null and level != '' ">level,</if>
			<if test="deviceNum != null and deviceNum != '' ">device_num,</if>
			del_flag,
			<if test="status != null and status != '' ">status,</if>
			<if test="buyerId != null">buyer_id,</if>
			<if test="puserId != null">puser_id,</if>
			<if test="userType != null and userType != '' ">user_type,</if>
			<if test="managerId != null and managerId != '' ">manager_id,</if>
			<if test="managerName != null and managerName != '' ">manager_name,</if>
			<if test="managerPhone != null and managerPhone != '' ">manager_phone,</if>
			<if test="bankReceiver != null and bankReceiver != '' ">bank_receiver,</if>
			<if test="bankAccount != null and bankAccount != '' ">bank_account,</if>
			<if test="bankName != null and bankName != '' ">bank_name,</if>
			<if test="promotorId != null and promotorId != '' ">promotor_id,</if>
			<if test="adRate != null">ad_rate,</if>
			<if test="adCarouselRate != null">ad_carousel_rate,</if>
			<if test="scanRate != null">scan_rate,</if>
			<if test="promDirectRate != null">prom_direct_rate,</if>
			<if test="promIndirectRate != null">prom_indirect_rate,</if>
			<if test="promPaperRate != null">prom_paper_rate,</if>
			<if test="promotionRate != null">promotion_rate,</if>
			<if test="directAgentRate != null">direct_agent_rate,</if>
			<if test="serveRate != null">serve_rate,</if>
			<if test="subsidyRate != null">subsidy_rate,</if>
			<if test="agencyFee != null">agency_fee,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="agentId != null and agentId != ''">#{agentId},</if>
			<if test="pagentId != null and pagentId != ''">#{pagentId},</if>
			<if test="agentName != null and agentName != ''">#{agentName},</if>
			<if test="province != null and province != ''">#{province},</if>
			<if test="city != null and city != ''">#{city},</if>
			<if test="county != null and county != ''">#{county},</if>
			<if test="level != null and level != ''">#{level},</if>
			<if test="deviceNum != null and deviceNum != ''">#{deviceNum},</if>
			'0',
			<if test="status != null and status != ''">#{status},</if>
			<if test="buyerId != null">#{buyerId},</if>
			<if test="puserId != null">#{puserId},</if>
			<if test="userType != null and userType != ''">#{userType},</if>
			<if test="managerId != null and managerId != ''">#{managerId},</if>
			<if test="managerName != null and managerName != ''">#{managerName},</if>
			<if test="managerPhone != null and managerPhone != ''">#{managerPhone},</if>
			<if test="bankReceiver != null and bankReceiver != ''">#{bankReceiver},</if>
			<if test="bankAccount != null and bankAccount != ''">#{bankAccount},</if>
			<if test="bankName != null and bankName != ''">#{bankName},</if>
			<if test="promotorId != null and promotorId != ''">#{promotorId},</if>
			<if test="adRate != null">#{adRate},</if>
			<if test="adCarouselRate != null">#{adCarouselRate},</if>
			<if test="scanRate != null">#{scanRate},</if>
			<if test="promDirectRate != null">#{promDirectRate},</if>
			<if test="promIndirectRate != null">#{promIndirectRate},</if>
			<if test="promPaperRate != null">#{promPaperRate},</if>
			<if test="promotionRate != null">#{promotionRate},</if>
			<if test="directAgentRate != null">#{directAgentRate},</if>
			<if test="serveRate != null">#{serveRate},</if>
			<if test="subsidyRate != null">#{subsidyRate},</if>
			<if test="agencyFee != null">#{agencyFee},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAgent" parameterType="Agent">
        update zx_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="pagentId != null  ">pagent_id = #{pagentId},</if>
            <if test="agentName != null  and agentName != ''  ">agent_name = #{agentName},</if>
            province = #{province},
            city = #{city},
            county = #{county},
            <if test="level != null  ">level = #{level},</if>
            <if test="deviceNum != null  ">device_num = #{deviceNum},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            buyer_id = #{buyerId},
			puser_id = #{puserId},
			user_type = #{userType},
            <if test="managerId != null  ">manager_id = #{managerId},</if>
            <if test="managerName != null  and managerName != ''  ">manager_name = #{managerName},</if>
            <if test="managerPhone != null  and managerPhone != ''  ">manager_phone = #{managerPhone},</if>
            <if test="bankReceiver != null  and bankReceiver != ''  ">bank_receiver = #{bankReceiver},</if>
            <if test="bankAccount != null  and bankAccount != ''  ">bank_account = #{bankAccount},</if>
            <if test="bankName != null  and bankName != ''  ">bank_name = #{bankName},</if>
            <if test="promotorId != null  ">promotor_id = #{promotorId},</if>
            <if test="adRate != null">ad_rate = #{adRate},</if>
			<if test="adCarouselRate != null">ad_carousel_rate = #{adCarouselRate},</if>
			<if test="scanRate != null">scan_rate = #{scanRate},</if>
			<if test="promDirectRate != null">prom_direct_rate = #{promDirectRate},</if>
			<if test="promIndirectRate != null">prom_indirect_rate = #{promIndirectRate},</if>
			<if test="promPaperRate != null">prom_paper_rate = #{promPaperRate},</if>
			<if test="promotionRate != null">promotion_rate = #{promotionRate},</if>
			<if test="directAgentRate != null">direct_agent_rate = #{directAgentRate},</if>
			<if test="serveRate != null">serve_rate = #{serveRate},</if>
			<if test="agencyFee != null">agency_fee = #{agencyFee},</if>
			<if test="subsidyRate != null">subsidy_rate = #{subsidyRate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where agent_id = #{agentId}
    </update>
	<update id="updateBalance">
        update zx_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="balance != null">balance = #{balance},</if>
            <if test="frozenBalance != null  ">frozen_balance = #{frozenBalance},</if>
            update_time = now()
        </trim>
        where agent_id = #{agentId}
    </update>
	<update id="deleteAgentById" parameterType="Integer">
        update zx_agent set del_flag = '2' where agent_id = #{agentId}
    </update>
	
    <update id="deleteAgentByIds" parameterType="String">
        update zx_agent set del_flag = '2' where agent_id in 
        <foreach item="agentId" collection="array" open="(" separator="," close=")">
            #{agentId}
        </foreach>
    </update>
    <select id="queryParentAgent" parameterType="Integer" resultMap="AgentResult">
    	select * from zx_agent  where del_flag !=2 and city = #{city} and county is null limit 1
    </select>
    
    <select id="selectDropBoxList" resultMap="AgentResult">
         select agent_id, agent_name,manager_id,manager_name from zx_agent where del_flag !=2 
    </select>
    <select id="selectTotal" resultType="int">
         select count(*) from zx_agent where del_flag !=2 
    </select>
    
</mapper>