<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.client.join.mapper.JoinMapper">
    
    <resultMap type="Join" id="JoinResult">
        <result property="joinId"    column="join_id"    />
        <result property="joinerName"    column="joiner_name"    />
        <result property="joinerId"    column="joiner_id"    />
        <result property="managerName"    column="manager_name"    />
        <result property="managerPhone"    column="manager_phone"    />
        <result property="deviceNum"    column="device_num"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="bankReceiver"    column="bank_receiver"    />
        <result property="bankName"    column="bank_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="promotionRate"    column="promotion_rate"    />
        <result property="adRate"    column="ad_rate"    />
        <result property="scanRate"    column="scan_rate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectJoinVo">
        select join_id, joiner_name, joiner_id, device_num, bank_account, bank_receiver, bank_name,manager_name, manager_phone,
         status, del_flag, promotion_rate, ad_rate, scan_rate, create_by, create_time, update_by, update_time from zx_join
    </sql>
	
    <select id="selectJoinList" parameterType="Join" resultMap="JoinResult">
        <include refid="selectJoinVo"/>
        <where>  
            <if test="joinId != null and joinId != ''"> and join_id = #{joinId}</if>
             <if test="joinerName != null and joinerName != ''"> and joiner_name like concat('%', #{joinerName}, '%')</if>
             <if test="joinerId != null and joinerId != ''"> and joiner_id = #{joinerId}</if>
             <if test="managerName != null  and managerName != ''  ">and manager_name like concat('%', #{managerName}, '%')</if>
             <if test="managerPhone != null  and managerPhone != ''  ">and manager_phone like concat('%', #{managerPhone}, '%')</if>
             <if test="deviceNum != null and deviceNum != ''"> and device_num = #{deviceNum}</if>
             <if test="bankAccount != null and bankAccount != ''"> and bank_account = #{bankAccount}</if>
             <if test="bankReceiver != null and bankReceiver != ''"> and bank_receiver = #{bankReceiver}</if>
             <if test="bankName != null and bankName != ''"> and bank_name = #{bankName}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
             <if test="promotionRate != null and promotionRate != ''"> and promotion_rate = #{promotionRate}</if>
             <if test="adRate != null and adRate != ''"> and ad_rate = #{adRate}</if>
             <if test="scanRate != null and scanRate != ''"> and scan_rate = #{scanRate}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectJoinById" parameterType="Integer" resultMap="JoinResult">
        <include refid="selectJoinVo"/>
        where join_id = #{joinId}
    </select>
        
    <insert id="insertJoin" parameterType="Join">
        insert into zx_join
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="joinId != null and joinId != '' ">join_id,</if>
			<if test="joinerName != null and joinerName != '' ">joiner_name,</if>
			<if test="joinerId != null and joinerId != '' ">joiner_id,</if>
			<if test="managerName != null and managerName != '' ">manager_name,</if>
			<if test="managerPhone != null and managerPhone != '' ">manager_phone,</if>
			<if test="deviceNum != null and deviceNum != '' ">device_num,</if>
			<if test="bankAccount != null and bankAccount != '' ">bank_account,</if>
			<if test="bankReceiver != null and bankReceiver != '' ">bank_receiver,</if>
			<if test="bankName != null and bankName != '' ">bank_name,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="promotionRate != null and promotionRate != '' ">promotion_rate,</if>
			<if test="adRate != null and adRate != '' ">ad_rate,</if>
			<if test="scanRate != null and scanRate != '' ">scan_rate,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="joinId != null and joinId != ''">#{joinId},</if>
			<if test="joinerName != null and joinerName != ''">#{joinerName},</if>
			<if test="joinerId != null and joinerId != ''">#{joinerId},</if>
			<if test="managerName != null and managerName != ''">#{managerName},</if>
			<if test="managerPhone != null and managerPhone != ''">#{managerPhone},</if>
			<if test="deviceNum != null and deviceNum != ''">#{deviceNum},</if>
			<if test="bankAccount != null and bankAccount != ''">#{bankAccount},</if>
			<if test="bankReceiver != null and bankReceiver != ''">#{bankReceiver},</if>
			<if test="bankName != null and bankName != ''">#{bankName},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="promotionRate != null and promotionRate != ''">#{promotionRate},</if>
			<if test="adRate != null and adRate != ''">#{adRate},</if>
			<if test="scanRate != null and scanRate != ''">#{scanRate},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateJoin" parameterType="Join">
        update zx_join
        <trim prefix="SET" suffixOverrides=",">
            <if test="joinerName != null  and joinerName != ''  ">joiner_name = #{joinerName},</if>
            <if test="joinerId != null  ">joiner_id = #{joinerId},</if>
            <if test="managerName != null  and managerName != ''  ">manager_name = #{managerName},</if>
            <if test="managerPhone != null  and managerPhone != ''  ">manager_phone = #{managerPhone},</if>
            <if test="deviceNum != null  ">device_num = #{deviceNum},</if>
            <if test="bankAccount != null  and bankAccount != ''  ">bank_account = #{bankAccount},</if>
            <if test="bankReceiver != null  and bankReceiver != ''  ">bank_receiver = #{bankReceiver},</if>
            <if test="bankName != null  and bankName != ''  ">bank_name = #{bankName},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="promotionRate != null  ">promotion_rate = #{promotionRate},</if>
            <if test="adRate != null  ">ad_rate = #{adRate},</if>
            <if test="scanRate != null  ">scan_rate = #{scanRate},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where join_id = #{joinId}
    </update>

	<delete id="deleteJoinById" parameterType="Integer">
        delete from zx_join where join_id = #{joinId}
    </delete>
	
    <delete id="deleteJoinByIds" parameterType="String">
        delete from zx_join where join_id in 
        <foreach item="joinId" collection="array" open="(" separator="," close=")">
            #{joinId}
        </foreach>
    </delete>
    
</mapper>