<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.client.wxuser.mapper.WxUserMapper">
    
    <resultMap type="WxUser" id="WxUserResult">
        <result property="wxUserId"    column="wx_user_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="subscribe"    column="subscribe"    />
        <result property="openId"    column="open_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="sexDesc"    column="sex_desc"    />
        <result property="sex"    column="sex"    />
        <result property="language"    column="language"    />
        <result property="city"    column="city"    />
        <result property="province"    column="province"    />
        <result property="country"    column="country"    />
        <result property="headImgUrl"    column="head_img_url"    />
        <result property="subscribeTime"    column="subscribe_time"    />
        <result property="unionId"    column="union_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectWxUserVo">
        select w.wx_user_id, w.user_id,u.user_name,
         w.subscribe, w.open_id, w.nickname, w.sex_desc, w.sex, w.language, w.city, w.province, w.country, w.head_img_url,
          w.subscribe_time, w.union_id, w.remark, w.create_by, w.create_time, w.update_by, w.update_time 
         from zx_wx_user w left join sys_user u on u.user_id = w.user_id
    </sql>
	
    <select id="selectWxUserList" parameterType="WxUser" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        <where>  
            <if test="wxUserId != null and wxUserId != ''"> and w.wx_user_id = #{wxUserId}</if>
             <if test="userId != null and userId != ''"> and w.user_id = #{userId}</if>
             <if test="subscribe != null and subscribe != ''"> w.and subscribe = #{subscribe}</if>
             <if test="openId != null and openId != ''"> and w.open_id = #{openId}</if>
             <if test="nickname != null and nickname != ''"> and w.nickname like concat('%', #{nickname}, '%')</if>
             <if test="sexDesc != null and sexDesc != ''"> and w.sex_desc = #{sexDesc}</if>
             <if test="sex != null and sex != ''"> and w.sex = #{sex}</if>
             <if test="language != null and language != ''"> and w.language = #{language}</if>
             <if test="city != null and city != ''"> and w.city = #{city}</if>
             <if test="province != null and province != ''"> and w.province = #{province}</if>
             <if test="country != null and country != ''"> and w.country = #{country}</if>
             <if test="headImgUrl != null and headImgUrl != ''"> and w.head_img_url = #{headImgUrl}</if>
             <if test="subscribeTime != null and subscribeTime != ''"> and w.subscribe_time = #{subscribeTime}</if>
             <if test="unionId != null and unionId != ''"> and w.union_id = #{unionId}</if>
             <if test="remark != null and remark != ''"> and w.remark = #{remark}</if>
             <if test="createBy != null and createBy != ''"> and w.create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and w.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and w.update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and w.update_time = #{updateTime}</if>
             <if test="userName != null and userName.trim() != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
         </where>
         order by a.create_time desc
    </select>
    
    <select id="selectWxUserById" parameterType="Integer" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        where wx_user_id = #{wxUserId}
    </select>
        
    <insert id="insertWxUser" parameterType="WxUser">
        insert into zx_wx_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wxUserId != null and wxUserId != '' ">wx_user_id,</if>
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="subscribe != null and subscribe != '' ">subscribe,</if>
			<if test="openId != null and openId != '' ">open_id,</if>
			<if test="nickname != null and nickname != '' ">nickname,</if>
			<if test="sexDesc != null and sexDesc != '' ">sex_desc,</if>
			<if test="sex != null and sex != '' ">sex,</if>
			<if test="language != null and language != '' ">language,</if>
			<if test="city != null and city != '' ">city,</if>
			<if test="province != null and province != '' ">province,</if>
			<if test="country != null and country != '' ">country,</if>
			<if test="headImgUrl != null and headImgUrl != '' ">head_img_url,</if>
			<if test="subscribeTime != null and subscribeTime != '' ">subscribe_time,</if>
			<if test="unionId != null and unionId != '' ">union_id,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wxUserId != null and wxUserId != ''">#{wxUserId},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="subscribe != null and subscribe != ''">#{subscribe},</if>
			<if test="openId != null and openId != ''">#{openId},</if>
			<if test="nickname != null and nickname != ''">#{nickname},</if>
			<if test="sexDesc != null and sexDesc != ''">#{sexDesc},</if>
			<if test="sex != null and sex != ''">#{sex},</if>
			<if test="language != null and language != ''">#{language},</if>
			<if test="city != null and city != ''">#{city},</if>
			<if test="province != null and province != ''">#{province},</if>
			<if test="country != null and country != ''">#{country},</if>
			<if test="headImgUrl != null and headImgUrl != ''">#{headImgUrl},</if>
			<if test="subscribeTime != null and subscribeTime != ''">#{subscribeTime},</if>
			<if test="unionId != null and unionId != ''">#{unionId},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateWxUser" parameterType="WxUser">
        update zx_wx_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="subscribe != null  ">subscribe = #{subscribe},</if>
            <if test="openId != null  and openId != ''  ">open_id = #{openId},</if>
            <if test="nickname != null  and nickname != ''  ">nickname = #{nickname},</if>
            <if test="sexDesc != null  and sexDesc != ''  ">sex_desc = #{sexDesc},</if>
            <if test="sex != null  ">sex = #{sex},</if>
            <if test="language != null  and language != ''  ">language = #{language},</if>
            <if test="city != null  and city != ''  ">city = #{city},</if>
            <if test="province != null  and province != ''  ">province = #{province},</if>
            <if test="country != null  and country != ''  ">country = #{country},</if>
            <if test="headImgUrl != null  and headImgUrl != ''  ">head_img_url = #{headImgUrl},</if>
            <if test="subscribeTime != null  ">subscribe_time = #{subscribeTime},</if>
            <if test="unionId != null  and unionId != ''  ">union_id = #{unionId},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where wx_user_id = #{wxUserId}
    </update>

	<delete id="deleteWxUserById" parameterType="Integer">
        delete from zx_wx_user where wx_user_id = #{wxUserId}
    </delete>
	
    <delete id="deleteWxUserByIds" parameterType="String">
        delete from zx_wx_user where wx_user_id in 
        <foreach item="wxUserId" collection="array" open="(" separator="," close=")">
            #{wxUserId}
        </foreach>
    </delete>
    
    <select id="queryFansTotalBySex" resultType="int">
    	select count(*) from zx_wx_user where 1 = 1 
    	<if test="sex != null">and sex = #{sex}</if>
    	<if test="selDate != null and selDate.trim() != ''">and date_format(create_time,'%Y-%m-%d') = #{selDate}</if>
    </select>
    <select id="queryByUserId" resultType="Integer">
    	select wx_user_id from zx_wx_user where user_id = #{userId} limit 1
    </select>
    <update id="updateUserIdNull">
    	update zx_wx_user set user_id = null where wx_user_id = #{wcUserId}
    </update>
    <select id="selectUserIdByOpenId" resultType="Integer">
    	select user_id from zx_wx_user where open_id = #{openId}
    </select>
    <select id="selectObjectByOpenId" resultMap="WxUserResult">
    	<include refid="selectWxUserVo"/> where open_id = #{openId}
    </select>
	<select id="selectPermsByUserId" resultType="String">
		SELECT DISTINCT m.perms FROM sys_user_role ur 
		LEFT JOIN sys_role_menu rm ON ur.`role_id` = rm.`role_id` LEFT JOIN sys_menu m 
		ON rm.`menu_id` = m.`menu_id` WHERE m.`parent_id` != 0 and m.`is_phone` = '01' AND ur.`user_id` = #{userId}
	</select>
</mapper>