<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-join-edit" th:object="${join}">
            <input id="joinId" name="joinId" th:field="*{joinId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">加盟商名称：</label>
                <div class="col-sm-8">
                    <input id="joinerName" name="joinerName" th:field="*{joinerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">管理者姓名：</label>
                <div class="col-sm-8">
                    <input id="managerName" name="managerName" th:field="*{managerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">管理电话：</label>
                <div class="col-sm-8">
                    <input id="managerPhone" name="managerPhone" th:field="*{managerPhone}" class="form-control" type="tel" maxlength="11">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">投放设备数量：</label>
                <div class="col-sm-8">
                    <input id="deviceNum" name="deviceNum" th:field="*{deviceNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款账号：</label>
                <div class="col-sm-8">
                    <input id="bankAccount" name="bankAccount" th:field="*{bankAccount}" class="form-control" type="text" maxlength="18">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">收款人：</label>
                <div class="col-sm-8">
                    <input id="bankReceiver" name="bankReceiver" th:field="*{bankReceiver}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input id="bankName" name="bankName" th:field="*{bankName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
					<select class="form-control" name="status">
						<option th:selected="*{status=='1'}" th:value="1">有效</option>
						<option th:selected="*{status=='0'}" th:value="0">无效</option>
					</select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">推广收益：</label>
                <div class="col-sm-8">
                    <input id="promotionRate" name="promotionRate" th:field="*{promotionRate}" class="form-control" type="number" min="0" max="1">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">广告收益：</label>
                <div class="col-sm-8">
                    <input id="adRate" name="adRate" th:field="*{adRate}" class="form-control" type="number" min="0" max="1">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">扫码收益：</label>
                <div class="col-sm-8">
                    <input id="scanRate" name="scanRate" th:field="*{scanRate}" class="form-control" type="number" min="0" max="1">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "client/join"
		$("#form-join-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-join-edit').serialize());
			}
		});
	</script>
</body>
</html>
