<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 select-info">
			<form id="change-form">
				<div class="select-list">
					<ul>
						<li>
							加盟商名称： <input type="text" name="joinerName" id="joinerName"/>
						</li>
						<li>
							管理者电话： <input type="text" name="managerPhone" id="managerPhone"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="client:join:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="client:join:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('client:join:edit')}]];
        var removeFlag = [[${@permission.hasPermi('client:join:remove')}]];
        var prefix = ctx + "client/join"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "加盟商",
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'joinId', 
					title : '加盟ID' 
				},
				{
					field : 'joinerName', 
					title : '加盟商名称' 
				},
				{
					field : 'managerName', 
					title : '管理者' 
				},
				{
					field : 'managerPhone', 
					title : '管理者电话' 
				},
				{
					field : 'deviceNum', 
					title : '投放设备数量' 
				},
				{
					field : 'bankAccount', 
					title : '收款账号' 
				},
				{
					field : 'bankReceiver', 
					title : '收款人' 
				},
				{
					field : 'bankName', 
					title : '开户行' 
				},
				{field : 'status',title : '状态',formatter: function(value, row, index) {
					if(value == 0) {return "无效"}
					if(value == 1) {return "有效"}
					return "-";
	            } },
				{
					field : 'promotionRate', 
					title : '推广收益' 
				},
				{
					field : 'adRate', 
					title : '广告收益' 
				},
				{
					field : 'scanRate', 
					title : '扫码收益' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.joinId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.joinId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'joinId');
        });
    </script>
</body>
</html>