<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agent-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理商名称：</label>
				<div class="col-sm-8">
					<input id="agentName" name="agentName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理省份：</label>
				<div class="col-sm-8">
					<select class="form-control" name="province" id="province"></select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理城市：</label>
				<div class="col-sm-8">
					<select class="form-control" name="city" id="city"></select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理地区：</label>
				<div class="col-sm-8">
					<select class="form-control" name="county" id="county"></select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理等级：</label>
				<div class="col-sm-8">
					<input id="level" name="level" class="form-control" type="text" disabled="disabled">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备数量：</label>
				<div class="col-sm-8">
					<input id="deviceNum" name="deviceNum" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
                         <input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="status" name="status">
                         <label class="onoffswitch-label" for="status">
                             <span class="onoffswitch-inner"></span>
                             <span class="onoffswitch-switch"></span>
                         </label>
                     </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">管理者姓名：</label>
				<div class="col-sm-8">
					<input id="managerName" name="managerName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">管理电话：</label>
				<div class="col-sm-8">
					<input id="managerPhone" name="managerPhone" class="form-control" type="tel" maxlength="11">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收款人：</label>
				<div class="col-sm-8">
					<input id="bankReceiver" name="bankReceiver" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收款账号：</label>
				<div class="col-sm-8">
					<input id="bankAccount" name="bankAccount" class="form-control" type="text" maxlength="18">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开户行：</label>
				<div class="col-sm-8">
					<input id="bankName" name="bankName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">直推人：</label>
				<div class="col-sm-8">
					<select class="form-control" name="promotorId" id="promotorId">
                    	<option value=""> -- 请选择 -- </option>
	                    <option th:each="c:${userList}"  th:value="${c.userId}" th:text="${c.userName}"/>
                    </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">广告收益：</label>
				<div class="col-sm-8">
					<input id="adRate" name="adRate" class="form-control" type="number" min="0" max="1">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">扫码收益：</label>
				<div class="col-sm-8">
					<input id="scanRate" name="scanRate" class="form-control" type="number" min="0" max="1">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广收益：</label>
				<div class="col-sm-8">
					<input id="promotionRate" name="promotionRate" class="form-control" type="number" min="0" max="1">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "client/agent"
		$("#form-agent-add").validate({
			rules:{
				managerPhone:{
        			required:true,
        			isPhone:true
        		},
        		agentName:{
        			required:true
        		},
        		province:{
        			required:true
        		},
        		city:{
        			required:true
        		},
        		deviceNum:{
        			required:true
        		},
        		managerName:{
        			required:true,
        			isName : true
        		},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-agent-add').serialize());
			}
		});
		 $(function () {
		        //默认绑定省
		        proviceBind();
		        //绑定事件
		        $("#province").change( function () {
		            cityBind();
		        })
		        
		        $("#city").change(function () {
		        	countyBind();
		        	$("#level").val("一级代理");
		        })
		         $("#county").change(function (event) {
		        	if($("#county").val() == null || $("#county").val().trim() ==''){
		        		$("#level").val(1);$("#levelName").val("一级代理");
		        	}else{
			        	$("#level").val(2);$("#levelName").val("二级代理");
		        	}
		        })
		    });
		 function proviceBind() {
		        //清空下拉数据
		        var str = "<option value=''>---请选择---</option>";
		        $("#province").html(str);
		        $("#city").html(str);
		        $("#county").html(str);
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": "0"}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                })
		                //将数据添加到省份这个下拉框里面
		                $("#province").append(strData);
		            },
		            error: function () { alert("Error:获取省份信息失败"); }
		        });
		    }
		    function cityBind() {
		        var provice = $("#province option:selected").val();
		        var str = "<option value=''>---请选择---</option>";
		        $("#city").html(str);
		        $("#county").html(str);
		        //判断省份这个下拉框选中的值是否为空
		        if (provice == "") {
		            return;
		        }
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": provice}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                })
		                //将数据添加到市这个下拉框里面
		                $("#city").append(strData);
		            },
		            error: function () { alert("Error:获取城市信息失败"); }
		        });
		    }
		    function countyBind() {
		        var provice = $("#city option:selected").val();
		        var str = "<option value=''>---请选择---</option>";
		        //判断市这个下拉框选中的值是否为空
		        $("#county").html(str);
		        if (provice == "") {
		            return;
		        }
		        //将市的ID拿到数据库进行查询，查询出他的下级进行绑定
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": provice}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                })
		                //将数据添加到区县这个下拉框里面
		                $("#county").append(strData);
		            },
		            error: function () { alert("Error:获取地区信息失败"); }
		        });
		    }
	</script>
</body>
</html>
