<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    	<div class="col-sm-12 select-info">
			<form id="change-form">
				<div class="select-list">
					<ul>
						<li>
							代理商名称： <input type="text" name="agentName" id="agentName"/>
						</li>
						<li>
							管理者电话： <input type="text" name="managerPhone" id="managerPhone"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="client:agent:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="client:agent:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('client:agent:edit')}]];
        var removeFlag = [[${@permission.hasPermi('client:agent:remove')}]];
        var prefix = ctx + "client/agent"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "代理商",
                columns: [{
		            checkbox: true
		        },
				{field : 'agentId',title : '代理商ID'},
				{field : 'pagentId',title : '父代理商ID'},
				{field : 'agentName',title : '代理商名称'},
				{field : 'provinceName', title : '代理省份'},
				{field : 'cityName',title : '代理城市'},
				{field : 'countyName',title : '代理地区'},
				{field : 'level',title : '代理等级',formatter: function(value, row, index) {
					if(value == 1) {return "一级代理"}
					if(value == 2) {return "二级代理"}
					return "-";
	            }},
				{field : 'deviceNum',title : '设备数量' },
				{field : 'status',title : '状态',formatter: function(value, row, index) {
					if(value == 0) {return "无效"}
					if(value == 1) {return "有效"}
					return "-";
	            } },
				{field : 'managerName',title : '管理者姓名' },
				{field : 'managerPhone', title : '管理电话'},
				{field : 'bankReceiver',title : '收款人'},
				{field : 'bankAccount',title : '收款账号'},
				{field : 'bankName',title : '开户行'},
				{field : 'promotorId',title : '直推人' },
				{field : 'adRate',title : '广告收益' },
				{field : 'scanRate', title : '扫码收益' },
				{field : 'promotionRate',title : '推广收益'},
				{field : 'createBy', title : '创建人'},
				{field : 'createTime', title : '创建时间' },
				{field : 'updateBy', title : '更新人'},
				{field : 'updateTime',title : '更新时间'},
		        {title: '操作', align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.agentId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.agentId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'agentId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'pagentId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
        });
    </script>
</body>
</html>