<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agent-edit" th:object="${agent}">
            <input id="agentId" name="agentId" th:field="*{agentId}"  type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">代理商名称：</label>
                <div class="col-sm-8">
                    <input id="agentName" name="agentName" th:field="*{agentName}" class="form-control" type="text" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理省份：</label>
                <div class="col-sm-8">
                    <select
                      name="province"
                      id="province"
                      data-live-search="true"
                      class="form-control block-plugin__select-picker selectpicker"
                      data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option  th:selected="${agent.province eq c.id}" th:each="c:${provinceList}"  th:value="${c.id}" th:text="${c.pname}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理城市：</label>
                <div class="col-sm-8">
                    <select
                      name="city"
                      id="city"
                      data-live-search="true"
                      class="form-control block-plugin__select-picker selectpicker"
                      data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option  th:selected="${agent.city eq c.id}" th:each="c:${cityList}"  th:value="${c.id}" th:text="${c.pname}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理地区：</label>
                <div class="col-sm-8">
                    <select
                      name="county"
                      id="county"
                      data-live-search="true"
                      class="form-control block-plugin__select-picker selectpicker"
                      data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option  th:selected="${agent.county eq c.id}" th:each="c:${countyList}"  th:value="${c.id}" th:text="${c.pname}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理等级：</label>
                <div class="col-sm-8">
                	<input id="level" name="level" th:field="*{level}" type="hidden"/>
                    <input id="levelName" th:if="*{level == 1}" value="一级代理" class="form-control" type="text" disabled="disabled">
                    <input id="levelName" th:if="*{level == 2}" value="二级代理" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-sm-3 control-label">设备数量：</label>
                <div class="col-sm-8">
                    <input id="deviceNum" name="deviceNum" th:field="*{deviceNum}" class="form-control" type="number">
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
					<select
            name="status"
            data-live-search="true"
            class="form-control block-plugin__select-picker selectpicker"
            data-style="btn-white btn-sm">
						<option th:selected="*{status=='1'}" th:value="1">有效</option>
						<option th:selected="*{status=='0'}" th:value="0">无效</option>
					</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">管理者姓名：</label>
                <div class="col-sm-8">
                    <input id="managerName" name="managerName" th:field="*{managerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">管理电话：</label>
                <div class="col-sm-8">
                    <input id="managerPhone" name="managerPhone" th:field="*{managerPhone}" class="form-control" type="tel" maxlength="11" disabled="disabled">
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">代理费：</label>
				<div class="col-sm-8">
					<input id="agencyFee" name="agencyFee" th:field="*{agencyFee}" class="form-control" type="text">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理直推人：</label>
                <div class="col-sm-8">
                    <select
                      name="promotorId"
                      id="promotorId"
                      data-live-search="true"
                      class="form-control block-plugin__select-picker selectpicker"
                      data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option  th:selected="${agent.promotorId eq c.userId}" th:each="c:${userList}"  th:value="${c.userId}" th:text="${c.userName}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">购机推荐人：</label>
				<div class="col-sm-8">
					<select
						name="buyerId"
						id="buyerId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
                    	<option value=""> -- 请选择 -- </option>
	                    <option th:selected="${agent.buyerId eq c.userId}" th:each="c:${payUserList}"  th:value="${c.userId}" th:data-type="${c.userType}" th:text="${c.userName}"/>
                    </select>
				</div>
			</div>
			<input id="puserId" name="puserId" type="hidden">
			<input id="userType" name="userType" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">收款人：</label>
                <div class="col-sm-8">
                    <input id="bankReceiver" name="bankReceiver" th:field="*{bankReceiver}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">收款账号：</label>
                <div class="col-sm-8">
                    <input id="bankAccount" name="bankAccount" th:field="*{bankAccount}" class="form-control" type="text" maxlength="18">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input id="bankName" name="bankName" th:field="*{bankName}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "client/agent";
		$("#form-agent-edit").validate({
			rules:{
				managerPhone:{
        			required:true,
        			isPhone:true
        		},
        		agentName:{
        			required:true
        		},
        		province:{
        			required:true
        		},
        		city:{
        			required:true
        		},
//         		agencyFee:{
//         			required:true,
//         			isMoney:true
//         		},
        		deviceNum:{
        			required:true
        		},
        		managerName:{
        			required:true
        		},
			},
			submitHandler: function(form) {
				var buyerId = document.getElementById("buyerId");
				var options = buyerId.querySelectorAll("option");
				var puserId = document.getElementById("puserId");
				var userType = document.getElementById("userType");
				for(var i=0; i<options.length; i++){
					if(options[i].value == buyerId.value){
						puserId.value = buyerId.value || "";
						userType.value = options[i].dataset.type || "";
					}
				}
				
				$.operate.save(prefix + "/edit", $('#form-agent-edit').serialize());
			}
		});
		 $(function () {
			 //绑定事件
	        $("#province").change( function () {
	            cityBind();
	            $("#level").val("");
	        })
			 //默认绑定省
			 $("#city").change(function () {
	        	countyBind();
	        	$("#level").val(1);$("#levelName").val("一级代理");
	        })
	        $("#county").change(function (event) {
	        	if($("#county").val() == null || $("#county").val().trim() ==''){
	        		$("#level").val(1);$("#levelName").val("一级代理");
	        	}else{
		        	$("#level").val(2);$("#levelName").val("二级代理");
	        	}
	        })
		 });
		 function proviceBind() {
		        //清空下拉数据
		        var str = "<option value=''>---请选择---</option>";
		        $("#province").html(str);
		        $("#city").html(str);
		        $("#county").html(str);
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": "0"}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                })
		                //将数据添加到省份这个下拉框里面
		                $("#province").append(strData).selectpicker("refresh");
		            },
		            error: function () { alert("Error:获取省份信息失败"); }
		        });
		    }
		    function cityBind() {
		        var provice = $("#province option:selected").val();
		        var str = "<option value=''>---请选择---</option>";
		        $("#city").html(str).selectpicker("refresh");
		        $("#county").html(str).selectpicker("refresh");
		        //判断省份这个下拉框选中的值是否为空
		        if (provice == "") {
		            return;
		        }
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": provice}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                })
		                //将数据添加到市这个下拉框里面
		                $("#city").append(strData).selectpicker("refresh");
		            },
		            error: function () { alert("Error:获取城市信息失败"); }
		        });
		    }
		    function countyBind() {
		        var provice = $("#city option:selected").val();
		        var str = "<option value=''>---请选择---</option>";
		        //判断市这个下拉框选中的值是否为空
		        $("#county").html(str);
		        if (provice == "") {
		            return;
		        }
		        //将市的ID拿到数据库进行查询，查询出他的下级进行绑定
		        $.ajax({
		        	type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		            url: ctx + "system/area/getDropBoxAreaList",
		            data: JSON.stringify({ "parentId": provice}),
		            async: false,
		            success: function (data) {
		                //从服务器获取数据进行绑定
		                var strData = "";
		                $.each(data.rows, function (i, item) {
		                	strData += "<option value=" + item.id + ">" + item.pname + "</option>";
		                });
		                //将数据添加到区县这个下拉框里面
		                $("#county").append(strData).selectpicker("refresh");
		            },
		            error: function () { alert("Error:获取地区信息失败"); }
		        });
		    }
	</script>
</body>
</html>
