<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
			
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<input type="text" id="adScheduleId" style="display:none" th:value="${adScheduleId}"/>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('advertise:adMaterial:edit')}]];
        var removeFlag = [[${@permission.hasPermi('advertise:adMaterial:remove')}]];
        var prefix = ctx + "advertise/adMaterial"
        var scheduleId = $('#adScheduleId').val();
        
        $(function() {
            var options = {
                //url: prefix + "/list",
                url: prefix + "/list2/"+scheduleId,
                createUrl: prefix + "/add2",
                updateUrl: prefix + "/edit2/{id}",
                removeUrl: prefix + "/remove2",
                modalName: "广告投放素材",
                queryParams: queryParams,
                search: false,
                showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'adMaterialId', 
					title : 'ID' 
				},
				{
					field : 'adScheduleId', 
					title : '广告投放ID' 
				},
				{
					field : 'scheduleName', 
					title : '广告名称' 
				},
				{
					field : 'fileName', 
					title : '文件名称' 
				},
				{
					field : 'preview', 
					title : '素材URL' 
				},
				{
					field : 'batch', 
					title : '第几次上传' 
				},
				{
					field : 'sequence', 
					title : '上传顺序' 
				},
				{
					field : 'fileSize', 
					title : '文件大小' 
				},
				{
					field : 'remark', 
					title : '备注' 
				},
				{
					field : 'createBy', 
					title : '创建者' 
				},
				{
					field : 'createTime', 
					title : '创建时间' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="removeScheduleMaterial(\'' + row.adMaterialId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adMaterialId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adScheduleId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'preview');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
            
            
        });
        
        function queryParams(params) {
			return {
				scheduleId:  scheduleId
			};
		}
        
        function removeScheduleMaterial(material){
        	var adScheduleId = $('#adScheduleId').val();
        	$.modal.confirm("确定删除播放素材吗？", function() {
    	   		$.ajax({
    	    		cache : true,
    	    		type : "POST",
    	    		url : prefix + "/removeScheduleMaterial",
    	    		data : {
    	    			"adScheduleId": adScheduleId,
    	    			"adMaterialId": material
    	    		},
    	    		async : false,
    	    		error : function(request) {
    	    			$.modal.alertError("系统错误");
    	    		},
    	    		success : function(data) {
    	    			$.modal.msgSuccess(data.msg);
    	    			$.table.search();
    	    		}
    	    	});
       		});
        }
    </script>
</body>
</html>