<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
     <div class="row">
    	<div class="col-sm-12 select-info">
        <form id="material-form">
          <div class="select-list">
            <ul>
              <li>
                <span class="select-item-name">素材名称：</span>
                <input type="text" name="fileName" id="fileName"/>
              </li>
              
              <li>
                <span class="select-item-name">素材类型：</span>
               		<select
                    id="remark"
                    name="remark"
                    th:with="type=${@dict.getType('material_type')}"
                    data-live-search="true"
                    class="block-plugin__select-picker selectpicker"
                    data-style="btn-white btn-sm">
	                	<option value="">全部</option>
	                	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	              	</select>
              </li>
              
              <li>
                <span class="select-item-name">审核状态：</span>
                	<select
                    id="status"
                    name="status"
                    th:with="type=${@dict.getType('material_status')}"
                    data-live-search="true"
                    class="block-plugin__select-picker selectpicker"
                    data-style="btn-white btn-sm">
	                	<option value="">全部</option>
	                	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	              	</select>
              </li>
              <li>
              	<span class="select-item-name">提交人：</span>
              	<input type="text" name="createBy" id="createBy"/>
              </li>
              <li class="select-time">
                <label class="select-item-name">提交时间： </label>
                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                <span>-</span>
                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
              </li>
              <li class="select-btns">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
                </a>
                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              	</a>
                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.operate.add()" shiro:hasPermission="advertise:adMaterial:add"><i class="fa fa-search"></i>&nbsp;上传
                </a>

              </li>
            </ul>
          </div>
        </form>
      </div>
			
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<input type="text" id="adScheduleId" style="display:none" th:value="${adScheduleId}"/>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	   </div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('advertise:adMaterial:edit')}]];
        var removeFlag = [[${@permission.hasPermi('advertise:adMaterial:remove')}]];
        var prefix = ctx + "advertise/adMaterial"
        var scheduleId = $('#adScheduleId').val();
        var materialStatus = [[${@dict.getType('material_status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                //url: prefix + "/list2/"+scheduleId,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "广告投放素材",
                queryParams: queryParams,
                search: false,
                showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'adMaterialId', 
					title : 'ID' 
				},
				{
					field : 'scheduleName', 
					title : '首次投放广告' 
				},
				{
					field : 'fileName', 
					title : '素材名称' 
				},
				{
					field : 'preview', 
					title : '素材',
					formatter: function(value, row, index) {
						if(row.remark ==='图片'){
							return '<img alt="'+ value +'" style="width:100px;height:100px;" src="'+value+'">';
						}else if(row.remark ==='文本'){
							return row.materialText;
						}else if(row.remark === '视频'){
							return '视频';
						}
						
					}
				},
				{
					field : 'fileSize', 
					title : '文件大小' 
				},
				{
					field : 'remark', 
					title : '文件类型' 
				},
				{
					field : 'status', 
					title : '文件状态',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(materialStatus, value);
		            }
				},
				{
					field : 'createBy', 
					title : '提交人' 
				},
				{
					field : 'createTime', 
					title : '提交时间' 
				},
				{
					field : 'auditBy', 
					title : '审核人' 
				},
				{
					field : 'auditTime', 
					title : '审核时间' 
				},
				{
					field : 'auditOpinion', 
					title : '审核意见' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.status === '1'){
			            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="materialAudit(\'' + row.adMaterialId + '\')"><i class="fa fa-edit"></i>审核</a> ');
		            	}
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.adMaterialId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adMaterialId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adScheduleId');
            
        });
        
        function queryParams(params) {
			return {
				scheduleId:  scheduleId
			};
		}
       
        
        function materialAudit(adMaterialId){
        	var adMaterial = getMaterialInfo(adMaterialId);
       		if (adMaterial.status === '2') {
       	        $.modal.alertWarning('素材已经审核,不用重复审核!');
       	        return;
          	}
       		debugger;
       		var url = ctx + "advertise/adMaterial/audit/" + adMaterialId;
        	$.modal.open("广告素材审核", url);
       		return;
        }
        
      //获取广告数据信息--公共方法
        function getMaterialInfo(materialId) {
        	var adMaterial;
        	$.ajax({
    	        url: ctx + "advertise/adMaterial/selectInfo/" + materialId,
    	        type: "post",
    	        async:false,
    	        success: function (data) {
    	        	adMaterial = data;
    	        },
    	        error: function (data) {
    	        	console.log("selectInfo:",data);
    	            alert("查询广告素材失败");
    	        }
    		})
    		return adMaterial;
        }
        
        function materialShare(){
        	$.modal.confirm("确定播放该条" + adSchedule.scheduleName + "广告吗？", function() {
    	   		$.ajax({
    	    		cache : true,
    	    		type : "POST",
    	    		url : prefix + "/republish",
    	    		data : {
    	    			"adScheduleId": adScheduleId
    	    		},
    	    		async : false,
    	    		error : function(request) {
    	    			$.modal.alertError("系统错误");
    	    		},
    	    		success : function(data) {
    	    			$.modal.msgSuccess(data.msg);
    	    			$.table.search();
    	    		}
    	    	});
       		});
        }
    </script>
</body>
</html>