<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="settle:adMaterial:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="settle:adMaterial:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<input type="text" id="adScheduleId" style="display:none" th:value="${adScheduleId}"/>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('settle:adMaterial:edit')}]];
        var removeFlag = [[${@permission.hasPermi('settle:adMaterial:remove')}]];
        var prefix = ctx + "advertise/adMaterial"
        var scheduleId = $('#adScheduleId').val();
        
        $(function() {
            var options = {
                //url: prefix + "/list",
                url: prefix + "/list2/"+scheduleId,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "广告投放素材",
                queryParams: queryParams,
                search: false,
                showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'adMaterialId', 
					title : 'ID' 
				},
				{
					field : 'adScheduleId', 
					title : '广告投放ID' 
				},
				{
					field : 'scheduleName', 
					title : '广告名称' 
				},
				{
					field : 'fileName', 
					title : '文件名称' 
				},
				{
					field : 'preview', 
					title : '素材URL' 
				},
				{
					field : 'batch', 
					title : '第几次上传' 
				},
				{
					field : 'sequence', 
					title : '上传顺序' 
				},
				{
					field : 'fileSize', 
					title : '文件大小' 
				},
				{
					field : 'remark', 
					title : '备注' 
				},
				{
					field : 'createBy', 
					title : '创建者' 
				},
				{
					field : 'createTime', 
					title : '创建时间' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.adMaterialId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.adMaterialId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adMaterialId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'adScheduleId');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'preview');
            $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
            
            
        });
        
        function queryParams(params) {
			return {
				scheduleId:  scheduleId
			};
		}
    </script>
</body>
</html>