<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.business.device.mapper.DeviceMapper">
    
    <resultMap type="Device" id="DeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="deviceSn"    column="device_sn"    />
        <result property="deviceType"    column="device_type"    />
        <result property="terminalId"    column="terminal_id"    />
        <result property="placeId"    column="place_id"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="price"    column="price"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="removeTime"    column="remove_time"    />
        <result property="totalLen"    column="total_len"    />
        <result property="remainLen"    column="remain_len"    />
        <result property="lastHeartTime"    column="last_heart_time"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="lastScanTime"    column="last_scan_time"    />
        <result property="note"    column="note"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectDeviceVo">
        select device_id, device_code, device_sn, device_type,
         terminal_id,
         (select distinct t.terminal_code from zx_terminal t where t.terminal_id =d.`terminal_id` ) terminalCode,
         place_id, owner_id,
         (select distinct u.user_name from sys_user u where u.user_id =d.`owner_id` ) ownerName,
         (select distinct p.name from zx_place p where p.place_id =d.`place_id` ) placeName,
         price, lon, lat, release_time, remove_time, total_len, remain_len, last_heart_time, 
         last_login_time, last_scan_time, note, 
         status,
         (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='device_status' AND sdd.dict_value=d.`status` ) statusName,
         del_flag, create_by, create_time, 
         update_by, update_time from zx_device d
    </sql>
	
    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>  
             <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
             <if test="deviceCode != null and deviceCode != ''"> 
             	and device_code like concat('%', #{deviceCode}, '%')
             </if>
             <if test="deviceSn != null and deviceSn != ''"> and device_sn = #{deviceSn}</if>
             <if test="deviceType != null and deviceType != ''"> and device_type = #{deviceType}</if>
             <if test="terminalId != null and terminalId != ''"> and terminal_id = #{terminalId}</if>
             <if test="placeId != null and placeId != ''"> and place_id = #{placeId}</if>
             <if test="ownerId != null and ownerId != ''"> and owner_id = #{ownerId}</if>
             <if test="price != null and price != ''"> and price = #{price}</if>
             <if test="lon != null and lon != ''"> and lon = #{lon}</if>
             <if test="lat != null and lat != ''"> and lat = #{lat}</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				 AND date_format(d.release_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				 AND date_format(d.release_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
             <if test="removeTime != null "> and remove_time = #{removeTime}</if>
             <if test="totalLen != null and totalLen != ''"> and total_len = #{totalLen}</if>
             <if test="remainLen != null and remainLen != ''"> and remain_len = #{remainLen}</if>
             <if test="lastHeartTime != null "> and last_heart_time = #{lastHeartTime}</if>
             <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
             <if test="lastScanTime != null "> and last_scan_time = #{lastScanTime}</if>
             <if test="note != null and note != ''"> and note = #{note}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null"> and update_time = #{updateTime}</if>
             <!-- 按照省市县下拉框搜索 -->
             <if test="province != null and province != ''"> and d.place_id in (select zp.place_id from zx_place zp where zp.province = #{province})</if>
             <if test="city != null and city != ''"> and d.place_id in (select zp.place_id from zx_place zp where zp.city = #{city})</if>
             <if test="county != null and county != ''"> and d.place_id in (select zp.place_id from zx_place zp where zp.county = #{county})</if>
         </where>
    </select>
    
    <select id="selectDeviceById" parameterType="Integer" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where device_id = #{deviceId}
    </select>
        
    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="deviceId">
        insert into zx_device
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="deviceId != null and deviceId != '' ">device_id,</if>
			<if test="deviceCode != null and deviceCode != '' ">device_code,</if>
			<if test="deviceSn != null and deviceSn != '' ">device_sn,</if>
			<if test="deviceType != null and deviceType != '' ">device_type,</if>
			<if test="terminalId != null and terminalId != '' ">terminal_id,</if>
			<if test="placeId != null and placeId != '' ">place_id,</if>
			<if test="ownerId != null and ownerId != '' ">owner_id,</if>
			<if test="price != null and price != '' ">price,</if>
			<if test="lon != null and lon != '' ">lon,</if>
			<if test="lat != null and lat != '' ">lat,</if>
			<if test="releaseTime != null  ">release_time,</if>
			<if test="removeTime != null  ">remove_time,</if>
			<if test="totalLen != null and totalLen != '' ">total_len,</if>
			<if test="remainLen != null and remainLen != '' ">remain_len,</if>
			<if test="lastHeartTime != null  ">last_heart_time,</if>
			<if test="lastLoginTime != null  ">last_login_time,</if>
			<if test="lastScanTime != null  ">last_scan_time,</if>
			<if test="note != null and note != '' ">note,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="deviceId != null and deviceId != ''">#{deviceId},</if>
			<if test="deviceCode != null and deviceCode != ''">#{deviceCode},</if>
			<if test="deviceSn != null and deviceSn != ''">#{deviceSn},</if>
			<if test="deviceType != null and deviceType != ''">#{deviceType},</if>
			<if test="terminalId != null and terminalId != ''">#{terminalId},</if>
			<if test="placeId != null and placeId != ''">#{placeId},</if>
			<if test="ownerId != null and ownerId != ''">#{ownerId},</if>
			<if test="price != null and price != ''">#{price},</if>
			<if test="lon != null and lon != ''">#{lon},</if>
			<if test="lat != null and lat != ''">#{lat},</if>
			<if test="releaseTime != null ">#{releaseTime},</if>
			<if test="removeTime != null ">#{removeTime},</if>
			<if test="totalLen != null and totalLen != ''">#{totalLen},</if>
			<if test="remainLen != null and remainLen != ''">#{remainLen},</if>
			<if test="lastHeartTime != null ">#{lastHeartTime},</if>
			<if test="lastLoginTime != null ">#{lastLoginTime},</if>
			<if test="lastScanTime != null ">#{lastScanTime},</if>
			<if test="note != null and note != ''">#{note},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateDevice" parameterType="Device">
        update zx_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''  ">device_code = #{deviceCode},</if>
            <if test="deviceSn != null  and deviceSn != ''  ">device_sn = #{deviceSn},</if>
            <if test="deviceType != null  and deviceType != ''  ">device_type = #{deviceType},</if>
            <if test="terminalId != null  ">terminal_id = #{terminalId},</if>
            <if test="placeId != null  and placeId != ''  ">place_id = #{placeId},</if>
            <if test="ownerId != null  and ownerId != ''  ">owner_id = #{ownerId},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="lon != null  and lon != ''  ">lon = #{lon},</if>
            <if test="lat != null  and lat != ''  ">lat = #{lat},</if>
            <if test="releaseTime != null  ">release_time = #{releaseTime},</if>
            <if test="removeTime != null  ">remove_time = #{removeTime},</if>
            <if test="totalLen != null  ">total_len = #{totalLen},</if>
            <if test="remainLen != null  ">remain_len = #{remainLen},</if>
            <if test="lastHeartTime != null  ">last_heart_time = #{lastHeartTime},</if>
            <if test="lastLoginTime != null  ">last_login_time = #{lastLoginTime},</if>
            <if test="lastScanTime != null  ">last_scan_time = #{lastScanTime},</if>
            <if test="note != null  and note != ''  ">note = #{note},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

	<delete id="deleteDeviceById" parameterType="Integer">
        delete from zx_device where device_id = #{deviceId}
    </delete>
	
    <delete id="deleteDeviceByIds" parameterType="String">
        delete from zx_device where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
    
    <select id="selectDropBoxList" resultMap="DeviceResult">
         select device_id, device_code, device_sn from zx_device
    </select>
    
    <select id="getMaxDeviceCode" parameterType="String" resultType="String">
		SELECT device_code FROM zx_device WHERE place_id=#{placeId} ORDER BY device_id DESC LIMIT 1
	</select>
	
	<select id="getDeviceByPlaceId" parameterType="String" resultMap="DeviceResult">
         select * from zx_device WHERE place_id=#{placeId}
    </select>
	
	<select id="getDeviceByareaId" resultMap="DeviceResult">
         SELECT * FROM `zx_device` WHERE place_id IN(SELECT place_id FROM `zx_place` WHERE 1=1 
         <if test="province != null and province.trim() != ''">
			AND province=#{province} 
		 </if>
		 <if test="city != null and city.trim() != ''">
			AND city=#{city}
		 </if>
		 <if test="county != null and county.trim() != ''">
			AND county=#{county}
		 </if>
         )
    </select>
    
    <update id="updateAdUrlByTid" parameterType="String">
        update zx_device set ad_url=#{adUrl} where device_id in 
        <foreach item="deviceId" collection="terminalIds" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </update>
    
    <select id="checkDeviceSnUnique" parameterType="String" resultType="int">
		SELECT COUNT(1) FROM `zx_device` WHERE BINARY device_sn=#{deviceSn}
	</select>
	
</mapper>