<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.business.server.mapper.ServerMapper">
    
    <resultMap type="Server" id="ServerResult">
        <result property="serverId"    column="server_id"    />
        <result property="accessIp"    column="access_ip"    />
        <result property="accessPort"    column="access_port"    />
        <result property="localIp"    column="local_ip"    />
        <result property="localPort"    column="local_port"    />
        <result property="httpIp"    column="http_ip"    />
        <result property="httpPort"    column="http_port"    />
        <result property="connection"    column="connection"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectServerVo">
        select server_id, access_ip, access_port, local_ip, local_port,http_ip, http_port, connection, status, create_time, update_time from zx_server
    </sql>
	
    <select id="selectServerList" parameterType="Server" resultMap="ServerResult">
        <include refid="selectServerVo"/>
        <where>  
            <if test="serverId != null and serverId != ''"> and server_id = #{serverId}</if>
             <if test="accessIp != null and accessIp != ''"> and access_ip = #{accessIp}</if>
             <if test="accessPort != null and accessPort != ''"> and access_port = #{accessPort}</if>
             <if test="localIp != null and localIp != ''"> and local_ip = #{localIp}</if>
             <if test="localPort != null and localPort != ''"> and local_port = #{localPort}</if>
             <if test="httpIp != null and httpIp != ''"> and http_ip = #{httpIp}</if>
             <if test="httpPort != null and httpPort != ''"> and http_port = #{httpPort}</if>
             <if test="connection != null and connection != ''"> and connection = #{connection}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectServerById" parameterType="Integer" resultMap="ServerResult">
        <include refid="selectServerVo"/>
        where server_id = #{serverId}
    </select>
        
    <insert id="insertServer" parameterType="Server">
        insert into zx_server
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="serverId != null and serverId != '' ">server_id,</if>
			<if test="accessIp != null and accessIp != '' ">access_ip,</if>
			<if test="accessPort != null and accessPort != '' ">access_port,</if>
			<if test="localIp != null and localIp != '' ">local_ip,</if>
			<if test="localPort != null and localPort != '' ">local_port,</if>
			<if test="httpIp != null and httpIp != '' ">http_ip,</if>
			<if test="httpPort != null and httpPort != '' ">http_port,</if>
			<if test="connection != null and connection != '' ">connection,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="serverId != null and serverId != ''">#{serverId},</if>
			<if test="accessIp != null and accessIp != ''">#{accessIp},</if>
			<if test="accessPort != null and accessPort != ''">#{accessPort},</if>
			<if test="localIp != null and localIp != ''">#{localIp},</if>
			<if test="localPort != null and localPort != ''">#{localPort},</if>
			<if test="httpIp != null and httpIp != ''">#{httpIp},</if>
			<if test="httpPort != null and httpPort != ''">#{httpPort},</if>
			<if test="connection != null and connection != ''">#{connection},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateServer" parameterType="Server">
        update zx_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="accessIp != null  and accessIp != ''  ">access_ip = #{accessIp},</if>
            <if test="accessPort != null  and accessPort != ''  ">access_port = #{accessPort},</if>
            <if test="localIp != null  and localIp != ''  ">local_ip = #{localIp},</if>
            <if test="localPort != null  and localPort != ''  ">local_port = #{localPort},</if>
            <if test="httpIp != null  and httpIp != ''  ">http_ip = #{httpIp},</if>
            <if test="httpPort != null  and httpPort != ''  ">http_port = #{httpPort},</if>
            <if test="connection != null  ">connection = #{connection},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where server_id = #{serverId}
    </update>

	<delete id="deleteServerById" parameterType="Integer">
        delete from zx_server where server_id = #{serverId}
    </delete>
	
    <delete id="deleteServerByIds" parameterType="String">
        delete from zx_server where server_id in 
        <foreach item="serverId" collection="array" open="(" separator="," close=")">
            #{serverId}
        </foreach>
    </delete>
    
</mapper>