<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.terminal.mapper.TerminalStatusMapper">
    
    <resultMap type="TerminalStatus" id="TerminalStatusResult">
        <result property="statusId"    column="status_id"    />
        <result property="terminalId"    column="terminal_id"    />
        <result property="version"    column="version"    />
        <result property="rssi"    column="rssi"    />
        <result property="iccid"    column="iccid"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="accSysIp"    column="acc_sys_ip"    />
        <result property="accSysPort"    column="acc_sys_port"    />
        <result property="createTime"    column="create_time"    />
        <result property="address"    column="address"    />
        <result property="build"    column="build"    />
        <result property="terminalCode"    column="terminal_code"    />
        <result property="deviceCode"    column="device_code"    />
    </resultMap>
	
	<sql id="selectTerminalStatusVo">
        select address,build,status_id, terminal_id, version, rssi, iccid, lon, lat, acc_sys_ip, acc_sys_port, create_time from zx_terminal_status
    </sql>
    
	<sql id="selectTerminalStatusVo2">
        select zt.terminal_code,zd.device_code,zts.address,zts.build,zts.status_id, zts.terminal_id, zts.version, zts.rssi, zts.iccid, zts.lon, zts.lat, zts.acc_sys_ip, zts.acc_sys_port, zts.create_time from zx_terminal_status zts left join zx_terminal zt on zts.terminal_id=zt.terminal_id left join zx_device zd on zt.device_id=zd.device_id 
    </sql>
	
    <select id="selectTerminalStatusList" parameterType="TerminalStatus" resultMap="TerminalStatusResult">
        <include refid="selectTerminalStatusVo2"/>
        <where>  
            <if test="statusId != null and statusId != ''"> and zts.status_id = #{statusId}</if>
             <if test="terminalId != null and terminalId != ''"> and zts.terminal_id = #{terminalId}</if>
             <if test="version != null and version != ''"> and zts.version = #{version}</if>
             <if test="rssi != null and rssi != ''"> and zts.rssi = #{rssi}</if>
             <if test="iccid != null and iccid != ''"> and zts.iccid = #{iccid}</if>
             <if test="lon != null and lon != ''"> and zts.lon = #{lon}</if>
             <if test="lat != null and lat != ''"> and zts.lat = #{lat}</if>
             <if test="accSysIp != null and accSysIp != ''"> and zts.acc_sys_ip = #{accSysIp}</if>
             <if test="accSysPort != null and accSysPort != ''"> and zts.acc_sys_port = #{accSysPort}</if>
             <if test="createTime != null "> and zts.create_time = #{createTime}</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(zts.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(zts.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
    </select>
    
    <select id="selectTerminalStatusById" parameterType="Integer" resultMap="TerminalStatusResult">
        <include refid="selectTerminalStatusVo"/>
        where status_id = #{statusId}
    </select>
        
    <insert id="insertTerminalStatus" parameterType="TerminalStatus">
        insert into zx_terminal_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="statusId != null and statusId != '' ">status_id,</if>
			<if test="terminalId != null and terminalId != '' ">terminal_id,</if>
			<if test="version != null and version != '' ">version,</if>
			<if test="rssi != null and rssi != '' ">rssi,</if>
			<if test="iccid != null and iccid != '' ">iccid,</if>
			<if test="lon != null and lon != '' ">lon,</if>
			<if test="lat != null and lat != '' ">lat,</if>
			<if test="accSysIp != null and accSysIp != '' ">acc_sys_ip,</if>
			<if test="accSysPort != null and accSysPort != '' ">acc_sys_port,</if>
			<if test="createTime != null">create_time,</if>
			<if test="address != null and address != '' ">address,</if>
			<if test="build != null and build != '' ">build,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="statusId != null and statusId != ''">#{statusId},</if>
			<if test="terminalId != null and terminalId != ''">#{terminalId},</if>
			<if test="version != null and version != ''">#{version},</if>
			<if test="rssi != null and rssi != ''">#{rssi},</if>
			<if test="iccid != null and iccid != ''">#{iccid},</if>
			<if test="lon != null and lon != ''">#{lon},</if>
			<if test="lat != null and lat != ''">#{lat},</if>
			<if test="accSysIp != null and accSysIp != ''">#{accSysIp},</if>
			<if test="accSysPort != null and accSysPort != ''">#{accSysPort},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="address != null and address != '' ">#{address},</if>
			<if test="build != null and build != '' ">#{build},</if>
         </trim>
    </insert>
	 
    <update id="updateTerminalStatus" parameterType="TerminalStatus">
        update zx_terminal_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="terminalId != null  ">terminal_id = #{terminalId},</if>
            <if test="version != null  and version != ''  ">version = #{version},</if>
            <if test="rssi != null  and rssi != ''  ">rssi = #{rssi},</if>
            <if test="iccid != null  and iccid != ''  ">iccid = #{iccid},</if>
            <if test="lon != null  and lon != ''  ">lon = #{lon},</if>
            <if test="lat != null  and lat != ''  ">lat = #{lat},</if>
            <if test="accSysIp != null  and accSysIp != ''  ">acc_sys_ip = #{accSysIp},</if>
            <if test="accSysPort != null  and accSysPort != ''  ">acc_sys_port = #{accSysPort},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="address != null and address != '' ">address=#{address},</if>
			<if test="build != null and build != '' ">build=#{build},</if>
        </trim>
        where status_id = #{statusId}
    </update>

	<delete id="deleteTerminalStatusById" parameterType="Integer">
        delete from zx_terminal_status where status_id = #{statusId}
    </delete>
	
    <delete id="deleteTerminalStatusByIds" parameterType="String">
        delete from zx_terminal_status where status_id in 
        <foreach item="statusId" collection="array" open="(" separator="," close=")">
            #{statusId}
        </foreach>
    </delete>
    
</mapper>