<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.business.tissueRecord.mapper.TissueRecordMapper">
    
    <resultMap type="TissueRecord" id="TissueRecordResult">
        <result property="tissueRecordId"    column="tissue_record_id"    />
        <result property="qrScheduleId"    column="qr_schedule_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="terminalId"    column="terminal_id"    />
        <result property="placeId"    column="place_id"    />
        <result property="wxUserId"    column="wx_user_id"    />
        <result property="openId"    column="open_id"    />
        <result property="status"    column="status"    />
        <result property="nickName"    column="nick_name"    />
        <result property="headimgurl"    column="headimgurl"    />
        <result property="tissueChannel"    column="tissue_channel"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="scheduleId"    column="schedule_id"    />
        <result property="price"    column="price"    />
        <result property="tissueLen"    column="tissue_len"    />
    </resultMap>
	
	<sql id="selectTissueRecordVo">
        select tissue_record_id, qr_schedule_id,
        device_id, 
        (select distinct d.device_sn from zx_device d where d.device_id =tr.`device_id` ) deviceSn,
        terminal_id,
        (select distinct t.terminal_code from zx_terminal t where t.terminal_id =tr.`terminal_id` ) terminalCode,
        place_id, 
        (select distinct p.name from zx_place p where p.place_id =tr.`place_id` ) placeName,
        wx_user_id,open_id,status, nick_name, headimgurl, tissue_channel,
        create_by, create_time,schedule_id, price, tissue_len,
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='tissue_len' AND sdd.dict_value=tr.`tissue_len` ) tissueLenName
        from zx_tissue_record tr
    </sql>
	
    <select id="selectTissueRecordList" parameterType="TissueRecord" resultMap="TissueRecordResult">
        <include refid="selectTissueRecordVo"/>
        <where>  
            <if test="userId == null">  ${filterSql} </if>
            <if test="1==1"> and status = 1</if>
            <if test="userId != null and userId != ''">
            	and tr.device_id in (SELECT zd.device_id FROM zx_device zd WHERE zd.device_id = tr.device_id and zd.owner_id=#{userId})
            </if>
            <if test="tissueRecordId != null and tissueRecordId != ''"> and tissue_record_id = #{tissueRecordId}</if>
             <if test="qrScheduleId != null and qrScheduleId != ''"> and qr_schedule_id = #{qrScheduleId}</if>
             <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
             <if test="deviceSn != null and deviceSn != ''"> and device_id in 
             (SELECT DISTINCT zd.device_id FROM zx_device zd WHERE zd.device_sn LIKE concat('%', #{deviceSn}, '%'))</if>
             <if test="terminalId != null and terminalId != ''"> and terminal_id = #{terminalId}</if>
             <if test="placeId != null and placeId != ''"> and place_id = #{placeId}</if>
             <if test="wxUserId != null and wxUserId != ''"> and wx_user_id = #{wxUserId}</if>
             <if test="openId != null and openId != ''"> and open_id = #{openId}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="nickName != null and nickName != ''"> and nick_name = #{nickName}</if>
             <if test="headimgurl != null and headimgurl != ''"> and headimgurl = #{headimgurl}</if>
             <if test="tissueChannel != null and tissueChannel != ''"> and tissue_channel = #{tissueChannel}</if>
             <if test="createBy != null and createBy != ''"> and create_by LIKE concat('%', #{createBy}, '%')</if>
             <if test="params.beginTime != null and params.beginTime != '' "><!-- 开始时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != '' "><!-- 结束时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
			 <!-- 按照代理商搜索  通过代理城市的场所进行关联-->
             <if test="agentId != null and agentId != ''"> and exists
             	<!-- ( SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.operator_id = (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_place p 
             			WHERE su.user_type='03' AND su.puser_id=#{agentId} AND su.user_id=p.operator_id)) -->
             	<!--  ( SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.city in (SELECT DISTINCT za.city FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0'))-->
             			
             	( SELECT 1 FROM zx_place zp 
             		WHERE zp.place_id=tr.place_id and (zp.city in (SELECT DISTINCT za.city FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=1)) or (zp.county in (SELECT DISTINCT za.county FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=2)))
             </if>
           	 <!-- 按照服务商搜索  通过场所维修员关联-->
             <if test="repairId != null and repairId != ''">  and exists 
             	<!-- (SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.repair_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_place p 
             			WHERE su.user_type='04' AND su.puser_id=#{repairId}  AND su.user_id=p.repair_id)) -->
             	(SELECT 1 FROM zx_place zp WHERE tr.place_id=zp.place_id and zp.service_point=#{repairId})
             </if>
             <!-- 按照机主搜索 通过设备机主关联-->
             <if test="joinId != null and joinId != ''">  and exists 
             	(SELECT 1 FROM zx_device zd 
             		WHERE tr.device_id=zd.device_id and zd.owner_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_device d 
             			WHERE su.user_type='02' AND su.puser_id=#{joinId}  AND su.user_id=d.owner_id))
         	 </if>
         	 <if test="scheduleId != null and scheduleId != ''"> and schedule_id = #{scheduleId}</if>
             <if test="price != null and price != ''"> and price = #{price}</if>
             <if test="tissueLen != null and tissueLen != ''"> and tissue_len = #{tissueLen}</if>
         </where>
         ORDER BY tissue_record_id DESC 
    </select>
    
    <select id="selectTissueRecordById" parameterType="Integer" resultMap="TissueRecordResult">
        <include refid="selectTissueRecordVo"/>
        where tissue_record_id = #{tissueRecordId}
    </select>
    
    <select id="selectTissueDataList" resultType="java.util.HashMap">
        select zd.device_code as deviceCode,if(zas.schedule_name is not null,zas.schedule_name,'无扫码广告') as adName,
        DATE_FORMAT(ztr.create_time,'%Y年%m月%d日') as tissueDate,
        ztr.nick_name as nickName,
        count(1) as tissueCnt 
        from zx_tissue_record ztr left join zx_ad_schedule zas on ztr.qr_schedule_id=zas.ad_schedule_id left join zx_device zd on ztr.device_id=zd.device_id  
        where 
        	1=1 
        <if test="filterSql!=null and filterSql.trim()!='' ">
            and ${filterSql}
        </if>
        and zd.device_code is not null 
        and  tissue_channel='1' 
        <if test="deviceSn != null and deviceSn != ''"> 
            and zd.device_code like CONCAT('%',#{deviceSn},'%') 
        </if>
        <if test="params.beginTime != null and params.beginTime != '' "><!-- 开始时间检索 -->
			AND date_format(ztr.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != '' "><!-- 结束时间检索 -->
			AND date_format(ztr.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
        and ztr.status='1' 
        group by zd.owner_id,ztr.device_id,DATE_FORMAT(ztr.create_time,'%Y/%m/%d'),ztr.nick_name  
        order by DATE_FORMAT(ztr.create_time,'%Y/%m/%d'),zd.owner_id,zd.device_code,ztr.qr_schedule_id
    </select>
    
     <select id="queryExportData" resultType="java.util.HashMap">
        select zd.device_code as deviceCode,if(zas.schedule_name is not null,zas.schedule_name,'无扫码广告') as adName,
        DATE_FORMAT(ztr.create_time,'%Y年%m月%d日') as tissueDate,
        ztr.nick_name as nickName,
        count(1) as tissueCnt 
        from zx_tissue_record ztr left join zx_ad_schedule zas on ztr.qr_schedule_id=zas.ad_schedule_id left join zx_device zd on ztr.device_id=zd.device_id  
        where 
        	1=1 
        <if test="filterSql!=null and filterSql.trim()!='' ">
            and ${filterSql}
        </if>
        and zd.device_code is not null 
        and  tissue_channel='1' 
        <if test="deviceSn != null and deviceSn != ''"> 
            and zd.device_code like CONCAT('%',#{deviceSn},'%') 
        </if>
		<if test="beginTime != null and beginTime != '' "><!-- 开始时间检索 -->
			AND date_format(ztr.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
		</if>
		<if test="endTime != null and endTime != '' "><!-- 结束时间检索 -->
			AND date_format(ztr.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
		</if>
        and ztr.status='1' 
        group by zd.owner_id,ztr.device_id,DATE_FORMAT(ztr.create_time,'%Y/%m/%d'),ztr.nick_name  
        order by DATE_FORMAT(ztr.create_time,'%Y/%m/%d'),zd.device_code,ztr.qr_schedule_id
    </select>
        
    <insert id="insertTissueRecord" parameterType="TissueRecord">
        insert into zx_tissue_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tissueRecordId != null and tissueRecordId != '' ">tissue_record_id,</if>
			<if test="qrScheduleId != null and qrScheduleId != '' ">qr_schedule_id,</if>
			<if test="deviceId != null and deviceId != '' ">device_id,</if>
			<if test="terminalId != null and terminalId != '' ">terminal_id,</if>
			<if test="placeId != null and placeId != '' ">place_id,</if>
			<if test="wxUserId != null and wxUserId != '' ">wx_user_id,</if>
			<if test="openId != null and openId != '' ">open_id,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="nickName != null and nickName != '' ">nick_name,</if>
			<if test="headimgurl != null and headimgurl != '' ">headimgurl,</if>
			<if test="tissueChannel != null and tissueChannel != '' ">tissue_channel,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="scheduleId != null and scheduleId != '' ">schedule_id,</if>
			<if test="price != null and price != '' ">price,</if>
			<if test="tissueLen != null and tissueLen != '' ">tissue_len,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tissueRecordId != null and tissueRecordId != ''">#{tissueRecordId},</if>
			<if test="qrScheduleId != null and qrScheduleId != ''">#{qrScheduleId},</if>
			<if test="deviceId != null and deviceId != ''">#{deviceId},</if>
			<if test="terminalId != null and terminalId != ''">#{terminalId},</if>
			<if test="placeId != null and placeId != ''">#{placeId},</if>
			<if test="wxUserId != null and wxUserId != ''">#{wxUserId},</if>
			<if test="openId != null and openId != ''">#{openId},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="nickName != null and nickName != ''">#{nickName},</if>
			<if test="headimgurl != null and headimgurl != ''">#{headimgurl},</if>
			<if test="tissueChannel != null and tissueChannel != ''">#{tissueChannel},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="scheduleId != null and scheduleId != ''">#{scheduleId},</if>
			<if test="price != null and price != ''">#{price},</if>
			<if test="tissueLen != null and tissueLen != ''">#{tissueLen},</if>
         </trim>
    </insert>
	 
    <update id="updateTissueRecord" parameterType="TissueRecord">
        update zx_tissue_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="qrScheduleId != null  ">qr_schedule_id = #{qrScheduleId},</if>
            <if test="deviceId != null  ">device_id = #{deviceId},</if>
            <if test="terminalId != null  ">terminal_id = #{terminalId},</if>
            <if test="placeId != null  ">place_id = #{placeId},</if>
             <if test="wxUserId != null  ">wx_user_id = #{wxUserId},</if>
            <if test="openId != null  and openId != ''  ">open_id = #{openId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="nickName != null  and nickName != ''  ">nick_name = #{nickName},</if>
            <if test="headimgurl != null  and headimgurl != ''  ">headimgurl = #{headimgurl},</if>
            <if test="tissueChannel != null  and tissueChannel != ''  ">tissue_channel = #{tissueChannel},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="scheduleId != null  ">schedule_id = #{scheduleId},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="tissueLen != null  ">tissue_len = #{tissueLen},</if>
        </trim>
        where tissue_record_id = #{tissueRecordId}
    </update>

	<delete id="deleteTissueRecordById" parameterType="Integer">
        delete from zx_tissue_record where tissue_record_id = #{tissueRecordId}
    </delete>
	
    <delete id="deleteTissueRecordByIds" parameterType="String">
        delete from zx_tissue_record where tissue_record_id in 
        <foreach item="tissueRecordId" collection="array" open="(" separator="," close=")">
            #{tissueRecordId}
        </foreach>
    </delete>
    <select id="selectTotal" resultType="int">
       select count(*) from zx_tissue_record tr where status = '1'
       <if test="selDate != null and selDate.trim() != ''">and date_format(tr.create_time,'%Y-%m-%d') = #{selDate}</if>
       <if test="userId == null"> ${filterSql} </if>
       <if test="userId != null and userId != ''">
            and tr.device_id in (SELECT zd.device_id FROM zx_device zd WHERE zd.device_id = tr.device_id and zd.owner_id=#{userId})
       </if>
       <if test="tissueChannel != null">  
       	and tr.tissue_channel = #{tissueChannel}
       </if>
    </select>
    
    <select id="queryExport" resultType="java.util.HashMap">
          <include refid="selectTissueRecordVo"/>
        <where>  
        	<if test="userId == null">  ${filterSql} </if>
            <if test="userId != null and userId != ''">
            	and #{userId} = (SELECT DISTINCT zd.owner_id FROM zx_device zd WHERE zd.device_id = tr.device_id)
            </if>
            <if test="tissueRecordId != null and tissueRecordId != ''"> and tissue_record_id = #{tissueRecordId}</if>
            <if test="qrScheduleId != null and qrScheduleId != ''"> and qr_schedule_id = #{qrScheduleId}</if>
             <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
             <if test="deviceSn != null and deviceSn != ''"> and device_id in 
             (SELECT DISTINCT zd.device_id FROM zx_device zd WHERE zd.device_sn LIKE concat('%', #{deviceSn}, '%'))</if>
             <if test="terminalId != null and terminalId != ''"> and terminal_id = #{terminalId}</if>
             <if test="placeId != null and placeId != ''"> and place_id = #{placeId}</if>
             <if test="wxUserId != null and wxUserId != ''"> and wx_user_id = #{wxUserId}</if>
             <if test="openId != null and openId != ''"> and open_id = #{openId}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="nickName != null and nickName != ''"> and nick_name = #{nickName}</if>
             <if test="headimgurl != null and headimgurl != ''"> and headimgurl = #{headimgurl}</if>
             <if test="tissueChannel != null and tissueChannel != ''"> and tissue_channel = #{tissueChannel}</if>
             <if test="createBy != null and createBy != ''"> and create_by LIKE concat('%', #{createBy}, '%')</if>
             <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			 </if>
			 <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			 </if>
			 <!-- 按照代理商搜索  通过场所经办人关联-->
             <if test="agentId != null and agentId != ''"> and exists
             	<!--  
             	( SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.city in (SELECT DISTINCT za.city FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0'))-->
             	( SELECT 1 FROM zx_place zp 
             		WHERE zp.place_id=tr.place_id and (zp.city in (SELECT DISTINCT za.city FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=1)) or (zp.county in (SELECT DISTINCT za.county FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=2)))
             </if>
           	 <!-- 按照服务商搜索  通过场所维修员关联-->
             <if test="repairId != null and repairId != ''">  and exists
             	<!-- (SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.repair_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_place p 
             			WHERE su.user_type='04' AND su.puser_id=#{repairId}  AND su.user_id=p.repair_id)) -->
             	(SELECT 1 FROM zx_place zp WHERE tr.place_id=zp.place_id and zp.service_point=#{repairId})
             </if>
             <!-- 按照机主搜索 通过设备机主关联-->
             <if test="joinId != null and joinId != ''">  and exists
             	(SELECT 1 FROM zx_device zd 
             		WHERE zd.device_id=tr.device_id and zd.owner_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_device d 
             			WHERE su.user_type='02' AND su.puser_id=#{joinId}  AND su.user_id=d.owner_id))
         	 </if>
         	 <if test="scheduleId != null and scheduleId != ''"> and schedule_id = #{scheduleId}</if>
             <if test="price != null and price != ''"> and price = #{price}</if>
             <if test="tissueLen != null and tissueLen != ''"> and tissue_len = #{tissueLen}</if>
         </where>  
         ORDER BY tissue_record_id DESC      
    </select>
    
   
    
    <!--  根据条件查询出纸数量及出纸金额统计 -->
	<select id="tissueCount" resultType="java.util.HashMap">
		SELECT COUNT(tissue_len) paperSum ,SUM(price) moneySum ,sum(if(tissue_channel='1',1,0)) validPaperSum,SUM(if(tissue_channel='0',1,0)) invalidPaperSum,SUM(if(tissue_channel='1',price,0)) validMoneySum FROM `zx_tissue_record` tr
        <where>  
           <if test="userId == null">  ${filterSql} </if>
        	<if test="1==1"> and status = 1</if>
        	<if test="userId != null and userId != ''"> and #{userId} = 
             (SELECT DISTINCT zd.owner_id FROM zx_device zd WHERE zd.device_id = tr.device_id)</if>
            <if test="tissueRecordId != null and tissueRecordId != ''"> and tissue_record_id = #{tissueRecordId}</if>
            <if test="qrScheduleId != null and qrScheduleId != ''"> and qr_schedule_id = #{qrScheduleId}</if>
             <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
             <if test="deviceSn != null and deviceSn != ''"> and device_id in 
             (SELECT DISTINCT zd.device_id FROM zx_device zd WHERE zd.device_sn LIKE concat('%', #{deviceSn}, '%'))</if>
             <if test="terminalId != null and terminalId != ''"> and terminal_id = #{terminalId}</if>
             <if test="placeId != null and placeId != ''"> and place_id = #{placeId}</if>
             <if test="wxUserId != null and wxUserId != ''"> and wx_user_id = #{wxUserId}</if>
             <if test="openId != null and openId != ''"> and open_id = #{openId}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="nickName != null and nickName != ''"> and nick_name = #{nickName}</if>
             <if test="headimgurl != null and headimgurl != ''"> and headimgurl = #{headimgurl}</if>
             <if test="tissueChannel != null and tissueChannel != ''"> and tissue_channel = #{tissueChannel}</if>
             <if test="createBy != null and createBy != ''"> and create_by LIKE concat('%', #{createBy}, '%')</if>
             <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			 </if>
			 <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				AND date_format(tr.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			 </if>
			 <!-- 按照代理商搜索  通过代理城市的场所进行关联 )-->
             <if test="agentId != null and agentId != ''"> and tr.place_id in 
             	( SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE (zp.city in (SELECT DISTINCT za.city FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=1)) or (zp.county in (SELECT DISTINCT za.county FROM `zx_agent` za
             			WHERE za.agent_id=#{agentId} AND za.del_flag='0' and za.level=2)))
             </if>
           	 <!-- 按照服务商搜索  通过场所维修员关联 (查找出纸场所,用户表用户类型为04,且用户表的主体ID与查询条件所选择的的服务商ID相等的场所)-->
             <if test="repairId != null and repairId != ''">  and tr.place_id in 
             	<!-- (SELECT DISTINCT zp.place_id FROM zx_place zp 
             		WHERE zp.repair_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_place p 
             			WHERE su.user_type='04' AND su.puser_id=#{repairId}  AND su.user_id=p.repair_id)) -->
             	(SELECT DISTINCT zp.place_id FROM zx_place zp WHERE zp.service_point=#{repairId})
             </if>
             <!-- 按照机主搜索 通过设备机主关联 (查找出纸设备,用户表用户类型为02,且用户表的主体ID与查询条件所选择的的机主ID相等的设备)-->
             <if test="joinId != null and joinId != ''">  and tr.device_id in 
             	(SELECT DISTINCT zd.device_id FROM zx_device zd 
             		WHERE zd.owner_id IN (SELECT DISTINCT su.user_id FROM `sys_user` su,zx_device d 
             			WHERE su.user_type='02' AND su.puser_id=#{joinId}  AND su.user_id=d.owner_id))
         	 </if>
         	 <if test="scheduleId != null and scheduleId != ''"> and schedule_id = #{scheduleId}</if>
             <if test="price != null and price != ''"> and price = #{price}</if>
             <if test="tissueLen != null and tissueLen != ''"> and tissue_len = #{tissueLen}</if>
         </where>  
    </select>
	
</mapper>