<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.business.version.mapper.VersionMapper">
    
    <resultMap type="Version" id="VersionResult">
        <result property="sysVerId"    column="sys_ver_id"    />
        <result property="systemCode"    column="system_code"    />
        <result property="sysVerCode"    column="sys_ver_code"    />
        <result property="sysVerSubject"    column="sys_ver_subject"    />
        <result property="sysVerInfo"    column="sys_ver_info"    />
        <result property="subject"    column="subject"    />
        <result property="downloadPath"    column="download_path"    />
        <result property="md5Check"    column="md5_check"    />
        <result property="oldVersionCode"    column="old_version_code"    />
        <result property="fileName"    column="file_name"    />
        <result property="filesize"    column="filesize"    />
        <result property="effDate"    column="eff_date"    />
        <result property="expDate"    column="exp_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectVersionVo">
        select sys_ver_id, system_code, sys_ver_code, sys_ver_subject, sys_ver_info, subject, download_path, md5_check, old_version_code, file_name, filesize, eff_date, exp_date, create_by, create_date, remark, del_flag from sys_version
    </sql>
	
    <select id="selectVersionList" parameterType="Version" resultMap="VersionResult">
        <include refid="selectVersionVo"/>
        <where>  
            <if test="sysVerId != null and sysVerId != ''"> and sys_ver_id = #{sysVerId}</if>
             <if test="systemCode != null and systemCode != ''"> and system_code = #{systemCode}</if>
             <if test="sysVerCode != null and sysVerCode != ''"> 
				sys_ver_code like concat('%', #{sysVerCode}, '%')</if>
             <if test="sysVerSubject != null and sysVerSubject != ''"> and sys_ver_subject = #{sysVerSubject}</if>
             <if test="sysVerInfo != null and sysVerInfo != ''"> and sys_ver_info = #{sysVerInfo}</if>
             <if test="subject != null and subject != ''"> and subject = #{subject}</if>
             <if test="downloadPath != null and downloadPath != ''"> and download_path = #{downloadPath}</if>
             <if test="md5Check != null and md5Check != ''"> and md5_check = #{md5Check}</if>
             <if test="oldVersionCode != null and oldVersionCode != ''"> and old_version_code = #{oldVersionCode}</if>
             <if test="fileName != null and fileName != ''"> and file_name = #{fileName}</if>
             <if test="filesize != null and filesize != ''"> and filesize = #{filesize}</if>
             <if test="effDate != null "> and eff_date = #{effDate}</if>
             <if test="expDate != null "> and exp_date = #{expDate}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				 AND date_format(create_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				 AND date_format(create_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
         </where>
         ORDER BY sys_ver_id DESC 
    </select>
    
    <select id="selectVersionById" parameterType="Integer" resultMap="VersionResult">
        <include refid="selectVersionVo"/>
        where sys_ver_id = #{sysVerId}
    </select>
        
    <insert id="insertVersion" parameterType="Version">
        insert into sys_version
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysVerId != null and sysVerId != '' ">sys_ver_id,</if>
			<if test="systemCode != null and systemCode != '' ">system_code,</if>
			<if test="sysVerCode != null and sysVerCode != '' ">sys_ver_code,</if>
			<if test="sysVerSubject != null and sysVerSubject != '' ">sys_ver_subject,</if>
			<if test="sysVerInfo != null and sysVerInfo != '' ">sys_ver_info,</if>
			<if test="subject != null and subject != '' ">subject,</if>
			<if test="downloadPath != null and downloadPath != '' ">download_path,</if>
			<if test="md5Check != null and md5Check != '' ">md5_check,</if>
			<if test="oldVersionCode != null and oldVersionCode != '' ">old_version_code,</if>
			<if test="fileName != null and fileName != '' ">file_name,</if>
			<if test="filesize != null and filesize != '' ">filesize,</if>
			<if test="effDate != null  ">eff_date,</if>
			<if test="expDate != null  ">exp_date,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysVerId != null and sysVerId != ''">#{sysVerId},</if>
			<if test="systemCode != null and systemCode != ''">#{systemCode},</if>
			<if test="sysVerCode != null and sysVerCode != ''">#{sysVerCode},</if>
			<if test="sysVerSubject != null and sysVerSubject != ''">#{sysVerSubject},</if>
			<if test="sysVerInfo != null and sysVerInfo != ''">#{sysVerInfo},</if>
			<if test="subject != null and subject != ''">#{subject},</if>
			<if test="downloadPath != null and downloadPath != ''">#{downloadPath},</if>
			<if test="md5Check != null and md5Check != ''">#{md5Check},</if>
			<if test="oldVersionCode != null and oldVersionCode != ''">#{oldVersionCode},</if>
			<if test="fileName != null and fileName != ''">#{fileName},</if>
			<if test="filesize != null and filesize != ''">#{filesize},</if>
			<if test="effDate != null ">#{effDate},</if>
			<if test="expDate != null ">#{expDate},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createDate != null ">#{createDate},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateVersion" parameterType="Version">
        update sys_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemCode != null  and systemCode != ''  ">system_code = #{systemCode},</if>
            <if test="sysVerCode != null  and sysVerCode != ''  ">sys_ver_code = #{sysVerCode},</if>
            <if test="sysVerSubject != null  and sysVerSubject != ''  ">sys_ver_subject = #{sysVerSubject},</if>
            <if test="sysVerInfo != null  and sysVerInfo != ''  ">sys_ver_info = #{sysVerInfo},</if>
            <if test="subject != null  and subject != ''  ">subject = #{subject},</if>
            <if test="downloadPath != null  and downloadPath != ''  ">download_path = #{downloadPath},</if>
            <if test="md5Check != null  and md5Check != ''  ">md5_check = #{md5Check},</if>
            <if test="oldVersionCode != null  and oldVersionCode != ''  ">old_version_code = #{oldVersionCode},</if>
            <if test="fileName != null  and fileName != ''  ">file_name = #{fileName},</if>
            <if test="filesize != null  ">filesize = #{filesize},</if>
            <if test="effDate != null  ">eff_date = #{effDate},</if>
            <if test="expDate != null  ">exp_date = #{expDate},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where sys_ver_id = #{sysVerId}
    </update>

	<delete id="deleteVersionById" parameterType="Integer">
        delete from sys_version where sys_ver_id = #{sysVerId}
    </delete>
	
    <delete id="deleteVersionByIds" parameterType="String">
        delete from sys_version where sys_ver_id in 
        <foreach item="sysVerId" collection="array" open="(" separator="," close=")">
            #{sysVerId}
        </foreach>
    </delete>
    
    <!-- 校验版本编号唯一 -->
     <select id="checkCodeUnique" parameterType="String" resultType="int">
		SELECT COUNT(1) FROM `sys_version` WHERE BINARY sys_ver_code=#{sysVerCode}
	</select>
    
</mapper>