<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adBillfile.mapper.AdBillfileMapper">
    
    <resultMap type="AdBillfile" id="AdBillfileResult">
        <result property="billfileId"    column="billfile_id"    />
        <result property="playbillId"    column="playbill_id"    />
        <result property="eid"    column="eid"    />
        <result property="resid"    column="resid"    />
        <result property="resname"    column="resname"    />
        <result property="filename"    column="filename"    />
        <result property="type"    column="type"    />
        <result property="ressize"    column="ressize"    />
        <result property="fullfileurl"    column="fullfileurl"    />
        <result property="filetype"    column="filetype"    />
        <result property="isweather"    column="isweather"    />
        <result property="playbilltype"    column="playbilltype"    />
        <result property="hasforex"    column="hasforex"    />
        <result property="hasopenfund"    column="hasopenfund"    />
        <result property="hasdeposit"    column="hasdeposit"    />
        <result property="hasloan"    column="hasloan"    />
        <result property="hasszczst"    column="hasszczst"    />
        <result property="hasszzzst"    column="hasszzzst"    />
        <result property="hasforeign"    column="hasforeign"    />
        <result property="terminalid"    column="terminalid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectAdBillfileVo">
        select billfile_id, playbill_id, eid, resid, resname, filename, type, ressize, fullfileurl, filetype, isweather, playbilltype, hasforex, hasopenfund, hasdeposit, hasloan, hasszczst, hasszzzst, hasforeign, terminalid, create_by, create_time, update_by, update_time from zx_ad_billfile
    </sql>
	
    <select id="selectAdBillfileList" parameterType="AdBillfile" resultMap="AdBillfileResult">
        <include refid="selectAdBillfileVo"/>
        <where>  
            <if test="billfileId != null and billfileId != ''"> and billfile_id = #{billfileId}</if>
             <if test="playbillId != null and playbillId != ''"> and playbill_id = #{playbillId}</if>
             <if test="eid != null and eid != ''"> and eid = #{eid}</if>
             <if test="resid != null and resid != ''"> and resid = #{resid}</if>
             <if test="resname != null and resname != ''"> and resname = #{resname}</if>
             <if test="filename != null and filename != ''"> and filename = #{filename}</if>
             <if test="type != null and type != ''"> and type = #{type}</if>
             <if test="ressize != null and ressize != ''"> and ressize = #{ressize}</if>
             <if test="fullfileurl != null and fullfileurl != ''"> and fullfileurl = #{fullfileurl}</if>
             <if test="filetype != null and filetype != ''"> and filetype = #{filetype}</if>
             <if test="isweather != null and isweather != ''"> and isweather = #{isweather}</if>
             <if test="playbilltype != null and playbilltype != ''"> and playbilltype = #{playbilltype}</if>
             <if test="hasforex != null and hasforex != ''"> and hasforex = #{hasforex}</if>
             <if test="hasopenfund != null and hasopenfund != ''"> and hasopenfund = #{hasopenfund}</if>
             <if test="hasdeposit != null and hasdeposit != ''"> and hasdeposit = #{hasdeposit}</if>
             <if test="hasloan != null and hasloan != ''"> and hasloan = #{hasloan}</if>
             <if test="hasszczst != null and hasszczst != ''"> and hasszczst = #{hasszczst}</if>
             <if test="hasszzzst != null and hasszzzst != ''"> and hasszzzst = #{hasszzzst}</if>
             <if test="hasforeign != null and hasforeign != ''"> and hasforeign = #{hasforeign}</if>
             <if test="terminalid != null and terminalid != ''"> and terminalid = #{terminalid}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAdBillfileById" parameterType="String" resultMap="AdBillfileResult">
        <include refid="selectAdBillfileVo"/>
        where billfile_id = #{billfileId}
    </select>
        
    <insert id="insertAdBillfile" parameterType="AdBillfile">
        insert into zx_ad_billfile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="billfileId != null and billfileId != '' ">billfile_id,</if>
			<if test="playbillId != null and playbillId != '' ">playbill_id,</if>
			<if test="eid != null and eid != '' ">eid,</if>
			<if test="resid != null and resid != '' ">resid,</if>
			<if test="resname != null and resname != '' ">resname,</if>
			<if test="filename != null and filename != '' ">filename,</if>
			<if test="type != null and type != '' ">type,</if>
			<if test="ressize != null and ressize != '' ">ressize,</if>
			<if test="fullfileurl != null and fullfileurl != '' ">fullfileurl,</if>
			<if test="filetype != null and filetype != '' ">filetype,</if>
			<if test="isweather != null and isweather != '' ">isweather,</if>
			<if test="playbilltype != null and playbilltype != '' ">playbilltype,</if>
			<if test="hasforex != null and hasforex != '' ">hasforex,</if>
			<if test="hasopenfund != null and hasopenfund != '' ">hasopenfund,</if>
			<if test="hasdeposit != null and hasdeposit != '' ">hasdeposit,</if>
			<if test="hasloan != null and hasloan != '' ">hasloan,</if>
			<if test="hasszczst != null and hasszczst != '' ">hasszczst,</if>
			<if test="hasszzzst != null and hasszzzst != '' ">hasszzzst,</if>
			<if test="hasforeign != null and hasforeign != '' ">hasforeign,</if>
			<if test="terminalid != null and terminalid != '' ">terminalid,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="billfileId != null and billfileId != ''">#{billfileId},</if>
			<if test="playbillId != null and playbillId != ''">#{playbillId},</if>
			<if test="eid != null and eid != ''">#{eid},</if>
			<if test="resid != null and resid != ''">#{resid},</if>
			<if test="resname != null and resname != ''">#{resname},</if>
			<if test="filename != null and filename != ''">#{filename},</if>
			<if test="type != null and type != ''">#{type},</if>
			<if test="ressize != null and ressize != ''">#{ressize},</if>
			<if test="fullfileurl != null and fullfileurl != ''">#{fullfileurl},</if>
			<if test="filetype != null and filetype != ''">#{filetype},</if>
			<if test="isweather != null and isweather != ''">#{isweather},</if>
			<if test="playbilltype != null and playbilltype != ''">#{playbilltype},</if>
			<if test="hasforex != null and hasforex != ''">#{hasforex},</if>
			<if test="hasopenfund != null and hasopenfund != ''">#{hasopenfund},</if>
			<if test="hasdeposit != null and hasdeposit != ''">#{hasdeposit},</if>
			<if test="hasloan != null and hasloan != ''">#{hasloan},</if>
			<if test="hasszczst != null and hasszczst != ''">#{hasszczst},</if>
			<if test="hasszzzst != null and hasszzzst != ''">#{hasszzzst},</if>
			<if test="hasforeign != null and hasforeign != ''">#{hasforeign},</if>
			<if test="terminalid != null and terminalid != ''">#{terminalid},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdBillfile" parameterType="AdBillfile">
        update zx_ad_billfile
        <trim prefix="SET" suffixOverrides=",">
            <if test="playbillId != null  and playbillId != ''  ">playbill_id = #{playbillId},</if>
            <if test="eid != null  and eid != ''  ">eid = #{eid},</if>
            <if test="resid != null  and resid != ''  ">resid = #{resid},</if>
            <if test="resname != null  and resname != ''  ">resname = #{resname},</if>
            <if test="filename != null  and filename != ''  ">filename = #{filename},</if>
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="ressize != null  and ressize != ''  ">ressize = #{ressize},</if>
            <if test="fullfileurl != null  and fullfileurl != ''  ">fullfileurl = #{fullfileurl},</if>
            <if test="filetype != null  and filetype != ''  ">filetype = #{filetype},</if>
            <if test="isweather != null  and isweather != ''  ">isweather = #{isweather},</if>
            <if test="playbilltype != null  and playbilltype != ''  ">playbilltype = #{playbilltype},</if>
            <if test="hasforex != null  and hasforex != ''  ">hasforex = #{hasforex},</if>
            <if test="hasopenfund != null  and hasopenfund != ''  ">hasopenfund = #{hasopenfund},</if>
            <if test="hasdeposit != null  and hasdeposit != ''  ">hasdeposit = #{hasdeposit},</if>
            <if test="hasloan != null  and hasloan != ''  ">hasloan = #{hasloan},</if>
            <if test="hasszczst != null  and hasszczst != ''  ">hasszczst = #{hasszczst},</if>
            <if test="hasszzzst != null  and hasszzzst != ''  ">hasszzzst = #{hasszzzst},</if>
            <if test="hasforeign != null  and hasforeign != ''  ">hasforeign = #{hasforeign},</if>
            <if test="terminalid != null  and terminalid != ''  ">terminalid = #{terminalid},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where billfile_id = #{billfileId}
    </update>

	<delete id="deleteAdBillfileById" parameterType="String">
        delete from zx_ad_billfile where billfile_id = #{billfileId}
    </delete>
	
    <delete id="deleteAdBillfileByIds" parameterType="String">
        delete from zx_ad_billfile where billfile_id in 
        <foreach item="billfileId" collection="array" open="(" separator="," close=")">
            #{billfileId}
        </foreach>
    </delete>
    
</mapper>