<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adMaterial.mapper.AdMaterialMapper">
    
    <resultMap type="AdMaterial" id="AdMaterialResult">
        <result property="adMaterialId"    column="ad_material_id"    />
        <result property="adScheduleId"    column="ad_schedule_id"    />
        <result property="preview"    column="preview"    />
        <result property="tEid"    column="teid"    />
        <result property="treSid"    column="tresid"    />
        <result property="batch"    column="batch"    />
        <result property="sequence"    column="sequence"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="fileName"    column="filename"    />
        <result property="fileSize"    column="filesize"    />
        <result property="status"    column="status"    />
        <result property="materialText"    column="material_text"    />
        <result property="extMaterialId"    column="ext_material_id"    />
        <result property="extMaterialType"    column="ext_material_type"    />
         <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
         <result property="auditOpinion"    column="audit_opinion"    />
        <result property="share"    column="share"    />
    </resultMap>
	
	<sql id="selectAdMaterialVo">
        <!-- select ad_material_id, ad_schedule_id, preview,teid,tresid, batch, sequence, 
        remark, create_by, create_time,filename,filesize from zx_ad_material -->
        SELECT ext_material_id,ext_material_type,ad_material_id, ad_schedule_id,(SELECT DISTINCT schedule_name FROM zx_ad_schedule za 
        WHERE zam.ad_schedule_id=za.ad_schedule_id ) scheduleName, preview,teid,tresid, batch, sequence, 
        remark, create_by, create_time,filename,filesize,ext_material_id,status,share,audit_by,audit_time,audit_opinion,material_text FROM zx_ad_material zam
    </sql>
    <sql id="selectAdMaterialVo2">
        <!-- select ad_material_id, ad_schedule_id, preview,teid,tresid, batch, sequence, 
        remark, create_by, create_time,filename,filesize from zx_ad_material -->
        SELECT zam.ext_material_id,zam.ext_material_type,zam.ad_material_id,zas.ad_schedule_id,zas.schedule_name, zam.preview, zam.batch, zam.sequence, 
        zam.remark, zam.create_by, zam.create_time,zam.filename,zam.filesize,zam.ext_material_id,zam.status,zam.share,zam.audit_by,zam.audit_time,zam.audit_opinion,zam.material_text FROM zx_ad_material zam left join zx_ad_schedule_material zasm on zam.ad_material_id=zasm.ad_material_id left join zx_ad_schedule zas on zasm.ad_schedule_id=zas.ad_schedule_id  
    </sql>
	
    <select id="selectAdMaterialList" parameterType="AdMaterial" resultMap="AdMaterialResult">
        <include refid="selectAdMaterialVo"/>
        <where>  
            <if test="adMaterialId != null and adMaterialId != ''"> and ad_material_id = #{adMaterialId}</if>
             <if test="adScheduleId != null and adScheduleId != ''"> and ad_schedule_id = #{adScheduleId}</if>
             <if test="preview != null and preview != ''"> and preview = #{preview}</if>
             <if test="tEid != null and tEid != ''"> and teid = #{tEid}</if>
             <if test="treSid != null and treSid != ''"> and tresid = #{treSid}</if>
             <if test="batch != null and batch != ''"> and batch = #{batch}</if>
              <if test="status != null and status.trim() != ''"> and status = #{status}</if>
             <if test="sequence != null and sequence != ''"> and sequence = #{sequence}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="fileName != null and fileName.trim()!= '' "> and filename like CONCAT('%',#{fileName},'%') </if>
             <if test="params.beginTime != null  and params.beginTime!='' "> and create_time &gt;= #{params.beginTime}</if>
             <if test="params.endTime != null and params.endTime!='' "> and create_time &lt;= #{params.endTime}</if>
         </where>
         order by create_time desc 
    </select>
    
    <select id="selectAdMaterialList2" parameterType="AdMaterial" resultMap="AdMaterialResult">
        <include refid="selectAdMaterialVo2"/>
        <where>  
            <if test="adMaterialId != null and adMaterialId != ''"> and zam.ad_material_id = #{adMaterialId} </if>
             <if test="adScheduleId != null and adScheduleId != ''"> and zasm.ad_schedule_id=#{adScheduleId} </if>
             <if test="remark != null and remark != ''"> and zam.remark = #{remark}</if>
             <if test="adScheduleId == null"> and zam.ad_schedule_id is null</if>
             <if test="createBy != null and createBy != ''"> and zam.create_by = #{createBy}</if>
             <if test="status != null and status.trim() != ''"> and zam.status = #{status}</if>
             <if test="createTime != null "> and zam.create_time = #{createTime}</if>
             <if test="fileName != null and fileName.trim()!= '' "> and zam.filename like CONCAT('%',#{fileName},'%') </if>
             <if test="extMaterialId != null and extMaterialId != ''"> and zam.ext_material_id = #{extMaterialId}</if>
             <if test="params.beginTime != null and params.beginTime!=''"> and zam.create_time &gt;= #{params.beginTime}</if>
             <if test="params.endTime != null and params.endTime!=''"> and zam.create_time &lt;= #{params.endTime}</if>
         </where>
         order by create_time desc 
    </select>
    
    <select id="selectAdMaterialById" parameterType="Integer" resultMap="AdMaterialResult">
        <include refid="selectAdMaterialVo"/>
        where ad_material_id = #{adMaterialId}
    </select>
        
    <insert id="insertAdMaterial" parameterType="AdMaterial" useGeneratedKeys="true" keyProperty="adMaterialId">
        insert into zx_ad_material
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != '' ">ad_schedule_id,</if>
			<if test="preview != null and preview != '' ">preview,</if>
			<if test="tEid != null and tEid != '' ">teid,</if>
			<if test="treSid != null and treSid != '' ">tresid,</if>
			<if test="batch != null and batch != '' ">batch,</if>
			<if test="sequence != null and sequence != '' ">sequence,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="fileName != null  ">filename,</if>
			<if test="fileSize != null  ">filesize,</if>
			<if test="extMaterialId != null  and extMaterialId.trim()!='' ">ext_material_id,</if>
			<if test="extMaterialType != null  and extMaterialType.trim()!='' ">ext_material_type,</if>
			<if test="materialText != null  and materialText.trim()!='' ">material_text,</if>
			<if test="auditBy != null  and auditBy.trim()!='' ">audit_by,</if>
			<if test="auditTime != null ">audit_time,</if>
			<if test="auditOpinion != null  and auditOpinion.trim()!='' ">audit_opinion,</if>
			<if test="status != null  and status.trim()!='' ">status,</if>
			<if test="share != null  and share.trim()!='' ">share,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != ''">#{adScheduleId},</if>
			<if test="preview != null and preview != ''">#{preview},</if>
			<if test="tEid != null and tEid != ''">#{tEid},</if>
			<if test="treSid != null and treSid != ''">#{treSid},</if>
			<if test="batch != null and batch != ''">#{batch},</if>
			<if test="sequence != null and sequence != ''">#{sequence},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="fileName != null ">#{fileName},</if>
			<if test="fileSize != null ">#{fileSize},</if>
			<if test="extMaterialId != null  and extMaterialId.trim()!='' ">#{extMaterialId},</if>
			<if test="extMaterialType != null  and extMaterialType.trim()!='' ">#{extMaterialType},</if>
			<if test="materialText != null  and materialText.trim()!='' ">#{materialText},</if>
			<if test="auditBy != null  and auditBy.trim()!='' ">#{auditBy},</if>
			<if test="auditTime != null ">#{auditTime},</if>
			<if test="auditOpinion != null  and auditOpinion.trim()!='' ">#{auditOpinion},</if>
			<if test="status != null  and status.trim()!='' ">#{status},</if>
			<if test="share != null  and share.trim()!='' ">#{share},</if>
         </trim>
    </insert>
	 
    <update id="updateAdMaterial" parameterType="AdMaterial">
        update zx_ad_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="adScheduleId != null  ">ad_schedule_id = #{adScheduleId},</if>
            <if test="preview != null  and preview != ''  ">preview = #{preview},</if>
            <if test="tEid != null  and tEid != ''  ">teid = #{tEid},</if>
            <if test="treSid != null  and treSid != ''  ">tresid = #{treSid},</if>
            <if test="batch != null  ">batch = #{batch},</if>
            <if test="sequence != null  ">sequence = #{sequence},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="fileName != null  ">filename = #{fileName},</if>
            <if test="fileSize != null  ">filesize = #{fileSize},</if>
            <if test="extMaterialId != null  and extMaterialId.trim()!='' ">ext_material_id=#{extMaterialId},</if>
            <if test="extMaterialType != null  and extMaterialType.trim()!='' ">ext_material_type=#{extMaterialType},</if>
        	<if test="materialText != null  and materialText.trim()!='' ">material_text=#{materialText},</if>
        	<if test="auditBy != null  and auditBy.trim()!='' ">audit_by=#{auditBy},</if>
			<if test="auditTime != null ">audit_time=#{auditTime},</if>
			<if test="auditOpinion != null  and auditOpinion.trim()!='' ">audit_opinion=#{auditOpinion},</if>
			<if test="status != null  and status.trim()!='' ">status=#{status},</if>
			<if test="share != null  and share.trim()!='' ">share=#{share},</if>
        </trim>
        where ad_material_id = #{adMaterialId}
    </update>

	<delete id="deleteAdMaterialById" parameterType="Integer">
        delete from zx_ad_material where ad_material_id = #{adMaterialId}
    </delete>
	
    <delete id="deleteAdMaterialByIds" parameterType="String">
        delete from zx_ad_material where ad_material_id in 
        <foreach item="adMaterialId" collection="array" open="(" separator="," close=")">
            #{adMaterialId}
        </foreach>
    </delete>
    
    <!-- 查询素材表最大上传批次号  -->
    <select id="selectMaxBatch" parameterType="Integer" resultType="int">
       SELECT IFNULL(MAX(batch),0) FROM `zx_ad_material` WHERE ad_schedule_id=#{adScheduleId};
    </select>
    
    <!-- 根据广告ID查询最新批次素材列表 -->
    <select id="selectMaxListByAdSchId" parameterType="Integer" resultMap="AdMaterialResult">
    	SELECT * FROM `zx_ad_material` WHERE ad_schedule_id = #{adScheduleId} AND batch=
    	(SELECT IFNULL(MAX(batch),0) FROM `zx_ad_material` WHERE ad_schedule_id=#{adScheduleId});
    </select>
    
    <!-- 根据广告ID查询该广告下所有素材列表 -->
    <select id="selectListByAdSchId" parameterType="Integer" resultMap="AdMaterialResult">
    	SELECT * FROM `zx_ad_material` WHERE ad_schedule_id = #{adScheduleId};
    </select>
    
     <!-- 根据广告ID查询该广告下所有素材列表 -->
    <select id="selectListByAdSchId2" parameterType="Integer" resultMap="AdMaterialResult">
    	SELECT * FROM `zx_ad_material` WHERE exists(select 1 from zx_ad_schedule_material zasm where zasm.ad_schedule_id=#{adScheduleId} and zasm.ad_material_id=zx_ad_material.ad_material_id);
    </select>
    
    <!-- 通过广告ID删除数据 -->
    <delete id="deleteMaterialByAdIds" parameterType="String">
        delete from zx_ad_material where ad_schedule_id in 
        <foreach item="adScheduleId" collection="array" open="(" separator="," close=")">
            #{adScheduleId}
        </foreach>
    </delete>
    
    <!-- 通过广告ID删除数据 -->
    <delete id="deleteMaterialByAdIds2" parameterType="String">
        delete from zx_ad_schedule_material where ad_schedule_id in 
        <foreach item="adScheduleId" collection="array" open="(" separator="," close=")">
            #{adScheduleId}
        </foreach>
    </delete>
    
    <insert id="insertAdScheduleMaterial" parameterType="HashMap">
        insert into zx_ad_schedule_material
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null ">ad_schedule_id,</if>
			<if test="adMaterialId != null  ">ad_material_id,</if>
			<if test="materialType != null and materialType != '' ">material_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null  ">#{adScheduleId},</if>
			<if test="adMaterialId != null ">#{adMaterialId},</if>
			<if test="materialType != null and materialType != '' ">#{materialType},</if>
		</trim>
    </insert>
    
    <!-- 根据广告ID查询该广告下不同的素材类型 -->
    <select id="getDistinctList" parameterType="Integer" resultMap="AdMaterialResult">
    	SELECT DISTINCT teid,remark FROM `zx_ad_material` WHERE ad_schedule_id = #{adScheduleId};
    </select>
    
</mapper>