<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adReleaseTimer.mapper.AdReleaseTimerMapper">
    
    <resultMap type="AdReleaseTimer" id="AdReleaseTimerResult">
        <result property="adReleaseTimerId"    column="ad_release_timer_id"    />
        <result property="adScheduleId"    column="ad_schedule_id"    />
        <result property="releaseBeginTime"    column="release_begin_time"    />
        <result property="releaseEndTime"    column="release_end_time"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectAdReleaseTimerVo">
        select ad_release_timer_id, ad_schedule_id, release_begin_time, release_end_time, remark, create_by, create_time, update_by, update_time from zx_ad_release_timer
    </sql>
	
    <select id="selectAdReleaseTimerList" parameterType="AdReleaseTimer" resultMap="AdReleaseTimerResult">
        <include refid="selectAdReleaseTimerVo"/>
        <where>  
            <if test="adReleaseTimerId != null and adReleaseTimerId != ''"> and ad_release_timer_id = #{adReleaseTimerId}</if>
             <if test="adScheduleId != null and adScheduleId != ''"> and ad_schedule_id = #{adScheduleId}</if>
             <if test="releaseBeginTime != null "> and release_begin_time = #{releaseBeginTime}</if>
             <if test="releaseEndTime != null "> and release_end_time = #{releaseEndTime}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAdReleaseTimerById" parameterType="Integer" resultMap="AdReleaseTimerResult">
        <include refid="selectAdReleaseTimerVo"/>
        where ad_release_timer_id = #{adReleaseTimerId}
    </select>
        
    <insert id="insertAdReleaseTimer" parameterType="AdReleaseTimer">
        insert into zx_ad_release_timer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adReleaseTimerId != null and adReleaseTimerId != '' ">ad_release_timer_id,</if>
			<if test="adScheduleId != null and adScheduleId != '' ">ad_schedule_id,</if>
			<if test="releaseBeginTime != null ">release_begin_time,</if>
			<if test="releaseEndTime != null ">release_end_time,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adReleaseTimerId != null and adReleaseTimerId != ''">#{adReleaseTimerId},</if>
			<if test="adScheduleId != null and adScheduleId != ''">#{adScheduleId},</if>
			<if test="releaseBeginTime != null ">#{releaseBeginTime},</if>
			<if test="releaseEndTime != null ">#{releaseEndTime},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdReleaseTimer" parameterType="AdReleaseTimer">
        update zx_ad_release_timer
        <trim prefix="SET" suffixOverrides=",">
            <if test="adScheduleId != null  ">ad_schedule_id = #{adScheduleId},</if>
            <if test="releaseBeginTime != null  ">release_begin_time = #{releaseBeginTime},</if>
            <if test="releaseEndTime != null  ">release_end_time = #{releaseEndTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where ad_release_timer_id = #{adReleaseTimerId}
    </update>

	<delete id="deleteAdReleaseTimerById" parameterType="Integer">
        delete from zx_ad_release_timer where ad_release_timer_id = #{adReleaseTimerId}
    </delete>
	
    <delete id="deleteAdReleaseTimerByIds" parameterType="String">
        delete from zx_ad_release_timer where ad_release_timer_id in 
        <foreach item="adReleaseTimerId" collection="array" open="(" separator="," close=")">
            #{adReleaseTimerId}
        </foreach>
    </delete>
    
</mapper>