<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adReleaseRecord.mapper.AdReleaseRecordMapper">
    
    <resultMap type="AdReleaseRecord" id="AdReleaseRecordResult">
        <result property="releaseDeviceId"    column="release_device_id"    />
        <result property="scheduleId"    column="schedule_id"    />
        <result property="sxScheduleId"    column="sx_schedule_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="downTime"    column="down_time"    />
        <result property="playTime"    column="play_time"    />
        <result property="price"    column="price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectAdReleaseRecordVo">
        select release_device_id, schedule_id, sx_schedule_id, device_id, down_time, play_time, price, create_by, create_time, update_by, update_time from zx_ad_release_record
    </sql>
	
    <select id="selectAdReleaseRecordList" parameterType="AdReleaseRecord" resultMap="AdReleaseRecordResult">
        <include refid="selectAdReleaseRecordVo"/>
        <where>  
            <if test="releaseDeviceId != null and releaseDeviceId != ''"> and release_device_id = #{releaseDeviceId}</if>
             <if test="scheduleId != null and scheduleId != ''"> and schedule_id = #{scheduleId}</if>
             <if test="sxScheduleId != null and sxScheduleId != ''"> and sx_schedule_id = #{sxScheduleId}</if>
             <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
             <if test="downTime != null and downTime != ''"> and down_time = #{downTime}</if>
             <if test="playTime != null and playTime != ''"> and play_time = #{playTime}</if>
             <if test="price != null and price != ''"> and price = #{price}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAdReleaseRecordById" parameterType="Integer" resultMap="AdReleaseRecordResult">
        <include refid="selectAdReleaseRecordVo"/>
        where release_device_id = #{releaseDeviceId}
    </select>
        
    <insert id="insertAdReleaseRecord" parameterType="AdReleaseRecord">
        insert into zx_ad_release_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="releaseDeviceId != null and releaseDeviceId != '' ">release_device_id,</if>
			<if test="scheduleId != null and scheduleId != '' ">schedule_id,</if>
			<if test="sxScheduleId != null and sxScheduleId != '' ">sx_schedule_id,</if>
			<if test="deviceId != null and deviceId != '' ">device_id,</if>
			<if test="downTime != null and downTime != '' ">down_time,</if>
			<if test="playTime != null and playTime != '' ">play_time,</if>
			<if test="price != null and price != '' ">price,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="releaseDeviceId != null and releaseDeviceId != ''">#{releaseDeviceId},</if>
			<if test="scheduleId != null and scheduleId != ''">#{scheduleId},</if>
			<if test="sxScheduleId != null and sxScheduleId != ''">#{sxScheduleId},</if>
			<if test="deviceId != null and deviceId != ''">#{deviceId},</if>
			<if test="downTime != null and downTime != ''">#{downTime},</if>
			<if test="playTime != null and playTime != ''">#{playTime},</if>
			<if test="price != null and price != ''">#{price},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdReleaseRecord" parameterType="AdReleaseRecord">
        update zx_ad_release_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleId != null  ">schedule_id = #{scheduleId},</if>
            <if test="sxScheduleId != null  ">sx_schedule_id = #{sxScheduleId},</if>
            <if test="deviceId != null  ">device_id = #{deviceId},</if>
            <if test="downTime != null  ">down_time = #{downTime},</if>
            <if test="playTime != null  ">play_time = #{playTime},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where release_device_id = #{releaseDeviceId}
    </update>

	<delete id="deleteAdReleaseRecordById" parameterType="Integer">
        delete from zx_ad_release_record where release_device_id = #{releaseDeviceId}
    </delete>
	
    <delete id="deleteAdReleaseRecordByIds" parameterType="String">
        delete from zx_ad_release_record where release_device_id in 
        <foreach item="releaseDeviceId" collection="array" open="(" separator="," close=")">
            #{releaseDeviceId}
        </foreach>
    </delete>
    
</mapper>