<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adSchedule.mapper.AdScheduleMapper">
    
    <resultMap type="AdSchedule" id="AdScheduleResult">
        <result property="adScheduleId"    column="ad_schedule_id"    />
        <result property="scheduleName"    column="schedule_name"    />
        <result property="releaseType"    column="release_type"    />
        <result property="releasePosition"    column="release_position"    />
        <result property="releaseDays"    column="release_days"    />
        <result property="sxScheduleId"    column="sx_schedule_id"    />
        <result property="pId"    column="pid"    />
        <result property="tId"    column="tid"    />
        <result property="themeTemplateId"    column="theme_template_id"    />
        <result property="status"    column="status"    />
        <result property="totalPay"    column="total_pay"    />
        <result property="prepay"    column="prepay"    />
        <result property="releaseTermNum"    column="release_term_num"    />
        <result property="advertiser"    column="advertiser"    />
        <result property="promotioner"    column="promotioner"    />
        <result property="releaser"    column="releaser"    />
        <result property="approved"    column="approved"    />
        <result property="approvedRemark"    column="approved_remark"    />
        <result property="approvedUser"    column="approved_user"    />
        <result property="isDel"    column="is_del"    />
        <result property="releaseNote"    column="release_note"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="totalTime"    column="total_time"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="releaseStatus"    column="release_status"    />
        <result property="qrUrl"    column="qr_url"    />
        <result property="deadLine"    column="dead_line"    />
        <result property="extScheduleId"    column="ext_schedule_id"    />
    </resultMap>
	
	<sql id="selectAdScheduleVo">
        select ad_schedule_id, schedule_name, release_days,
        release_type,
        <!-- release_type暂不采用字典表
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='release_type' AND sdd.dict_value=zas.`release_type` ) releaseTypeName, -->
        CASE release_type  WHEN '0' THEN '全部' WHEN '1' THEN '按地区' WHEN '2' THEN '按场所' ELSE '' END releaseTypeName,
        release_position,
        <!-- 先使用广告类型替代投放位置，方便总价和押金的计算 -->
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='release_position' AND sdd.dict_value=zas.`release_position` ) releasePositionName, 
        sx_schedule_id, pid,tid,theme_template_id,
        status, 
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='schedule_status' AND sdd.dict_value=zas.`status` ) statusName,
        total_pay, prepay, release_term_num,promotioner,
        (select distinct u.user_name from sys_user u where u.user_id =zas.`promotioner` ) promotionerName,
        releaser,
        (select distinct u.user_name from sys_user u where u.user_id =zas.`releaser` ) releaserName,
        approved,
        CASE approved  WHEN '1' THEN '审核通过' WHEN '0' THEN '审核不通过' ELSE '待审核' END approvedName,
        approved_remark,approved_user, 
        is_del, release_note, create_by, create_time, update_by, update_time,
        advertiser,
        (SELECT DISTINCT za.advertisor_name FROM zx_advertise za WHERE za.advertise_id =zas.`advertiser`) advertiseName,
        (select material_text from zx_ad_material zam where zam.ad_schedule_id=zas.ad_schedule_id and ext_material_type='3' limit 1) materialText,
        total_time,pay_status,qr_url,dead_line,ext_schedule_id from zx_ad_schedule zas 
    </sql>
    
    <sql id="selectAdScheduleVos">
      SELECT DISTINCT zas.ad_schedule_id, zas.schedule_name, zas.release_days,
        zas.release_type,
        CASE zas.release_type  WHEN '0' THEN '全部' WHEN '1' THEN '按地区' WHEN '2' THEN '按场所' ELSE '' END releaseTypeName,
        zas.release_position,
    
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='release_position' AND sdd.dict_value=zas.`release_position` ) releasePositionName, 
        zas.sx_schedule_id, zas.pid,zas.tid,zas.theme_template_id,
        zas.status, 
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='schedule_status' AND sdd.dict_value=zas.`status` ) statusName,
        zas.total_pay, zas.prepay, zas.release_term_num,zas.promotioner,
        (select distinct u.user_name from sys_user u where u.user_id =zas.`promotioner` ) promotionerName,
        zas.releaser,
        (select distinct u.user_name from sys_user u where u.user_id =zas.`releaser` ) releaserName,
        zas.approved,
        CASE zas.approved  WHEN '1' THEN '审核通过' WHEN '0' THEN '审核不通过' ELSE '待审核' END approvedName,
        zas.approved_remark,zas.approved_user, 
        zas.is_del, zas.release_note, zas.create_by, zas.create_time, zas.update_by, zas.update_time,
        zas.advertiser,
        (SELECT DISTINCT za.advertisor_name FROM zx_advertise za WHERE za.advertise_id =zas.`advertiser`) advertiseName,
        total_time,pay_status,zas.release_status,zas.qr_url,zas.dead_line,zas.ext_schedule_id FROM zx_ad_schedule zas  LEFT JOIN zx_ad_release_record a ON a.schedule_id = zas.ad_schedule_id LEFT JOIN zx_device b ON a.device_id=b.device_id
    </sql>
    
    <sql id="selectOpSchedules">
        SELECT * FROM zx_ad_schedule zas 
    </sql>
    
    <select id="selectNeedReleaseSchedule" resultMap="AdScheduleResult">
        <include refid="selectOpSchedules"/>
        where exists(select 1 from zx_ad_release_timer zarr where zarr.ad_schedule_id=zas.ad_schedule_id and zarr.release_begin_time &lt;= now() and zarr.release_end_time &gt;= now())
        	and release_status='0'
    </select>
    <select id="selectNeedDeleteSchedule" resultMap="AdScheduleResult">
        <include refid="selectOpSchedules"/>
        where not exists(select 1 from zx_ad_release_timer zarr where zarr.ad_schedule_id=zas.ad_schedule_id and zarr.release_begin_time &lt;= now() and zarr.release_end_time &gt;= now())
        	and release_status='1'
    </select>
	
    <select id="selectAdScheduleList" parameterType="AdSchedule" resultMap="AdScheduleResult">
        <include refid="selectAdScheduleVos"/>
        <where>  
            ${filterSql}
            <if test="adScheduleId != null and adScheduleId != ''"> and zas.ad_schedule_id = #{adScheduleId}</if>
             <if test="scheduleName != null and scheduleName != ''">
              	and zas.schedule_name like concat('%', #{scheduleName}, '%')
             </if>
             <if test="releaseType != null and releaseType != ''"> and zas.release_type = #{releaseType}</if>
             <if test="releasePosition != null and releasePosition != ''"> and zas.release_position = #{releasePosition}</if>
             <if test="sxScheduleId != null and sxScheduleId != ''"> and zas.sx_schedule_id = #{sxScheduleId}</if>
             <if test="pId != null and pId != ''"> and zas.pid = #{pId}</if>
             <if test="tId != null and tId != ''"> and zas.tid = #{tId}</if>
             <if test="themeTemplateId != null and themeTemplateId != ''"> and zas.theme_template_id = #{themeTemplateId}</if>
             <if test="status != null and status != ''"> and zas.status = #{status}</if>
             <if test="totalPay != null and totalPay != ''"> and zas.total_pay = #{totalPay}</if>
             <if test="prepay != null and prepay != ''"> and zas.prepay = #{prepay}</if>
             <if test="releaseTermNum != null and releaseTermNum != ''"> and zas.release_term_num = #{releaseTermNum}</if>
             <if test="advertiser != null and advertiser != ''"> and zas.advertiser = #{advertiser}</if>
             <if test="promotioner != null and promotioner != ''"> and zas.promotioner = #{promotioner}</if>
             <if test="releaser != null and releaser != ''"> and zas.releaser = #{releaser}</if>
             <if test="approved != null and approved != ''"> and zas.approved = #{approved}</if>
             <if test="approvedRemark != null and approvedRemark != ''"> and zas.approved_remark = #{approvedRemark}</if>
             <if test="approvedUser != null and approvedUser != ''"> and zas.approved_user = #{approvedUser}</if>
             <if test="isDel != null and isDel != ''"> and zas.is_del = #{isDel}</if>
             <if test="releaseNote != null and releaseNote != ''"> and zas.release_note = #{releaseNote}</if>
             <if test="createBy != null and createBy != ''"> and zas.create_by = #{createBy}</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				 AND date_format(zas.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			 </if>
			 <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				 AND date_format(zas.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			 </if>
             <if test="updateBy != null and updateBy != ''"> and zas.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and zas.update_time = #{updateTime}</if>
             <if test="totalTime != null and totalTime != ''"> and zas.total_time = #{totalTime}</if>
             <if test="payStatus != null and payStatus != ''"> and zas.pay_status = #{payStatus}</if>
             <if test="qrUrl != null and qrUrl != ''"> and zas.qr_url = #{qrUrl}</if>
             <if test="deviceCode != null and deviceCode != ''"> and zas.ad_schedule_id in 
             	(select distinct zrd.schedule_id from zx_release_device zrd where zrd.device_id in
             	(select distinct zd.device_id from zx_device zd where zd.device_code like concat('%',#{deviceCode},'%'))) 
             </if>
             and zas.is_del='0'
         </where>
         order by zas.ad_schedule_id desc
    </select>
    
    <select id="selectAdScheduleById" parameterType="Integer" resultMap="AdScheduleResult">
        <include refid="selectAdScheduleVo"/>
        where ad_schedule_id = #{adScheduleId}
    </select>
        
    <insert id="insertAdSchedule" parameterType="AdSchedule">
        insert into zx_ad_schedule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != '' ">ad_schedule_id,</if>
			<if test="scheduleName != null and scheduleName != '' ">schedule_name,</if>
			<if test="releaseType != null and releaseType != '' ">release_type,</if>
			<if test="releasePosition != null and releasePosition != '' ">release_position,</if>
			<if test="releaseDays != null ">release_days,</if>
			<if test="sxScheduleId != null and sxScheduleId != '' ">sx_schedule_id,</if>
			<if test="pId != null and pId != '' ">pid,</if>
			<if test="tId != null and tId != '' ">tid,</if>
			<if test="themeTemplateId != null and themeTemplateId != '' ">theme_template_id,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="totalPay != null and totalPay != '' ">total_pay,</if>
			<if test="prepay != null and prepay != '' ">prepay,</if>
			<if test="releaseTermNum != null and releaseTermNum != '' ">release_term_num,</if>
			<if test="advertiser != null and advertiser != '' ">advertiser,</if>
			<if test="promotioner != null and promotioner != '' ">promotioner,</if>
			<if test="releaser != null and releaser != '' ">releaser,</if>
			<if test="approved != null and approved != '' ">approved,</if>
			<if test="approvedRemark != null and approvedRemark != '' ">approved_remark,</if>
			<if test="approvedUser != null and approvedUser != '' ">approved_user,</if>
			<if test="isDel != null and isDel != '' ">is_del,</if>
			<if test="releaseNote != null and releaseNote != '' ">release_note,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
			<if test="totalTime != null ">total_time,</if>
			<if test="payStatus != null ">pay_status,</if>
			<if test="releaseStatus != null ">release_status,</if>
			<if test="qrUrl != null ">qr_url,</if>
			<if test="extScheduleId != null and extScheduleId.trim()!='' ">ext_schedule_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != ''">#{adScheduleId},</if>
			<if test="scheduleName != null and scheduleName != ''">#{scheduleName},</if>
			<if test="releaseType != null and releaseType != ''">#{releaseType},</if>
			<if test="releasePosition != null and releasePosition != ''">#{releasePosition},</if>
			<if test="releaseDays != null ">#{releaseDays},</if>
			<if test="sxScheduleId != null and sxScheduleId != ''">#{sxScheduleId},</if>
			<if test="pId != null and pId != ''">#{pId},</if>
			<if test="tId != null and tId != ''">#{tId},</if>
			<if test="themeTemplateId != null and themeTemplateId != ''">#{themeTemplateId},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="totalPay != null and totalPay != ''">#{totalPay},</if>
			<if test="prepay != null and prepay != ''">#{prepay},</if>
			<if test="releaseTermNum != null and releaseTermNum != ''">#{releaseTermNum},</if>
			<if test="advertiser != null and advertiser != ''">#{advertiser},</if>
			<if test="promotioner != null and promotioner != ''">#{promotioner},</if>
			<if test="releaser != null and releaser != ''">#{releaser},</if>
			<if test="approved != null and approved != ''">#{approved},</if>
			<if test="approvedRemark != null and approvedRemark != ''">#{approvedRemark},</if>
			<if test="approvedUser != null and approvedUser != ''">#{approvedUser},</if>
			<if test="isDel != null and isDel != ''">#{isDel},</if>
			<if test="releaseNote != null and releaseNote != ''">#{releaseNote},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="totalTime != null ">#{totalTime},</if>
			<if test="payStatus != null ">#{payStatus},</if>
			<if test="releaseStatus != null ">#{releaseStatus},</if>
			<if test="qrUrl != null ">#{qrUrl},</if>
			<if test="extScheduleId != null and extScheduleId.trim()!='' ">#{extScheduleId},</if>
         </trim>
    </insert>
	 
    <update id="updateAdSchedule" parameterType="AdSchedule">
        update zx_ad_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleName != null  and scheduleName != ''  ">schedule_name = #{scheduleName},</if>
            <if test="releaseType != null  and releaseType != ''  ">release_type = #{releaseType},</if>
            <if test="releasePosition != null  and releasePosition != ''  ">release_position = #{releasePosition},</if>
            <if test="releaseDays != null  ">release_days = #{releaseDays},</if>
            <if test="sxScheduleId != null  ">sx_schedule_id = #{sxScheduleId},</if>
            <if test="pId != null  ">pid = #{pId},</if>
            <if test="tId != null  ">tid = #{tId},</if>
             <if test="themeTemplateId != null  ">theme_template_id = #{themeTemplateId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="totalPay != null  ">total_pay = #{totalPay},</if>
            <if test="prepay != null  ">prepay = #{prepay},</if>
            <if test="releaseTermNum != null  ">release_term_num = #{releaseTermNum},</if>
            <if test="advertiser != null  ">advertiser = #{advertiser},</if>
            <if test="promotioner != null  ">promotioner = #{promotioner},</if>
            <if test="releaser != null  ">releaser = #{releaser},</if>
            <if test="approved != null  and approved != ''  ">approved = #{approved},</if>
            <if test="approvedRemark != null  and approvedRemark != ''  ">approved_remark = #{approvedRemark},</if>
            <if test="approvedUser != null  and approvedUser != ''  ">approved_user = #{approvedUser},</if>
            <if test="isDel != null  and isDel != ''  ">is_del = #{isDel},</if>
            <if test="releaseNote != null  and releaseNote != ''  ">release_note = #{releaseNote},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="totalTime != null  ">total_time = #{totalTime},</if>
            <if test="payStatus != null  ">pay_status = #{payStatus},</if>
            <if test="releaseStatus != null  ">release_status = #{releaseStatus},</if>
            <if test="qrUrl != null  ">qr_url = #{qrUrl},</if>
            <if test="deadLine != null  ">dead_line = #{deadLine},</if>
            <if test="extScheduleId != null and extScheduleId.trim()!='' ">ext_schedule_id=#{extScheduleId},</if>
        </trim>
        where ad_schedule_id = #{adScheduleId}
    </update>

	<delete id="deleteAdScheduleById" parameterType="Integer">
        update zx_ad_schedule set is_del='1',release_status='2' where ad_schedule_id=#{adScheduleId}
    </delete>
	
    <delete id="deleteAdScheduleByIds" parameterType="String">
        update zx_ad_schedule set is_del='1',release_status='2' where ad_schedule_id in 
        <foreach item="adScheduleId" collection="array" open="(" separator="," close=")">
            #{adScheduleId}
        </foreach>
    </delete>
    
    <select id="queryExport" resultType="java.util.HashMap">
       <!-- <include refid="selectAdScheduleVo"/>
        <where>  
        ${filterSql}
            <if test="adScheduleId != null and adScheduleId != ''"> and ad_schedule_id = #{adScheduleId}</if>
             <if test="scheduleName != null and scheduleName != ''">
              	and schedule_name like concat('%', #{scheduleName}, '%')
             </if>
             <if test="releaseType != null and releaseType != ''"> and release_type = #{releaseType}</if>
             <if test="releasePosition != null and releasePosition != ''"> and release_position = #{releasePosition}</if>
             <if test="sxScheduleId != null and sxScheduleId != ''"> and sx_schedule_id = #{sxScheduleId}</if>
             <if test="pId != null and pId != ''"> and pid = #{pId}</if>
             <if test="tId != null and tId != ''"> and tid = #{tId}</if>
             <if test="themeTemplateId != null and themeTemplateId != ''"> and theme_template_id = #{themeTemplateId}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="totalPay != null and totalPay != ''"> and total_pay = #{totalPay}</if>
             <if test="prepay != null and prepay != ''"> and prepay = #{prepay}</if>
             <if test="releaseTermNum != null and releaseTermNum != ''"> and release_term_num = #{releaseTermNum}</if>
             <if test="advertiser != null and advertiser != ''"> and advertiser = #{advertiser}</if>
             <if test="promotioner != null and promotioner != ''"> and promotioner = #{promotioner}</if>
             <if test="releaser != null and releaser != ''"> and releaser = #{releaser}</if>
             <if test="approved != null and approved != ''"> and approved = #{approved}</if>
             <if test="approvedRemark != null and approvedRemark != ''"> and approved_remark = #{approvedRemark}</if>
             <if test="approvedUser != null and approvedUser != ''"> and approved_user = #{approvedUser}</if>
             <if test="isDel != null and isDel != ''"> and is_del = #{isDel}</if>
             <if test="releaseNote != null and releaseNote != ''"> and release_note = #{releaseNote}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="startTime != null and startTime != ''">开始时间检索
				 AND date_format(zas.create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			 </if>
			 <if test="endTime != null and endTime != ''">结束时间检索
				 AND date_format(zas.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			 </if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="totalTime != null and totalTime != ''"> and total_time = #{totalTime}</if>
             <if test="payStatus != null and payStatus != ''"> and pay_status = #{payStatus}</if>
             <if test="qrUrl != null and qrUrl != ''"> and qr_url = #{qrUrl}</if>
             <if test="deviceCode != null and deviceCode != ''"> and zas.ad_schedule_id in 
             	(select distinct zrd.schedule_id from zx_release_device zrd where zrd.device_id in
             	(select distinct zd.device_id from zx_device zd where zd.device_code like concat('%',#{deviceCode},'%'))) 
             </if>
             and zas.is_del='0'
         </where>
         order by ad_schedule_id desc -->
        <!-- 以列表的查询为准 --> 
        <include refid="selectAdScheduleVos"/>
        <where>  
            ${filterSql}
            <if test="adScheduleId != null and adScheduleId != ''"> and zas.ad_schedule_id = #{adScheduleId}</if>
             <if test="scheduleName != null and scheduleName != ''">
              	and zas.schedule_name like concat('%', #{scheduleName}, '%')
             </if>
             <if test="releaseType != null and releaseType != ''"> and zas.release_type = #{releaseType}</if>
             <if test="releasePosition != null and releasePosition != ''"> and zas.release_position = #{releasePosition}</if>
             <if test="sxScheduleId != null and sxScheduleId != ''"> and zas.sx_schedule_id = #{sxScheduleId}</if>
             <if test="pId != null and pId != ''"> and zas.pid = #{pId}</if>
             <if test="tId != null and tId != ''"> and zas.tid = #{tId}</if>
             <if test="themeTemplateId != null and themeTemplateId != ''"> and zas.theme_template_id = #{themeTemplateId}</if>
             <if test="status != null and status != ''"> and zas.status = #{status}</if>
             <if test="totalPay != null and totalPay != ''"> and zas.total_pay = #{totalPay}</if>
             <if test="prepay != null and prepay != ''"> and zas.prepay = #{prepay}</if>
             <if test="releaseTermNum != null and releaseTermNum != ''"> and zas.release_term_num = #{releaseTermNum}</if>
             <if test="advertiser != null and advertiser != ''"> and zas.advertiser = #{advertiser}</if>
             <if test="promotioner != null and promotioner != ''"> and zas.promotioner = #{promotioner}</if>
             <if test="releaser != null and releaser != ''"> and zas.releaser = #{releaser}</if>
             <if test="approved != null and approved != ''"> and zas.approved = #{approved}</if>
             <if test="approvedRemark != null and approvedRemark != ''"> and zas.approved_remark = #{approvedRemark}</if>
             <if test="approvedUser != null and approvedUser != ''"> and zas.approved_user = #{approvedUser}</if>
             <if test="isDel != null and isDel != ''"> and zas.is_del = #{isDel}</if>
             <if test="releaseNote != null and releaseNote != ''"> and zas.release_note = #{releaseNote}</if>
             <if test="createBy != null and createBy != ''"> and zas.create_by = #{createBy}</if>
			 <if test="startTime != null and startTime != ''">开始时间检索
				 AND date_format(zas.create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			 </if>
			 <if test="endTime != null and endTime != ''">结束时间检索
				 AND date_format(zas.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			 </if>
             <if test="updateBy != null and updateBy != ''"> and zas.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and zas.update_time = #{updateTime}</if>
             <if test="totalTime != null and totalTime != ''"> and zas.total_time = #{totalTime}</if>
             <if test="payStatus != null and payStatus != ''"> and zas.pay_status = #{payStatus}</if>
             <if test="qrUrl != null and qrUrl != ''"> and zas.qr_url = #{qrUrl}</if>
             <if test="deviceCode != null and deviceCode != ''"> and zas.ad_schedule_id in 
             	(select distinct zrd.schedule_id from zx_release_device zrd where zrd.device_id in
             	(select distinct zd.device_id from zx_device zd where zd.device_code like concat('%',#{deviceCode},'%'))) 
             </if>
             and zas.is_del='0'
         </where>
         order by zas.ad_schedule_id desc
    </select>
    
    <!-- 校验广告投放名称是否唯一  -->
    <select id="checkNameUnique" parameterType="String" resultType="int">
		SELECT COUNT(1) FROM `zx_ad_schedule` WHERE BINARY schedule_name=#{scheduleName}
	</select>
	
</mapper>