<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adScheduleRelease.mapper.AdScheduleReleaseMapper">
    
    <resultMap type="AdScheduleRelease" id="AdScheduleReleaseResult">
        <result property="scheduleReleaseId"    column="schedule_release_id"    />
        <result property="scheduleId"    column="schedule_id"    />
        <result property="releaseType"    column="release_type"    />
        <result property="releasePlaceType"    column="release_place_type"    />
        <result property="releaseUserType"    column="release_user_type"    />
        <result property="releasePlaceId"    column="release_place_id"    />
        <result property="releaseDeviceId"    column="release_device_id"    />
        <result property="isDel"    column="is_del"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectAdScheduleReleaseVo">
        select schedule_release_id, schedule_id, release_type, release_place_type, release_user_type, release_place_id, release_device_id, is_del, create_by, create_time from zx_ad_schedule_release
    </sql>
	
    <select id="selectAdScheduleReleaseList" parameterType="AdScheduleRelease" resultMap="AdScheduleReleaseResult">
        <include refid="selectAdScheduleReleaseVo"/>
        <where>  
            <if test="scheduleReleaseId != null and scheduleReleaseId != ''"> and schedule_release_id = #{scheduleReleaseId}</if>
             <if test="scheduleId != null and scheduleId != ''"> and schedule_id = #{scheduleId}</if>
             <if test="releaseType != null and releaseType != ''"> and release_type = #{releaseType}</if>
             <if test="releasePlaceType != null and releasePlaceType != ''"> and release_place_type = #{releasePlaceType}</if>
             <if test="releaseUserType != null and releaseUserType != ''"> and release_user_type = #{releaseUserType}</if>
             <if test="releasePlaceId != null and releasePlaceId != ''"> and release_place_id = #{releasePlaceId}</if>
             <if test="releaseDeviceId != null and releaseDeviceId != ''"> and release_device_id = #{releaseDeviceId}</if>
             <if test="isDel != null and isDel != ''"> and is_del = #{isDel}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectAdScheduleReleaseById" parameterType="Integer" resultMap="AdScheduleReleaseResult">
        <include refid="selectAdScheduleReleaseVo"/>
        where schedule_release_id = #{scheduleReleaseId}
    </select>
        
    <insert id="insertAdScheduleRelease" parameterType="AdScheduleRelease">
        insert into zx_ad_schedule_release
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="scheduleReleaseId != null and scheduleReleaseId != '' ">schedule_release_id,</if>
			<if test="scheduleId != null and scheduleId != '' ">schedule_id,</if>
			<if test="releaseType != null and releaseType != '' ">release_type,</if>
			<if test="releasePlaceType != null and releasePlaceType != '' ">release_place_type,</if>
			<if test="releaseUserType != null and releaseUserType != '' ">release_user_type,</if>
			<if test="releasePlaceId != null and releasePlaceId != '' ">release_place_id,</if>
			<if test="releaseDeviceId != null and releaseDeviceId != '' ">release_device_id,</if>
			<if test="isDel != null and isDel != '' ">is_del,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="scheduleReleaseId != null and scheduleReleaseId != ''">#{scheduleReleaseId},</if>
			<if test="scheduleId != null and scheduleId != ''">#{scheduleId},</if>
			<if test="releaseType != null and releaseType != ''">#{releaseType},</if>
			<if test="releasePlaceType != null and releasePlaceType != ''">#{releasePlaceType},</if>
			<if test="releaseUserType != null and releaseUserType != ''">#{releaseUserType},</if>
			<if test="releasePlaceId != null and releasePlaceId != ''">#{releasePlaceId},</if>
			<if test="releaseDeviceId != null and releaseDeviceId != ''">#{releaseDeviceId},</if>
			<if test="isDel != null and isDel != ''">#{isDel},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdScheduleRelease" parameterType="AdScheduleRelease">
        update zx_ad_schedule_release
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleId != null  ">schedule_id = #{scheduleId},</if>
            <if test="releaseType != null  and releaseType != ''  ">release_type = #{releaseType},</if>
            <if test="releasePlaceType != null  and releasePlaceType != ''  ">release_place_type = #{releasePlaceType},</if>
            <if test="releaseUserType != null  and releaseUserType != ''  ">release_user_type = #{releaseUserType},</if>
            <if test="releasePlaceId != null  ">release_place_id = #{releasePlaceId},</if>
            <if test="releaseDeviceId != null  ">release_device_id = #{releaseDeviceId},</if>
            <if test="isDel != null  and isDel != ''  ">is_del = #{isDel},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where schedule_release_id = #{scheduleReleaseId}
    </update>

	<delete id="deleteAdScheduleReleaseById" parameterType="Integer">
        delete from zx_ad_schedule_release where schedule_release_id = #{scheduleReleaseId}
    </delete>
	
    <delete id="deleteAdScheduleReleaseByIds" parameterType="String">
        delete from zx_ad_schedule_release where schedule_release_id in 
        <foreach item="scheduleReleaseId" collection="array" open="(" separator="," close=")">
            #{scheduleReleaseId}
        </foreach>
    </delete>
    
</mapper>