<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.advertise.adSchedule.mapper.AdScheduleMapper">
    
    <resultMap type="AdSchedule" id="AdScheduleResult">
        <result property="adScheduleId"    column="ad_schedule_id"    />
        <result property="scheduleName"    column="schedule_name"    />
        <result property="releaseType"    column="release_type"    />
        <result property="releasePosition"    column="release_position"    />
        <result property="sxScheduleId"    column="sx_schedule_id"    />
        <result property="pId"    column="pid"    />
        <result property="themeTemplateId"    column="theme_template_id"    />
        <result property="status"    column="status"    />
        <result property="totalPay"    column="total_pay"    />
        <result property="prepay"    column="prepay"    />
        <result property="releaseTermNum"    column="release_term_num"    />
        <result property="approved"    column="approved"    />
        <result property="approvedRemark"    column="approved_remark"    />
        <result property="approvedUser"    column="approved_user"    />
        <result property="isDel"    column="is_del"    />
        <result property="releaseNote"    column="release_note"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectAdScheduleVo">
        select ad_schedule_id, schedule_name, 
        release_type,
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='release_type' AND sdd.dict_value=zas.`release_type` ) releaseTypeName,
        release_position,
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='release_position' AND sdd.dict_value=zas.`release_position` ) releasePositionName, 
        sx_schedule_id, pid,theme_template_id,
        status, 
        (SELECT DISTINCT sdd.dict_label FROM sys_dict_data sdd WHERE sdd.dict_type ='schedule_status' AND sdd.dict_value=zas.`status` ) statusName,
        total_pay, prepay, release_term_num,approved,approved_remark,approved_user, 
        is_del, release_note, create_by, create_time, update_by, update_time from zx_ad_schedule zas
    </sql>
	
    <select id="selectAdScheduleList" parameterType="AdSchedule" resultMap="AdScheduleResult">
        <include refid="selectAdScheduleVo"/>
        <where>  
            <if test="adScheduleId != null and adScheduleId != ''"> and ad_schedule_id = #{adScheduleId}</if>
             <if test="scheduleName != null and scheduleName != ''">
              	and schedule_name like concat('%', #{scheduleName}, '%')
             </if>
             <if test="releaseType != null and releaseType != ''"> and release_type = #{releaseType}</if>
             <if test="releasePosition != null and releasePosition != ''"> and release_position = #{releasePosition}</if>
             <if test="sxScheduleId != null and sxScheduleId != ''"> and sx_schedule_id = #{sxScheduleId}</if>
             <if test="pId != null and pId != ''"> and pid = #{pId}</if>
             <if test="themeTemplateId != null and themeTemplateId != ''"> and theme_template_id = #{themeTemplateId}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="totalPay != null and totalPay != ''"> and total_pay = #{totalPay}</if>
             <if test="prepay != null and prepay != ''"> and prepay = #{prepay}</if>
             <if test="releaseTermNum != null and releaseTermNum != ''"> and release_term_num = #{releaseTermNum}</if>
             <if test="approved != null and approved != ''"> and approved = #{approved}</if>
             <if test="approvedRemark != null and approvedRemark != ''"> and approved_remark = #{approvedRemark}</if>
             <if test="approvedUser != null and approvedUser != ''"> and approved_user = #{approvedUser}</if>
             <if test="isDel != null and isDel != ''"> and is_del = #{isDel}</if>
             <if test="releaseNote != null and releaseNote != ''"> and release_note = #{releaseNote}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAdScheduleById" parameterType="Integer" resultMap="AdScheduleResult">
        <include refid="selectAdScheduleVo"/>
        where ad_schedule_id = #{adScheduleId}
    </select>
        
    <insert id="insertAdSchedule" parameterType="AdSchedule">
        insert into zx_ad_schedule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != '' ">ad_schedule_id,</if>
			<if test="scheduleName != null and scheduleName != '' ">schedule_name,</if>
			<if test="releaseType != null and releaseType != '' ">release_type,</if>
			<if test="releasePosition != null and releasePosition != '' ">release_position,</if>
			<if test="sxScheduleId != null and sxScheduleId != '' ">sx_schedule_id,</if>
			<if test="pId != null and pId != '' ">pid,</if>
			<if test="themeTemplateId != null and themeTemplateId != '' ">theme_template_id,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="totalPay != null and totalPay != '' ">total_pay,</if>
			<if test="prepay != null and prepay != '' ">prepay,</if>
			<if test="releaseTermNum != null and releaseTermNum != '' ">release_term_num,</if>
			<if test="approved != null and approved != '' ">approved,</if>
			<if test="approvedRemark != null and approvedRemark != '' ">approved_remark,</if>
			<if test="approvedUser != null and approvedUser != '' ">approved_user,</if>
			<if test="isDel != null and isDel != '' ">is_del,</if>
			<if test="releaseNote != null and releaseNote != '' ">release_note,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adScheduleId != null and adScheduleId != ''">#{adScheduleId},</if>
			<if test="scheduleName != null and scheduleName != ''">#{scheduleName},</if>
			<if test="releaseType != null and releaseType != ''">#{releaseType},</if>
			<if test="releasePosition != null and releasePosition != ''">#{releasePosition},</if>
			<if test="sxScheduleId != null and sxScheduleId != ''">#{sxScheduleId},</if>
			<if test="pId != null and pId != ''">#{pId},</if>
			<if test="themeTemplateId != null and themeTemplateId != ''">#{themeTemplateId},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="totalPay != null and totalPay != ''">#{totalPay},</if>
			<if test="prepay != null and prepay != ''">#{prepay},</if>
			<if test="releaseTermNum != null and releaseTermNum != ''">#{releaseTermNum},</if>
			<if test="approved != null and approved != ''">#{approved},</if>
			<if test="approvedRemark != null and approvedRemark != ''">#{approvedRemark},</if>
			<if test="approvedUser != null and approvedUser != ''">#{approvedUser},</if>
			<if test="isDel != null and isDel != ''">#{isDel},</if>
			<if test="releaseNote != null and releaseNote != ''">#{releaseNote},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAdSchedule" parameterType="AdSchedule">
        update zx_ad_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleName != null  and scheduleName != ''  ">schedule_name = #{scheduleName},</if>
            <if test="releaseType != null  and releaseType != ''  ">release_type = #{releaseType},</if>
            <if test="releasePosition != null  and releasePosition != ''  ">release_position = #{releasePosition},</if>
            <if test="sxScheduleId != null  ">sx_schedule_id = #{sxScheduleId},</if>
            <if test="pId != null  ">pid = #{pId},</if>
             <if test="themeTemplateId != null  ">theme_template_id = #{themeTemplateId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="totalPay != null  ">total_pay = #{totalPay},</if>
            <if test="prepay != null  ">prepay = #{prepay},</if>
            <if test="releaseTermNum != null  ">release_term_num = #{releaseTermNum},</if>
            <if test="approved != null  and approved != ''  ">approved = #{approved},</if>
            <if test="approvedRemark != null  and approvedRemark != ''  ">approved_remark = #{approvedRemark},</if>
            <if test="approvedUser != null  and approvedUser != ''  ">approved_user = #{approvedUser},</if>
            <if test="isDel != null  and isDel != ''  ">is_del = #{isDel},</if>
            <if test="releaseNote != null  and releaseNote != ''  ">release_note = #{releaseNote},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where ad_schedule_id = #{adScheduleId}
    </update>

	<delete id="deleteAdScheduleById" parameterType="Integer">
        delete from zx_ad_schedule where ad_schedule_id = #{adScheduleId}
    </delete>
	
    <delete id="deleteAdScheduleByIds" parameterType="String">
        delete from zx_ad_schedule where ad_schedule_id in 
        <foreach item="adScheduleId" collection="array" open="(" separator="," close=")">
            #{adScheduleId}
        </foreach>
    </delete>
    
</mapper>