<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-supplyTissue-add">
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>补纸设备：</label>
				<div class="col-sm-8">
					<select
						id="deviceId"
						name="deviceId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>补纸场所：</label>
				<div class="col-sm-8">
					<!-- <select id="placeId" name="placeId" class="form-control">
						<option value="">---请选择---</option>
					</select> -->
					<input id="placeId" name="placeId" class="form-control" type="hidden" readonly="readonly">
					<input id="placeName" name="placeName" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>补纸数量：</label>
				<div class="col-sm-8">
					<input id="tissueCount" name="tissueCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red;">*&nbsp;</span>补纸人员：</label>
				<div class="col-sm-8">
					<select
						id="supplierId"
						name="supplierId"
						data-live-search="true"
						class="form-control block-plugin__select-picker selectpicker"
						data-style="btn-white btn-sm">
						<option value="">---请选择---</option>
						<option th:each="c:${userList}"  th:value="${c.userId}" th:text="${c.userName}"/>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
	    $(function(){
	    	var deviceList = selectDeviceList();
	    	$.each(deviceList, function (i) {
	        	$('#deviceId').append("<option value=" + deviceList[i].deviceId + ">" + deviceList[i].deviceCode + "</option>");
	        });

	    	var placeList = selectPlaceList();
	    	$.each(placeList, function (i) {
            	$('#placeId').append("<option value=" + placeList[i].placeId + ">" + placeList[i].name + "</option>");
            });

	    	//绑定事件,选择设备之后自动选择终端和场所
	        $("#deviceId").change( function () {
	        	var deviceId = $("#deviceId option:selected").val();
		        //判断这个下拉框选中的值是否为空
		        if (deviceId == "") {
		            return;
		        }
		        var deviceObject;
		   	 	$.ajax({
		            url: ctx + "business/device/getDeviceById",
		            type: "post",
		        	contentType:"application/json",
		            dataType: "json",
		   			//要传递的数据
		            data: JSON.stringify({ "deviceId": deviceId}),
		            async:false,
		            success: function (data) {
		            	//设置终端下拉框
		            	deviceObject = data.rows[0];
		            	$("#placeId").val(deviceObject.placeId);
		            	$("#placeName").val(deviceObject.placeName);
		            },
		            error: function (data) {
		                alert("查询设备信息失败" + data);
		            }
		        })

	        })
	 	});

		var prefix = ctx + "business/supplyTissue"
		$("#form-supplyTissue-add").validate({
			rules:{
				deviceId:{
					required:true,
				},
				placeId:{
					required:true,
				},
				tissueCount:{
					required:true,
					digits:true,
					min:1
				},
				supplierId:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-supplyTissue-add').serialize());
			}
		});
	</script>
</body>
</html>
