<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agent-add">
        	<input type="hidden" name="clientId" th:value="${clientId}"/>
        	<input type="hidden" name="clientType" th:value="${clientType}"/>
			<div class="form-group">	
				<label class="col-sm-3 control-label" style="width: 120px;text-align: right;">客户名称：</label>
				<label class="" th:text="${clientName}"></label>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label" style="width: 120px;text-align: right;">账户总余额：</label>
				<label class="" th:text="${balance}"></label>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label" style="width: 120px;text-align: right;">冻结金额：</label>
				<label class="" th:text="${frozenBalance}"></label>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label" style="width: 120px;text-align: right;">可提现金额：</label>
				<label class="" th:text="${balance-frozenBalance}"></label>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label" style="width: 120px;text-align: right;">提现金额：</label>
				<input id="money" name="money" onkeyup="moneyValidate()" class="form-control" type="text" style="display: inline-block;width: auto;"/>
				<a href="javascript:void(0);" onclick="allMoney()"> &nbsp;全部提现</a>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-20" style="text-align: right;margin-top: 30px;padding: 7px 25px;">
					<button type="submit" class="btn btn-primary" id="submitButton" disabled="disabled">确定</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">
		$("#form-agent-add").validate({
			rules:{
				money:{
        			required:true
        		}
			},
			submitHandler: function(form) {
				var money = $("#money").val();
				if(/\.$/i.test(money)){
					$.modal.alertError("提现金额输入有误");
					return;
				}
				if(money > [[${balance-frozenBalance}]]){
					$.modal.alertError("超过可提现金额");
					return;
				}
				var lowestMoney = [[${lowestMoney}]];
				if(money < lowestMoney){
					$.modal.alertError("提现金额必须"+lowestMoney+"元以上");
					return;
				}
				$.modal.loading("正在处理中，请稍后...");
            	var config = {
            	        url: ctx +"client/fundLog/moneyHandle",
            	        type: "post",
            	        dataType: "json",
            	        data: $('#form-agent-add').serialize(),
            	        success: function(result) {
            	        	if (result.code == web_status.SUCCESS) {
                            	$.modal.msgSuccess(result.msg);
                        		$.modal.msgReload("操作成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                        		$.table.refresh();
                            } else {
                            	$.modal.alertError(result.msg);
                            }
                        	$.modal.closeLoading();
            	        }
            	    };
            	 $.ajax(config);
			}
		});
		function moneyValidate(){
			$("#submitButton").prop('disabled',false);
		}
		$("#money").on('input  propertychange',function(){
			//如果输入非数字，则替换为''
			this.value = this.value.replace(/[^\d\.]/g, '');
			//必须保证第一个为数字而不是.     
		    this.value = this.value.replace(/^\./g,'');
		    //保证只有出现一个.而没有多个.     
		    this.value = this.value.replace(/\.{2,}/g,'.');
		    //保证.只出现一次，而不能出现两次以上     
		    this.value = this.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
		    //只能输入两位小数
		    this.value = this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
		});

		function allMoney(){
			$("#money").val([[${balance-frozenBalance}]]);
			$("#submitButton").prop('disabled',false);
		}
	</script>
</body>
</html>
