<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
	    <div class="col-sm-12 select-info">
	      <form id="change-form">
	          <input type="hidden" th:value="${clientId}" name="clientId" id="clientId"/>
	 		  <input type="hidden" th:value="${clientType}" name="clientType" id="clientType"/>
	        <div class="select-list">
	          <ul>
		        <li>
	                <span class="select-item-name">主体名称：</span>
	                <input type="text" name="clientName"/>
	            </li>
	            <li>
	              <span class="select-item-name">转账状态：</span>
	              <select
									name="status"
									style="width: 140px;"
									data-live-search="true"
									class="block-plugin__select-picker selectpicker"
									data-style="btn-white btn-sm">
	              	<option value="">全部</option>
	              	<option value="1">转账中</option>
	              	<option value="2">转载成功</option>
	              	<option value="3">转账失败</option>
	              </select>
	            </li>
	            <li class="select-btns">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
	              </a>
	              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
	              </a>
	            </li>
	          </ul>
	        </div>
	      </form>
	    </div>
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="client:withdrawDeposit:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="client:withdrawDeposit:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var accountFlag = [[${@permission.hasPermi('client:confirm:account')}]];
        var prefix = ctx + "client/withdrawDeposit"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                search: false,
                modalName: "提现记录",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : 'ID' ,
					visible:false
				},
				{
					field : 'fundLogId',
					title : '资金流水ID' ,
					visible:false
				},
				{
					field : 'clientName',
					title : '主体名称'
				},
				{
					field : 'money',
					title : '提现金额'
				},
				{
					field : 'balance',
					title : '账户可用余额'
				},
				{
					field : 'managerPhone',
					title : '管理者电话'
				},
				{
					field : 'bankAccount',
					title : '收款账号'
				},
				{
					field : 'bankReceiver',
					title : '收款人'
				},
				{
					field : 'bankName',
					title : '开户行'
				},
				{
					field : 'status',
					title : '提现状态',formatter: function(value, row, index) {
						if(value == "1") {
							return '转账中  <a class="btn btn-success btn-xs '+accountFlag+'" href="#" onclick="transferAccounts(\'' + row.id + '\')"><i class="glyphicon glyphicon-share-alt"></i> 确认转账</a>';
						}
						if(value == "2") {return "转账成功"}
						if(value == "3") {return "转账失败"}
						return "-";
		            }
				},
				{
					field : 'createTime',
					title : '提现时间'
				},
				{
					field : 'payer',
					title : '付款者'
				},
				{
					field : 'payTime',
					title : '付款时间'
				},
				{
					field : 'updateBy',
					title : '操作者'
				},
				{
					field : 'remark',
					title : '备注'
				}]
            };
            $.table.init(options);
        });
        function transferAccounts(id){
        	$.modal.open("确认转账", ctx +"client/withdrawDeposit/toConfirmAccount/"+id, 768, 550);
        }
    </script>
</body>
</html>