<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxiang.project.record.tradeOrder.mapper.TradeOrderMapper">
    
    <resultMap type="TradeOrder" id="TradeOrderResult">
        <result property="tradeOrderId"    column="trade_order_id"    />
        <result property="outTradeOrder"    column="out_trade_order"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="refundId"    column="refund_id"    />
        <result property="openId"    column="open_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="totalFee"    column="total_fee"    />
        <result property="totalCnt"    column="total_cnt"    />
        <result property="orderType"    column="order_type"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="sendStatus"    column="send_status"    />
        <result property="remark"    column="remark"    />
        <result property="payTime"    column="pay_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectTradeOrderVo">
        select o.trade_order_id, o.out_trade_order, o.transaction_id, o.refund_id, o.open_id, 
        o.user_id,s.user_name,
        o.total_fee, o.total_cnt, o.order_type, o.order_status, o.send_status, o.remark, o.pay_time, o.create_by, o.create_time, o.update_by, o.update_time 
        from zx_trade_order o left join sys_user s on s.user_id = o.user_id
    </sql>
	
    <select id="selectTradeOrderList" parameterType="TradeOrder" resultMap="TradeOrderResult">
        <include refid="selectTradeOrderVo"/>
        <where>
             ${filterSql}  
            <if test="tradeOrderId != null and tradeOrderId != ''"> and o.trade_order_id = #{tradeOrderId}</if>
             <if test="outTradeOrder != null and outTradeOrder != ''"> and o.out_trade_order like concat('%', #{outTradeOrder}, '%')</if>
             <if test="transactionId != null and transactionId != ''"> and o.transaction_id = #{transactionId}</if>
             <if test="refundId != null and refundId != ''"> and o.refund_id = #{refundId}</if>
             <if test="openId != null and openId != ''"> and o.open_id = #{openId}</if>
             <if test="userId != null and userId != ''"> and o.user_id = #{userId}</if>
             <if test="totalFee != null and totalFee != ''"> and total_fee = #{totalFee}</if>
             <if test="totalCnt != null and totalCnt != ''"> and o.total_cnt = #{totalCnt}</if>
             <if test="orderType != null and orderType != ''"> and o.order_type = #{orderType}</if>
             <if test="orderStatus != null and orderStatus != ''"> and o.order_status = #{orderStatus}</if>
             <if test="sendStatus != null and sendStatus != ''"> and o.send_status = #{sendStatus}</if>
             <if test="remark != null and remark != ''"> and o.remark = #{remark}</if>
             <if test="payTime != null and payTime != ''"> and o.pay_time = #{payTime}</if>
             <if test="createBy != null and createBy != ''"> and o.create_by = #{createBy}</if>
             <if test="createTime != null "> and o.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and o.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and o.update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectTradeOrderById" parameterType="Integer" resultMap="TradeOrderResult">
        <include refid="selectTradeOrderVo"/>
        where o.trade_order_id = #{tradeOrderId}
    </select>
        
    <insert id="insertTradeOrder" parameterType="TradeOrder" useGeneratedKeys="true" keyProperty="tradeOrderId">
        insert into zx_trade_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tradeOrderId != null and tradeOrderId != '' ">trade_order_id,</if>
			<if test="outTradeOrder != null and outTradeOrder != '' ">out_trade_order,</if>
			<if test="transactionId != null and transactionId != '' ">transaction_id,</if>
			<if test="refundId != null and refundId != '' ">refund_id,</if>
			<if test="openId != null and openId != '' ">open_id,</if>
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="totalFee != null and totalFee != '' ">total_fee,</if>
			<if test="totalCnt != null and totalCnt != '' ">total_cnt,</if>
			<if test="orderType != null and orderType != '' ">order_type,</if>
			<if test="orderStatus != null and orderStatus != '' ">order_status,</if>
			<if test="sendStatus != null and sendStatus != '' ">send_status,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="payTime != null and payTime != '' ">pay_time,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tradeOrderId != null and tradeOrderId != ''">#{tradeOrderId},</if>
			<if test="outTradeOrder != null and outTradeOrder != ''">#{outTradeOrder},</if>
			<if test="transactionId != null and transactionId != ''">#{transactionId},</if>
			<if test="refundId != null and refundId != ''">#{refundId},</if>
			<if test="openId != null and openId != ''">#{openId},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="totalFee != null and totalFee != ''">#{totalFee},</if>
			<if test="totalCnt != null and totalCnt != ''">#{totalCnt},</if>
			<if test="orderType != null and orderType != ''">#{orderType},</if>
			<if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
			<if test="sendStatus != null and sendStatus != ''">#{sendStatus},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="payTime != null and payTime != ''">#{payTime},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateTradeOrder" parameterType="TradeOrder">
        update zx_trade_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="outTradeOrder != null  and outTradeOrder != ''  ">out_trade_order = #{outTradeOrder},</if>
            <if test="transactionId != null  and transactionId != ''  ">transaction_id = #{transactionId},</if>
            <if test="refundId != null  and refundId != ''  ">refund_id = #{refundId},</if>
            <if test="openId != null  and openId != ''  ">open_id = #{openId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="totalFee != null  ">total_fee = #{totalFee},</if>
            <if test="totalCnt != null  ">total_cnt = #{totalCnt},</if>
            <if test="orderType != null  and orderType != ''  ">order_type = #{orderType},</if>
            <if test="orderStatus != null  and orderStatus != ''  ">order_status = #{orderStatus},</if>
            <if test="sendStatus != null  and sendStatus != ''  ">send_status = #{sendStatus},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="payTime != null  and payTime != ''  ">pay_time = #{payTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where trade_order_id = #{tradeOrderId}
    </update>

	<delete id="deleteTradeOrderById" parameterType="Integer">
        delete from zx_trade_order where trade_order_id = #{tradeOrderId}
    </delete>
	
    <delete id="deleteTradeOrderByIds" parameterType="String">
        delete from zx_trade_order where trade_order_id in 
        <foreach item="tradeOrderId" collection="array" open="(" separator="," close=")">
            #{tradeOrderId}
        </foreach>
    </delete>
    
    <!-- 根据机主 查询1.未发货或部分发货的订单且2.支付完成且订单类型为3.购机订单的数据 -->
    <select id="selectUnSendList" resultMap="TradeOrderResult">
        <include refid="selectTradeOrderVo"/>
        where order_type=1 AND (send_status=0 OR send_status=2) AND order_status=1 
        <if test="userId != null and userId != ''"> and o.user_id = #{userId}</if>
    </select>
    
</mapper>