<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
  <div class="container-div">
    <div class="col-sm-12 select-info">
      <form id="terminal-form">
        <div class="select-list">
          <ul>
            <li>
              <span class="select-item-name">终端编号：</span>
              <input type="text" name="terminalCode" id="terminalCode"/>
            </li>
            <li>
              <span class="select-item-name">设备编号：</span>
              <input type="text" name="deviceSn" id="deviceSn"/>
            </li>
            <li>
              <span class="select-item-name">在线状态：</span>
              <select
                name="onlineStatus"
                id="onlineStatus"
                class="block-plugin__select-picker selectpicker"
                data-style="btn-white btn-sm">
                <option value="">全部</option>
                <option value="1">在线</option>
                <option value="0">离线</option>
              </select>
            </li>
            <li class="select-time">
              <label class="select-item-name">激活时间： </label>
              <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
              <span>-</span>
              <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
            </li>
            <li class="select-btns">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索
              </a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="addTerminalParam()" shiro:hasPermission="business:terminalParam:add">
                <i class="fa fa-plus"></i>&nbsp;参数设置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="addTerminalTimer()" shiro:hasPermission="business:terminalTimer:add">
                <i class="fa fa-plus"></i>&nbsp;定时设置
              </a>
              <a class="btn btn-success btn-rounded btn-sm" onclick="exportExcel()">
                <i class="fa fa-download"></i>&nbsp;导出
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="btn-group hidden-xs" id="toolbar" role="group">
      <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="business:terminal:remove">
        <i class="fa fa-trash-o"></i> 删除
      </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:terminal:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:terminal:remove')}]];
    var prefix = ctx + 'business/terminal';

    $(function () {
      var options = {
        url       : prefix + '/list',
        createUrl : prefix + '/add',
        updateUrl : prefix + '/edit/{id}',
        removeUrl : prefix + '/remove',
        modalName : '终端管理',
        search    : false,
        showExport: false,
        columns   : [
          {
            checkbox: true
          },
          {
            field: 'terminalId',
            title: 'ID'
          },
          {
            field: 'terminalCode',
            title: '终端编号'
          },
          {
              field: 'placeName',
              title: '场所名称'
          },
          {
            field: 'deviceSn',
            title: '设备资产编号'
          },
          {
            field: 'snCode',
            title: '板卡编号'
          },
          {
              field: 'iccId',
              title: '卡号'
          },
          {
            field: 'rssi',
            title: '终端信号强度'
          },
          {
            field: 'lastHeartTime',
            title: '心跳时间'
          },
          {
            field: 'lastLoginTime',
            title: '登录时间'
          },
          {
              field    : 'onlineStatusName',
              title    : '在线状态'           
          },
          {
            field    : 'statusName',
            title    : '终端状态'            
          },
          {
            field    : 'delFlag',
            title    : '是否删除',
            formatter: function (value) {
              if (value === '0') {
                return '否';
              } else if (value === '1') {
                return '是';
              } else {
                return '-';
              }
            }
          },
          {
            field: 'lon',
            title: '经度'
          },
          {
            field: 'lat',
            title: '纬度'
          },
          {
            field: 'version',
            title: '终端版本'
          },
          {
            field: 'createBy',
            title: '创建者'
          },
          {
            field: 'createTime',
            title: '激活时间'
          },
          {
            field: 'updateBy',
            title: '修改者'
          },
          {
            field: 'updateTime',
            title: '修改时间'
          },
          {
            field: 'logUrl',
            title: '查看日志',
            formatter: function(value, row, index) {
           	 	var actions = [];
           	 	if (value != null && value != '') {
                 	actions.push('<a class="btn btn-success btn-xs" href='+ value +' target="_blank" title="查看日志">日志</a> ');
           	 	}else {
               		return '-';
             	}
              	return actions.join('');
         	}
          },
          {
            title    : '操作',
            align    : 'center',
            formatter: function (value, row, index) {
              var actions = [];
             /*  actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' +
                row.terminalId + '\')"><i class="fa fa-edit"></i>编辑</a> '); */
              actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="reportLog(\'' 
            		  + row.terminalId + '\')"><i class="fa fa-upload"></i>上报日志</a> ');
              actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' +
                row.terminalId + '\')"><i class="fa fa-remove"></i>删除</a>');
              return actions.join('');
            }
          }]
      };
      $.table.init(options);
      $('#bootstrap-table').bootstrapTable('hideColumn', 'terminalId');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'lon');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'lat');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'delFlag');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'createBy');
      //$('#bootstrap-table').bootstrapTable('hideColumn', 'createTime');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'updateBy');
      $('#bootstrap-table').bootstrapTable('hideColumn', 'updateTime');
    });

    //添加终端参数弹窗函数
    function addTerminalParam (id) {
      var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns(
        $.table._option.id);
      if (rows.length == 0) {
        $.modal.alertWarning('请选择一条记录');
        return;
      }
      if (rows.length > 1) {
        $.modal.alertWarning('只能选择一条记录');
        return;
      }

      //var url = ctx + "business/terminalParam/add";
      //$.modal.open("添加终端参数", url);
      //采用列表的形式处理
      var terminaId = $.table.selectColumns($.table._option.columns[1].field);
      var url = prefix + '/terminalParamDetail/' + terminaId;
      createMenuItem(url, '终端参数');
    }

    //添加终端定时弹窗函数
    function addTerminalTimer (id) {
    	var rows = $.common.isEmpty($.table._option.id) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.id);
      	if (rows.length == 0) {
        	$.modal.alertWarning('请选择一条记录');
        	return;
      	}
      	if (rows.length > 1) {
        	$.modal.alertWarning('只能选择一条记录');
        	return;
      	}
    		      
    	var url = ctx + 'business/terminalTimer/timerEdit/' + rows;
      	$.modal.open('终端定时设置', url);
    }

    //批量导入终端编号弹窗函数
    function batchImport () {
      	var url = ctx + 'business/terminal/batchImport';
      	$.modal.open('批量导入终端编号', url);
    }
    
    //导出Excel
    function exportExcel(){
	   	$.modal.confirm("确认导出？", function() {
	    	var terminalCode = $("#terminalCode").val();
	   		var deviceSn = $("#deviceSn").val();
	   		var onlineStatus = $("#onlineStatus").val();
	   		var startTime = $("#startTime").val();
	   		var endTime = $("#endTime").val();
	   		
			location.href = prefix + "/excelExport?terminalCode="+terminalCode+'&deviceSn='+deviceSn
					+'&onlineStatus='+onlineStatus+'&startTime='+startTime+'&endTime='+endTime
	   		//$.modal.alert("导出成功!");
		});
    }
    
    //上报日志
    function reportLog(terminalId) {
    	$.ajax({
    		cache : true,
    		type : "POST",
    		url : prefix + "/reportLog",
    		data : {
    			"terminalId": terminalId
    		},
    		async : false,
    		error : function(request) {
    			$.modal.alertError("系统错误");
    		},
    		success : function(data) {
    			$.modal.msgSuccess(data.msg);
    			//$.table.search();
    		}
    	});
  	}
  
  </script>
</body>
</html>